@model List<ERP_DTO.PurchaseReturnBatch_DTO>

<table class="table table-bordered table-hover align-middle w-100">
    <thead>
        <tr class="table-info">
            <th>Date</th>
            <th>Batch Number</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Batch Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="IBatTableBody">
        <tr id="IBatTempRow" style="display: none;">
            <td>
                <input id="PRI_BCH_PRI_Number" class="PRI_BCH_PRI_Number" type="hidden" />
                <input id="PRI_BCH_Item_Number" class="PRI_BCH_Item_Number" type="hidden" />
                <input id="PRI_BCH_Item_Index" class="PRI_BCH_Item_Index" type="hidden" />
                <input id="PRI_BCH_Date" class="form-control Key datePRcker PRI_BCH_Date" autocomplete="off" />
            </td>
            <td>
                <input id="PRI_BCH_No" class="form-control PRI_BCH_No" autocomplete="off" />
            </td>
            <td>
                <input id="PRI_BCH_Qty" class="form-control PRI_BCH_Qty" autocomplete="off" />
            </td>
            <td>
                <input id="PRI_BCH_UnitPrice" class="form-control PRI_BCH_UnitPrice decimal text-end" readonly autocomplete="off" />
            </td>
            <td>
                <input id="PRI_BCH_Value" class="form-control PRI_BCH_Value decimal text-end" readonly autocomplete="off" />
            </td>
            <td>
                <input type="hidden" name="PRI_BCH_IsDeleted" class="PRI_BCH_IsDeleted" value="false" />
                <a class="IBatRowRemove btn btn-sm btn-danger p-1 icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </a>
            </td>
        </tr>
        @if (Model != null)
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="IBatNewRow">
                    <td>
                        <input id="PRI_BCH_PRI_Number" name="ItemBatch[@i].PRI_BCH_PRI_Number" type="hidden" class="PRI_BCH_PRI_Number" value="@Model[i].PRI_BCH_PRI_Number" />
                        <input id="PRI_BCH_Item_Number" name="ItemBatch[@i].PRI_BCH_Item_Number" class="PRI_BCH_Item_Number" type="hidden" value="@Model[i].PRI_BCH_Item_Number" />
                        <input id="PRI_BCH_Item_Index" name="ItemBatch[@i].PRI_BCH_Item_Index" class="PRI_BCH_Item_Index" type="hidden" value="@Model[i].PRI_BCH_Item_Index" />
                        <input id="PRI_BCH_Date" name="ItemBatch[@i].PRI_BCH_Date" class="form-control Key datePRcker PRI_BCH_Date" autocomplete="off" value="@Model[i].PRI_BCH_Date" />
                    </td>
                    <td>
                        <input id="PRI_BCH_No" name="ItemBatch[@i].PRI_BCH_No" class="form-control PRI_BCH_No" autocomplete="off" value="@Model[i].PRI_BCH_No" />
                    </td>
                    <td>
                        <input id="PRI_BCH_Qty" name="ItemBatch[@i].PRI_BCH_Qty" class="form-control PRI_BCH_Qty" autocomplete="off" value="@Model[i].PRI_BCH_Qty" />
                    </td>
                    <td>
                        <input id="PRI_BCH_UnitPrice" name="ItemBatch[@i].PRI_BCH_UnitPrice" readonly class="form-control PRI_BCH_UnitPrice decimal text-end" autocomplete="off" value="@Model[i].PRI_BCH_UnitPrice" />
                    </td>
                    <td>
                        <input id="PRI_BCH_Value" name="ItemBatch[@i].PRI_BCH_Value" readonly class="form-control PRI_BCH_Value decimal text-end" autocomplete="off" value="@Model[i].PRI_BCH_Value" />
                    </td>
                    <td>
                        @if (@Model[i].PRI_BCH_Number != 0)
                        {
                            <input name="ItemBatch[@i].PRI_BCH_Number" type="hidden" class="Number" value="@Model[i].PRI_BCH_Number" />
                        }
                        <input type="hidden" name="ItemBatch[@i].PRI_BCH_IsDeleted" value="false" class="PRI_BCH_IsDeleted" />
                        <a class="IBatRowRemove btn btn-sm btn-danger p-1 icon-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr class="table-info">
            <td></td>
            <td class="text-end">Total Qty:</td>
            <td>
                <input id="BatchTotalQty" class="form-control" readonly />
            </td>
            <td></td>
            <td>
                <input id="BatchTotalValue" class="form-control" readonly />
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
<a id="IBatNewRowButton" class="btn btn-primary">Add Row</a>
<script>
    $(document).ready(function () {
        var rowCount = @(Model != null ? Model.Count : 0);
        var isAddingRow = false;

        function IBatNewRow() {
            var IBatNewRow = $("#IBatTempRow").clone().removeAttr("style").removeAttr("id").addClass("IBatNewRow");
            IBatNewRow.find("input.PRI_BCH_PRI_Number").attr("name", "ItemBatch[" + rowCount + "].PRI_BCH_PRI_Number").val($("#PRI_BATCH_PRINumber").val());
            IBatNewRow.find("input.PRI_BCH_Item_Number").attr("name", "ItemBatch[" + rowCount + "].PRI_BCH_Item_Number").val($("#PRI_BATCH_ItemNumber").val());
            IBatNewRow.find("input.PRI_BCH_Item_Index").attr("name", "ItemBatch[" + rowCount + "].PRI_BCH_Item_Index").val($("#PRI_BATCH_ItemIndex").val());
            IBatNewRow.find("input.PRI_BCH_Date").attr("name", "ItemBatch[" + rowCount + "].PRI_BCH_Date").val($("#PRH_ReturnDate").val());;
            IBatNewRow.find("input.PRI_BCH_No").attr("name", "ItemBatch[" + rowCount + "].PRI_BCH_No");
            IBatNewRow.find("input.PRI_BCH_Qty").attr("name", "ItemBatch[" + rowCount + "].PRI_BCH_Qty");
            IBatNewRow.find("input.PRI_BCH_UnitPrice").attr("name", "ItemBatch[" + browCount + "].PRI_BCH_UnitPrice").val($("#PRI_BATCH_Unit_Price").val());
            IBatNewRow.find("input.PRI_BCH_Value").attr("name", "ItemBatch[" + browCount + "].PRI_BCH_Value");
            IBatNewRow.find("input.PRI_BCH_IsDeleted").attr("name", "ItemBatch[" + browCount + "].PRI_BCH_IsDeleted").val("false");

            IBatNewRow.find("input[name='ItemBatch[" + rowCount + "].PRI_BCH_IsDeleted']").val(false);

            $("#IBatTableBody").append(IBatNewRow);
            rowCount++;
            IBatNewRow.data("isValid", false);
            isAddingRow = false;
        }

        $(document).on('click', '.ItemBatch', function () {
            let CheckedCheckbox = document.querySelector('.CheckItem:checked');
            if (CheckedCheckbox) {
                var currentRow = $(CheckedCheckbox).closest('tr.NewRow');

                var ItemNumber = currentRow.find('input.PRI_Item_Number').val();
                var Index = currentRow.find('input.PRI_Index').val();
                var Qty = currentRow.find('input.PRI_Qty').val();
                var PRINumber = currentRow.find('input.PRI_Number').val();

                if (PRINumber) {
                    $("#PRI_BATCH_PRINumber").val(PRINumber);
                    $("#PRI_BATCH_ItemNumber").val(ItemNumber);
                    $("#PRI_BATCH_ItemIndex").val(Index);
                    $("#PRI_BATCH_Qty").val(removeCommas(Qty));
                    $("#PRI_BATCHQty").text(removeCommas(Qty));

                    $("tr.IBatNewRow").each(function () {
                        var PRI_BCH_IsDeleted = $(this).find("input[name*='PRI_BCH_IsDeleted']").val() === "true";
                        if (!PRI_BCH_IsDeleted) {
                            $(this).show();
                        }
                    });

                    var cout = 0;
                    $("tr.IBatNewRow").each(function () {
                        var RowItemNumber = $(this).find("input.PRI_BCH_PRI_Number").val();
                        var PRI_BCH_IsDeleted = $(this).find("input.PRI_BCH_IsDeleted").val();

                        if (RowItemNumber === PRINumber && PRI_BCH_IsDeleted !== 'true') {
                            $(this).show();
                            cout++;
                        } else {
                            $(this).hide();
                        }
                    });

                    if (cout === 0) {
                        IBatNewRow();
                    }

                    new bootstrap.Modal($("#IBatch")).show();
                    $('#IBatch').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();
                    });
                }
                else if (ItemNumber) {
                    $("#PRI_BATCH_PRINumber").val(PRINumber);
                    $("#PRI_BATCH_ItemNumber").val(ItemNumber);
                    $("#PRI_BATCH_ItemIndex").val(Index);
                    $("#PRI_BATCH_Qty").val(removeCommas(Qty));
                    $("#PRI_BATCHQty").text(removeCommas(Qty));

                    $("tr.IBatNewRow").each(function () {
                        var PRI_BCH_IsDeleted = $(this).find("input[name*='PRI_BCH_IsDeleted']").val() === "true";
                        if (!PRI_BCH_IsDeleted) {
                            $(this).show();
                        }
                    });

                    var cout = 0;
                    $("tr.IBatNewRow").each(function () {
                        var RowItemNumber = $(this).find("input.PRI_BCH_Item_Number").val();
                        var RowItemIndex = $(this).find("input.PRI_BCH_Item_Index").val();
                        var PRI_BCH_IsDeleted = $(this).find("input.PRI_BCH_IsDeleted").val();

                        if (RowItemNumber === ItemNumber && RowItemIndex === Index && PRI_BCH_IsDeleted !== 'true') {
                            $(this).show();
                            cout++;
                        } else {
                            $(this).hide();
                        }
                    });

                    if (cout === 0) {
                        IBatNewRow();
                    }

                    new bootstrap.Modal($("#IBatch")).show();
                    $('#IBatch').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();
                    });
                }
                (async () => {
                    BatchCalculateFooter();
                })();
            }
        });

        $(document).on('click', '.IBatRowRemove', function () {
            $(this).closest('tr').find("input[name*='PRI_BCH_IsDeleted']").val(true);
            $(this).closest('tr').hide();

            (async () => {
                BatchCalculateFooter();
            })();
        });

        $(document).on('keydown', "tr.IBatNewRow select, tr.IBatNewRow input.PRI_BCH_Qty, tr.IBatNewRow input[type='text']", function (event) {
            if (event.keyCode === 9) {
                if (!IBatValidateField($(this)))
                    event.preventDefault();
            }
        });

        $(document).on("change", "tr.IBatNewRow select, tr.IBatNewRow input.PRI_BCH_Qty, input[type='text']", function () {
            if (isAddingRow)
                return;
            isAddingRow = true;

            var currentInput = $(this);
            var isValid = IBatValidateField(currentInput);
            var currentRow = $(this).closest("tr.IBatNewRow");
            if (isValid) {
                if (IBatCheckAllFieldsValid(currentRow)) {
                    currentRow.data("isValid", true);
                }
                else {
                    currentRow.data("isValid", false);
                }
            }
            else {
                currentRow.data("isValid", false);
            }
            if (currentRow.data("isValid")) {
                var lastRow = $("tr.IBatNewRow").last();
                if (IBatCheckAllFieldsValid(lastRow))
                    IBatNewRow();
            }
            else {
                isAddingRow = false;
            }
        });

        $(document).on('input', "tr.IBatNewRow input.PRI_BCH_Qty", function (event) {
            var row = $(this).closest("tr.IBatNewRow");
            var Qty = parseFloat(removeCommas(row.find("input.PRI_BCH_Qty").val())) || 0;
            var UnitPrice = parseFloat(removeCommas(row.find("input.PRI_BCH_UnitPrice").val())) || 0;
            var BatchValue = Qty * UnitPrice;

            row.find("input.PRI_BCH_Value").val(DecimalIndianRupees(BatchValue));

            (async () => {
                BatchCalculateFooter();
            })();
        });

        function IBatCheckAllFieldsValid(currentRow) {
            var allFieldsValid = true;
            $("tr.IBatNewRow:visible").each(function () {
                $(this).find("select, input.PRI_BCH_Qty, input[type='text']").each(function () {
                    if (!IBatValidateField($(this))) {
                        allFieldsValid = false;
                        return false;
                    }
                });
                if (!allFieldsValid) return false;
            });
            return allFieldsValid;
        }

        function IBatValidateField(currentInput) {
            var valid = 1;
            var inputValue = currentInput.val();
            if (inputValue === "") {
                valid = 0;
            }
            if (currentInput.hasClass(".PRI_BCH_Qty")) {
                valid = ExValidateAmount(currentInput);
            }
            if (valid == 0) {
                return false;
            }
            else {
                return true;
            }
        }

        function ExValidateAmount(currentInput) {
            var valid = 1;

            var currentRow = currentInput.closest("tr.IBatNewRow");
            var PercentInput = currentRow.find("input.PRI_BCH_Qty");
            var Percent = removeCommas(PercentInput.val());
            if (Percent > 0) {
            }
            else {
                valid = 0;
            }
            return valid;
        }

        $("#IBatCloseButton").click(function () {
            var ItemQty = $("#PRI_BATCH_Qty").val();
            var BatchQty = 0;
            $("tr.IBatNewRow:visible").each(function () {
                var irow = $(this);
                var PRI_BCH_IsDeleted = $(this).find("input[name*='PRI_BCH_IsDeleted']").val() === "true";
                if (!PRI_BCH_IsDeleted) {
                    var Date = $(this).find("input.PRI_BCH_Date").val();
                    var No = $(this).find("input.PRI_BCH_No").val();
                    var Qty = $(this).find("input.PRI_BCH_Qty").val();
                    
                    if (!No && !(Qty > 0)) {
                        $(this).remove();
                    }
                    else{
                        BatchQty += parseFloat(Qty);
                    }
                }
            });

            if (parseFloat(ItemQty) === parseFloat(BatchQty)) {
                var lastRow = $("tr.IBatNewRow").last();
                if (IBatCheckAllFieldsValid(lastRow)) {
                    $("#IBatch").modal('hide');
                }
                else {
                    alert("Please complete all fields !");
                }

                $("tr.IBatNewRow").each(function () {
                    var PRI_BCH_IsDeleted = $(this).find("input[name*='PRI_BCH_IsDeleted']").val() === "true";
                    if (!PRI_BCH_IsDeleted) {
                        $(this).show();
                    }
                });
            }
            else{
                alert("Qty Mismatch !");
                $("#IBatch").modal('hide');
            }
        });

        $("#IBatNewRowButton").click(function () {
            var lastRow = $("tr.IBatNewRow").last();
            if (IBatCheckAllFieldsValid(lastRow)) {
                IBatNewRow();
            }
            else {
                var firstInvalidField = null;
                lastRow.find("select, input.PRI_BCH_Qty, input[type='text']").each(function () {
                    if (!IBatValidateField($(this))) {
                        if (firstInvalidField == null)
                            firstInvalidField = $(this);
                        return false;
                    }
                });
                if (firstInvalidField != null) {
                    alert("Please complete all fields !");
                    firstInvalidField.focus();
                }
            }


            (async () => {
                BatchCalculateFooter();
            })();
        });

        async function BatchCalculateFooter() {
            var BtotalQty = 0;
            var BtotalValue = 0;

            $("tr.IBatNewRow:visible").each(function () {
                var row = $(this);
                var PRI_BCH_IsDeleted = $(this).find("input.PRI_BCH_IsDeleted").val() === "true";
                if (!PRI_BCH_IsDeleted) {
                    var Qty = parseFloat(removeCommas(row.find("input.PRI_BCH_Qty").val()));
                    var Value = parseFloat(removeCommas(row.find("input.PRI_BCH_Value").val()));

                    if (Qty != '') {
                        BtotalQty += parseFloat(Qty);
                    }
                    if (Value != '') {
                        BtotalValue += parseFloat(Value);
                    }
                }
            });

            $("#BatchTotalQty").val(BtotalQty.toFixed(2));
            $("#BatchTotalValue").val(BtotalValue.toFixed(2));
        }
        window.onload = BatchCalculateFooter();
    });
</script>
<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height: 300px;
    }
</style>