@model ERP_DTO.PurchaseReturnHead_DTO


@{
    ViewData["Title"] = "Purchase Return View";
}
@using System.Globalization;
@{
    CultureInfo India = new CultureInfo("hi-IN");
}
<script>

    function removeCommas(value) {
        if (!value) return '0';
        return value.replace(/,/g, '');
    }
</script>
<form asp-action="PurchaseReturnPreview" class="h-100">
    
    <div class="modal modal-lg modal-xl fade" id="Expense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Expense</p>
                </div>
                <div class="modal-body py-4 text-dark fs-6 text-center icon-link justify-content-center">
                    
                            <div class="w-100 table-responsive">
                                <partial name="PurchaseReturnExpensePreview.cshtml" model="@Model.Expenses" />
                            </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="ExCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg modal-xl fade" id="IExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Item Expense</p>
                </div>
                <div class="modal-body py-4 text-dark icon-link justify-content-center">

                    <div class="w-100 table-responsive">
                                <partial name="PurchaseReturnIExpensePreview.cshtml" model="@Model.ItemExpenses" />
                            </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="IExCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="GSTView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Cluster</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                        <div id="GSTTableView" class="w-100 table-responsive"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="IBatch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title w-100">
                        Batch <span class="float-end">
                            Item Qty : <span id="PRI_BATCHQty"></span>
                        </span>
                    </p>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                    <div class="table-responsive w-100">
                                <partial name="PurchaseReturnBatchPreview.cshtml" model="@Model.ItemBatch" />
                            </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="IBatCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="TaxView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Header Tax View</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                    <div id="TaxTableView" class="w-100 table-responsive"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center panel-header h-auto">
        <div class="col">
            <div class="card rounded-0 mt-3">
                <div class="card-body px-2 py-2">
                    <h1 class="h6 fw-light">
                        Purchase Return
                        <a asp-controller="Procurement" asp-action="Index" class="float-end btn p-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel-body">
        <div class="col-12 panel-card-fixed" id="BodyHeight">
            <div class="w-100 rounded-0 border border-primary bg-transparent">
                <div class="card rounded-0 bg-transparent shadow-none" id="CardHeader">
                    <div class="card-body pb-0 pt-2">
                        <div class="row">
                            <div class="col pb-3">
                                    <a onclick="Print()" class="float-end btn btn-primary me-5">Print</a>
                                    <button type="button" class="float-end btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#PrintPreview">
                                        Print View
                                    </button>

                                    <button class="float-end btn me-2 btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Download
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><input type="submit" name="Mode" value="Ascii" class="dropdown-item" /></li>
                                        <li><input type="submit" name="Mode" value="Excel" class="dropdown-item" /></li>
                                        <li><input type="submit" name="Mode" value="PDF" class="dropdown-item" /></li>
                                    </ul>

                                    <input type="submit" name="Mode" value="Delete" class="float-end btn btn-danger me-2" />

                                    <a asp-controller="Procurement" asp-action="PurchaseReturnEdit" class="float-end btn btn-primary me-2" asp-all-route-data="@(new Dictionary<String,String> { { "PR_No", ViewBag.PR_No.ToString() } })">
                                        Edit
                                    </a>
                            </div>
                        </div>
                        <div class="row">
                        <partial name="PurchaseReturnHeadPreview.cshtml" model="@Model" />
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 bg-transparent shadow-none" id="CardBody">
                    <div class="card-body h-100">
                        <div class="row h-100">
                            <div class="col-auto left-menu h-100">
                                <ul class="nav nav-tabs tab-header">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page">Item</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark">Other</a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-body tab-body-h-o">
                                    <div class="tab-pane fade show active p-2 pb-0 border border-top-0 h-100 table-fixed" tabindex="0">
                                        <div class="row h-100">
                                            <partial name="PurchaseReturnItemPreview.cshtml" model="@Model.ReturnItems" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto right-menu text-center border-start">
                                <a class="ItemExpense btn btn-sm btn-primary px-2 mb-2 w-100">
                                    Misc Expense
                                </a>
                                <a class="GSTView btn btn-sm btn-primary px-2 mb-2 w-100">
                                    GST View
                                </a>
                                <a class="ItemBatch btn btn-sm btn-primary px-2 mb-2 w-100">
                                    Batch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded-0 bg-transparent shadow-none pt-0" id="CardFooter">
                    <div class="card-body text-black pt-0">
                        <div class="row">
                            <div class="col-auto left-menu">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-3 px-4">
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_MaterialCost" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_MaterialCost" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_ItemMiscExpense" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_ItemMiscExpense" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_HeaderMiscExpense" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_HeaderMiscExpense" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_GST_Amount" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_GST_Amount" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_ReturnAmount" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_ReturnAmount" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 px-4">
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_WHT_Amount" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_WHT_Amount" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_RoundOff" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_RoundOff" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PRH_VendorReceivable" class="col-md-6 col-lg-5 col-form-label ps-0"></label>
                                            <div class="col-md-6 col-lg-7">
                                                <input asp-for="PRH_VendorReceivable" class="form-control-plaintext text-black text-end" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto right-menu text-centert">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input id="PRI_EXP_ItemNumber" type="hidden" />
    <input id="PRI_EXP_ItemIndex" type="hidden" />
    <input id="PRI_EXP_Qty" type="hidden" />
    <input id="PRI_EXP_MatrialValue" type="hidden" />

    <input id="PRI_BATCH_ItemNumber" type="hidden" />
    <input id="PRI_BATCH_ItemIndex" type="hidden" />
    <input id="PRI_BATCH_Qty" type="hidden" />


    <div class="modal modal-lg modal-xl fade" id="PrintPreview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Print Preview</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-4 text-dark fs-6 text-center icon-link justify-content-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col pb-1 pt-4">
                                <div class="po-container" name="PrintPage" id="PrintPage" style="background-color: #fff;color:#000">
                                    <style>
                                        .po-container {
                                            max-width: 800px;
                                            margin: auto;
                                            background-color: #fff;
                                            padding: 20px;
                                            height: 100%;
                                            font-size: 10px;
                                            font-family: "Noto Sans", sans-serif;
                                        }

                                        .po-table {
                                            width: 100%;
                                            border-collapse: collapse;
                                            border: 0.1px solid #ccc;
                                            font-size: 10px;
                                            font-family: "Noto Sans", sans-serif;
                                        }

                                            .po-table th, .po-table td {
                                                border: 0.1px solid #ccc;
                                                padding: 5px 8px;
                                                vertical-align: top;
                                                line-height: 1.4;
                                            }

                                            .po-table th {
                                                font-weight: bold;
                                            }

                                            .po-table tr td {
                                                height: 29px;
                                            }

                                        .header-main {
                                            background-color: #1E8449;
                                            color: white;
                                            font-weight: bold;
                                            text-align: center;
                                        }

                                        .header-section {
                                            background-color: #2ECC71;
                                            color: white;
                                            font-weight: bold;
                                            text-align: center;
                                        }

                                        .header-sub {
                                            background-color: #ABEBC6;
                                            color: #333;
                                            font-weight: bold;
                                        }

                                        .align-right {
                                            text-align: right;
                                        }

                                        .align-center {
                                            text-align: center;
                                        }

                                        .company-title {
                                            font-size: 1.4em;
                                            font-weight: bold;
                                            text-align: center;
                                            vertical-align: middle;
                                        }

                                        .po-title {
                                            font-size: 1.2em;
                                            font-weight: bold;
                                            text-align: center;
                                            vertical-align: middle;
                                        }

                                        .placeholder {
                                            color: #777;
                                            font-style: italic;
                                        }

                                        .total-row td {
                                            background-color: #2ECC71;
                                            color: white;
                                            font-weight: bold;
                                        }

                                        .no-border {
                                            border: none !important;
                                        }

                                        .signature-area td {
                                            border: none;
                                            padding-top: 15px;
                                            padding-bottom: 5px;
                                        }

                                        a.details-link {
                                            color: #0000EE;
                                            text-decoration: underline;
                                        }
                                    </style>
                                    <table class="po-table" style="background-color: #fff;color:#000">
                                        <tbody>
                                            <tr>
                                                <td colspan='2' style='vertical-align: middle; text-align: center;'>[LOGO]</td>
                                                <td colspan='10' class='company-title'>ABC PRIVATE LIMITED</td>
                                            </tr>
                                            <tr>
                                                <td colspan='12'></td>
                                            </tr>
                                            <tr class='header-section'>
                                                <td colspan='6'>VENDOR</td>
                                                <td colspan='6'>Purchase Return</td>
                                            </tr>
                                            <tr>
                                                <td colspan='6'>@ViewBag.VendorPreview.VendorName</td>
                                                <td colspan='3'>GRN Number</td>
                                                <td colspan='3'>@ViewBag.HeadPreview.PRH_ReturnNo</td>
                                            </tr>
                                            <tr>
                                                <td colspan='6' rowspan='3'>@ViewBag.VendorPreview.Address</td>
                                                <td colspan='3'>Date</td>
                                                <td colspan='3'>@ViewBag.HeadPreview.PRH_ReturnDate</td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>Purchase Order Number</td>
                                                <td colspan='3'></td>
                                            </tr>
                                            <tr>
                                                <td colspan='3'>Date</td>
                                                <td colspan='3'></td>
                                            </tr>
                                            <tr>
                                                <td colspan='6'>@ViewBag.VendorPreview.City, @ViewBag.VendorPreview.State, @ViewBag.VendorPreview.Pincode</td>
                                                <td colspan='3'>Currency</td>
                                                <td colspan='3'>@ViewBag.HeadPreview.PRH_Currency</td>
                                            </tr>
                                            <tr>
                                                <td colspan='6'>GST: @ViewBag.VendorPreview.GSTIN</td>
                                                <td colspan='3'>Exchange Rate</td>
                                                <td colspan='3'>@ViewBag.HeadPreview.PRH_ExchangeRate</td>
                                            </tr>
                                            <tr>
                                                <td colspan='6'>PAN: @ViewBag.VendorPreview.PAN</td>
                                                <td colspan='3'>Tax Cluster</td>
                                                <td colspan='3'>@ViewBag.HeadPreview.PRH_TaxCluster</td>
                                            </tr>
                                            <tr>
                                                <td colspan='6'></td>
                                                <td colspan='3'>Withhold Tax Code</td>
                                                <td colspan='3'>@ViewBag.HeadPreview.PRH_WHT_Code</td>
                                            </tr>
                                            <tr class='header-section'>
                                                <th>HSN Code</th>
                                                <th>Item group</th>
                                                <th>Item Code</th>
                                                <th colspan='3'>Description</th>
                                                <th class='align-center'>Uom</th>
                                                <th colspan='1' class='align-center'>Qty</th>
                                                <th colspan='2' class='align-right'>Unit Price</th>
                                                <th colspan='2' class='align-right'>Value</th>
                                            </tr>
                                            @if (ViewBag.ItemPreview != null)
                                            {
                                                for (Int32 i = 0; i < ViewBag.ItemPreview.Count; i++)
                                                {
                                                    <tr>
                                                        <td colspan="1">@ViewBag.ItemPreview[i].PRI_HSN</td>
                                                        <td colspan="1">@ViewBag.ItemPreview[i].PRI_ItemGroup</td>
                                                        <td colspan="1">@ViewBag.ItemPreview[i].PRI_ItemCode</td>
                                                        <td colspan="3">@ViewBag.ItemPreview[i].PRI_Description</td>
                                                        <td class="align-center">@ViewBag.ItemPreview[i].PRI_UoM</td>
                                                        <td colspan="1" class="align-center">@ViewBag.ItemPreview[i].PRI_Qty</td>
                                                        <td colspan="2" class="align-right">@String.Format(India, "{0:N2}", Convert.ToDouble(ViewBag.ItemPreview[i].PRI_UnitPrice))</td>
                                                        <td colspan="2" class="align-right">@String.Format(India, "{0:N2}", Convert.ToDouble(ViewBag.ItemPreview[i].PRI_Amount))</td>
                                                    </tr>
                                                }

                                                Int32 Count = 10 - Convert.ToInt32(ViewBag.ItemPreview.Count);
                                                if (Count > 0)
                                                {
                                                    for (Int32 i = 0; i < Count; i++)
                                                    {
                                                        <tr>
                                                            <td colspan='1'></td>
                                                            <td colspan='1'></td>
                                                            <td colspan='1'></td>
                                                            <td colspan='3'></td>
                                                            <td class='align-center'></td>
                                                            <td colspan='1' class='align-center'></td>
                                                            <td colspan='2' class='align-right'></td>
                                                            <td colspan='2' class='align-right'></td>
                                                        </tr>
                                                    }
                                                }
                                            }

                                            @{
                                                Double Mis = Convert.ToDouble(@ViewBag.HeadPreview.PRH_ItemMiscExpense) + Convert.ToDouble(@ViewBag.HeadPreview.PRH_HeaderMiscExpense);
                                            }
                                            <tr>
                                                <td colspan='2'>Matrial Cost</td>
                                                <td colspan='2'>Misc. Expense</td>
                                                <td colspan='1'>GST</td>
                                                <td colspan='2'>Return Amount</td>
                                                <td colspan='2'>WH Tax</td>
                                                <td colspan='1'>Round off</td>
                                                <td colspan='2'>Payable</td>
                                            </tr>
                                            <tr>
                                                <td colspan='2'>@ViewBag.HeadPreview.PRH_MaterialCost</td>
                                                <td colspan='2'>@Mis</td>
                                                <td colspan='1'>@ViewBag.HeadPreview.PRH_GST_Amount</td>
                                                <td colspan='2'>@ViewBag.HeadPreview.PRH_ReturnAmount</td>
                                                <td colspan='2'>@ViewBag.HeadPreview.PRH_WHT_Amount</td>
                                                <td colspan='1'>@ViewBag.HeadPreview.PRH_RoundOff</td>
                                                <td colspan='2'>@ViewBag.HeadPreview.PRH_VendorReceivable</td>
                                            </tr>
                                            <tr>
                                                <td class="no-border" style="font-weight: bold;">Tax</td>
                                                <td colspan="5" class="no-border"></td>
                                                <td colspan="6" class="no-border"></td>
                                            </tr>
                                            <tr>
                                                <td class="no-border" style="font-weight: bold;">Remarks</td>
                                                <td colspan="11" class="no-border"></td>
                                            </tr>
                                            <tr class="signature-area"> <td colspan="12"> </td> </tr>
                                            <tr class="signature-area"> <td colspan="12"> </td> </tr>
                                            <tr class="signature-area">
                                                <td colspan="8"></td>
                                                <td colspan="4" class="align-center">for ABC Private Limited</td>
                                            </tr>
                                            <tr class="signature-area"> <td colspan="12"> </td> </tr>
                                            <tr class="signature-area">
                                                <td colspan="8"></td>
                                                <td colspan="4" class="align-center" style="border-top: 1px solid #000; padding-top: 5px;">Authorized Signatory</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a onclick="Print()" class="btn btn-primary me-5">Print</a>
                    <button type="button" id="PreviewButton" class="btn btn-primary px-4" ref="always_focus" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/site.js"></script>

<script>
    $('.navbar-nav > .nav-Vendor.inventory > a').addClass("active");
</script>


<script>
    function Print() {
        $("#PreviewButton").click();

        var printContents = document.getElementById("PrintPage").innerHTML;

        const iframe = document.createElement('iframe');
        document.body.appendChild(iframe);
        const iframeDoc = iframe.contentWindow.document;
        iframeDoc.open();
        iframeDoc.write(printContents);
        iframeDoc.close();

        setTimeout(() => {
            try {
                iframe.contentWindow.focus();
                iframe.contentWindow.print();
            } catch (error) { console.error("Printing from iframe failed:", error); }
            finally { setTimeout(() => { document.body.removeChild(iframe); }, 1000); }
        }, 250);
    }


    function DecimalIndianRupees(value) {
        if (value === "" || isNaN(value)) {
            return "0.00";
        }

        var formattedValue = parseFloat(value).toFixed(2);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }


    function NumberToIndianRupees(value, decimalPlaces) {
        if (value === "" || isNaN(value)) {
            return "0";
        }

        var formattedValue = parseFloat(value).toFixed(decimalPlaces);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");

        if (parseFloat(value) % 1 === 0) {
            return parts[0];
        }
        return parts.join(".");
    }
    $(".QtyNumbers").each(function () {
        var value = $(this).val();
        var decimalPlaces = $(this).closest('tr').find("input.PRI_DecimalPlaces").val();
        if (decimalPlaces === "" || isNaN(value)) {
            decimalPlaces = 2;
        }
        $(this).val(NumberToIndianRupees(value, decimalPlaces));
    });
    $(document).on("blur", ".QtyNumbers", function () {
        var value = $(this).val();
        var decimalPlaces = $(this).closest('tr').find("input.PRI_DecimalPlaces").val();

        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0");
        } else {
            $(this).val(NumberToIndianRupees(value, decimalPlaces));
        }
    });
    $(document).on("focus", ".QtyNumbers", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });


    $(".UnitDecimal").each(function () {
        var ValueResult = "0";
        var value = $(this).val();
        var decimalPlaces = $("#PRH_DecimalPlaces").val();
        if (decimalPlaces === "" || isNaN(value)) {
            decimalPlaces = 2;
        }
        ValueResult = formatToIndianRupees(removeCommas(value), decimalPlaces);
        $(this).val(ValueResult);
    });
    $(document).on("blur", ".UnitDecimal", function () {
        var ValueResult = "0";
        var value = $(this).val();

        var decimalPlaces = $("#PRH_DecimalPlaces").val();

        if (decimalPlaces === "" || isNaN(value)) {
            decimalPlaces = 2;
        }

        if (value.trim() === "" || isNaN(value)) {
        } else {
            ValueResult = formatToIndianRupees(value, decimalPlaces);
            $(this).val(ValueResult);
        }
    });
    $(document).on("focus", ".UnitDecimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });
    function formatToIndianRupees(value, UnitDecimalPlaces) {
        var ValueResult = "0";
        if (value === "" || isNaN(value)) {
        }
        else {
            ValueResult = value;
        }

        var fromat = parseFloat(ValueResult).toFixed(UnitDecimalPlaces);

        var parts = fromat.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }



    $(".decimal").each(function () {
        var value = $(this).val();
        $(this).val(DecimalIndianRupees(removeCommas(value)));
    });
    $(document).on("blur", ".decimal", function () {
        var value = $(this).val();
        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0.00");
        } else {
            $(this).val(DecimalIndianRupees(removeCommas(value)));
        }
    });
    $(document).on("focus", ".decimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });


    function addDays(date, days) {
        const dateAfterAddingDays = new Date(date);
        dateAfterAddingDays.setDate(dateAfterAddingDays.getDate() + parseInt(days));

        const day = dateAfterAddingDays.getDate().toString().padStart(2, '0');
        const year = dateAfterAddingDays.getFullYear();
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const monthAbbr = monthNames[dateAfterAddingDays.getMonth()];

        const result = `${day}-${monthAbbr}-${year}`;
        return result;
    }

    function ExchangeVisibility() {
        if ($('#PRH_ImportOrder').is(':checked')) {
            $('#ExchangeRate').show();
        } else {
            $('#ExchangeRate').hide();
        }
    }


    flatpickr(".datepicker", {
        dateFormat: "d-M-Y",
        altInput: false,
    });
    function SearchClustor() {
        var Vendor = $("#PRH_Vendor_Number").val();
        var TaxCluster = $("#PRH_TaxCluster_Number").val();
        if (Vendor) {
            $.ajax({
                url: '../cluster',
                data: { Vendor: Vendor },
                type: 'GET',
                success: function (data) {
                    if (data && data.length > 0) {
                        var dropdown = document.getElementById("PRH_TaxCluster_Number");
                        dropdown.innerHTML = "";

                        var option = document.createElement("option");
                        option.value = "";
                        option.text = "";
                        dropdown.appendChild(option);

                        data.forEach(function (item) {
                            var option = document.createElement("option");
                            option.value = item.taxClusterNumber;
                            option.text = item.taxCluster;
                            dropdown.appendChild(option);
                        });

                        if (TaxCluster) {
                            $("#PRH_TaxCluster_Number").val(TaxCluster);
                        }
                        else {
                            AssignGST();
                        }
                    }
                },
                error: function () {
                }
            });
        }
    }
    SearchClustor();


    document.addEventListener("DOMContentLoaded", function () {
        ExchangeVisibility();

        const MainDiv = document.getElementById('BodyHeight');
        const HeadDiv = document.getElementById('CardHeader');
        const BodyDiv = document.getElementById('CardBody');
        const FooterDiv = document.getElementById('CardFooter');

        if (HeadDiv && BodyDiv) {
            const MainHeight = MainDiv.offsetHeight;
            const HeadHeight = HeadDiv.offsetHeight;
            const FooterHeight = FooterDiv.offsetHeight;
            BodyDiv.style.height = (MainHeight - HeadHeight - FooterHeight - 10) + 'px';
        }
    });


    function AssignGST() {
        var TaxCluster = $("#PRH_TaxClusterNumber").val();
        $("#PRH_TaxCluster_Number").val(TaxCluster);
    }
    AssignGST();
</script>
