@model ERP_DTO.JobInwardTransaction.DeliveryNoteCreate_DTO

@{
    ViewData["Title"] = "View Delivery Note";
}

<div class="row align-items-center panel-header gx-2">

    <!-- Title -->
    <div class="col">
        <div class="h6 fw-light text-white bg-secondary px-2 py-2 mb-0">

            View Delivery Note

            <a asp-controller="DeliveryNote"
                   asp-action="Index"
                   class="float-end btn p-0 text-white">

                <svg xmlns="http://www.w3.org/2000/svg"
                     width="12"
                     height="12"
                     fill="currentColor"
                     class="bi bi-x-lg"
                     viewBox="0 0 16 16">

                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />

                </svg>

            </a>

        </div>
    </div>

</div>

<!-- Controls -->
<div class="row mt-2">

    <div class="col-12 text-end">

        <a class="btn btn-primary me-2">
            Edit
        </a>

        <input type="submit"
               name="Mode"
               value="Delete"
               class="btn btn-danger me-2" />

        <button class="btn btn-primary dropdown-toggle me-2"
                type="button"
                data-bs-toggle="dropdown">

            Download

        </button>

        <ul class="dropdown-menu">
            <li><input type="submit" name="Mode" value="Ascii" class="dropdown-item" /></li>
            <li><input type="submit" name="Mode" value="Excel" class="dropdown-item" /></li>
            <li><input type="submit" name="Mode" value="PDF" class="dropdown-item" /></li>
        </ul>

        <button type="button"
                class="btn btn-primary me-2"
                data-bs-toggle="modal"
                data-bs-target="#PrintPreview">

            Print View

        </button>

        <a onclick="Print()" class="btn btn-primary">
            Print
        </a>

    </div>

</div>
<div class="row panel-body gx-2">

    <div class="col-12 panel-card-fixed h-100">

        <div class="w-100 rounded-0 h-100 border border-primary bg-transparent"
             id="BodyHeight">

            <!-- ================= HEADER ================= -->

            <div class="card rounded-0 bg-transparent shadow-none"
                 id="CardHeader">

                <div class="card-body pb-0 pt-2">

                    <div class="row ps-2">

                        <!-- LEFT -->
                        <div class="col-auto left-menu text-black">

                            <div class="row">

                                <!-- COLUMN 1 -->
                                <div class="col-md-4">

                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Delivery Note No.
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_DN_No"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>

                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                             Date
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_DN_Date"
                                                   type="date"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Material Segregation
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_Segregation"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            JW Customer
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_CustomerName"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>
                                  
                              
                                 

                                </div>

                                <!-- COLUMN 2 -->
                                <div class="col-md-4">
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Currency
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_CurrencyCode"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Warehouse
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_Warehouse"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Terms of Payment
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_PaymentTerms"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>

                                    
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Terms of Delivery
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_DeliveryTerms"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>

                                 
                                </div>

                                <!-- COLUMN 3 -->
                                <div class="col-md-4">
                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Mode of Delivery
                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_DeliveryMode"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>

                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Despatch Document No.

                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_DespatchDocumentNo"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>


                                    <div class="row align-items-center px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Despatched Through

                                        </label>

                                        <div class="col-md-7">

                                            <input asp-for="Header.JIDNH_DespatchedThrough"
                                                   class="form-control"
                                                   readonly />

                                        </div>

                                    </div>

                                    <div class="row align-items-start px-2 mb-2">

                                        <label class="col-md-5 col-form-label">
                                            Remarks
                                        </label>

                                        <div class="col-md-7">

                                            <textarea asp-for="Header.JIDNH_Remarks"
                                                      class="form-control"
                                                      rows="3"
                                                      readonly></textarea>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!-- RIGHT -->
                        <div class="col-auto right-menu text-center border-start">

                            <button type="button"
                                    class="btn btn-primary btn-sm px-2 w-100 mb-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#AddressModal">

                                Address

                            </button>
                            <button type="button"
                                    class="btn btn-primary OpenBatchPopup btn-sm px-2 w-100"
                                    data-bs-toggle="modal"
                                    data-bs-target="#DeliveryNoteBatchModal">

                                Batch

                            </button>

                        </div>

                    </div>

                </div>

            </div>

            <!-- ================= ITEM GRID ================= -->

            <div class="card rounded-0 bg-transparent shadow-none h-100"
                 id="CardBody">

                <div class="card-body h-100">

                    <div class="row h-100">

                        <div class="col-auto left-menu h-100">

                            <ul class="nav nav-tabs tab-header">

                                <li class="nav-item">

                                    <a class="nav-link active"
                                           aria-current="page">

                                        Item

                                    </a>

                                </li>

                            </ul>

                            <div class="tab-content tab-body tab-body-h-o">

                                <div class="tab-pane fade show active p-2 pb-0 border border-top-0 h-90"
                                     tabindex="0">

                                    <div class="table-responsive h-80">

                                        <table class="table table-bordered table-hover align-middle mb-0">

                                            <thead class="table-info">

                                                <tr>
                                                    <th class="px-2 text-center">
                                                        <input type="checkbox" id="IndexAllCheckItem" class="form-check-input border-white">
                                                    </th>

                                                    <th>Process</th>

                                                    <th>Item</th>

                                                    <th>Description</th>

                                                    <th class="text-end">
                                                        Outer Dia
                                                    </th>

                                                    <th class="text-end">
                                                        Thickness
                                                    </th>

                                                    <th class="text-end">
                                                        Length
                                                    </th>

                                                    <th class="text-end">
                                                        Width
                                                    </th>

                                                    <th>
                                                        Material Grade
                                                    </th>

                                                    
                                                    <th>Warehouse</th>
                                                    <th>UOM</th>

                                                    <th class="text-end">
                                                        Qty
                                                    </th>

                                                    <th class="text-end">
                                                        Unit Price
                                                    </th>

                                                    <th class="text-end">
                                                        Amount
                                                    </th>

                                                    <th class="text-center">
                                                        JW Invoice
                                                    </th>

                                                </tr>

                                            </thead>

                                            <tbody>

                                                @if (Model.Items != null)
                                                {
                                                    foreach (var item in Model.Items)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <!-- Hidden Values -->
                                                                <input type="hidden"
                                                                       class="JIDNI_WH_Number"
                                                                       value="@item.JIDNI_WH_Number" />

                                                                <input type="hidden"
                                                                       class="JIDNI_Item_Number"
                                                                       value="@item.JIDNI_Number" />

                                                                <input type="hidden"
                                                                       class="JIDNI_Qty"
                                                                       value="@item.JIDNI_Qty" />
                                                                <input type="checkbox" class="CheckItem form-check-input"> </td>


                                                            <td>
                                                                @item.JIDNI_JW_ProcessName
                                                            </td>

                                                            <td>
                                                                @item.JIDNI_JW_ItemName
                                                            </td>

                                                            <td>
                                                                @item.JIDNI_JW_ItemDescription
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_JW_OuterDia
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_JW_Thickness
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_JW_Length
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_JW_ITM_Width
                                                            </td>

                                                            <td>
                                                                @item.JIDNI_JW_MaterialGrade
                                                            </td>

                                                            <td>
                                                                @item.JIDNI_Warehouse
                                                            </td>

                                                            <td>
                                                                @item.JIDNI_UOM
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_Qty
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_UnitPrice
                                                            </td>

                                                            <td class="text-end">
                                                                @item.JIDNI_Amount
                                                            </td>

                                                            <td class="text-center">

                                                                @if (item.JIDNI_JW_InvoiceTracking == "1")
                                                                {
                                                                    <span class="badge bg-success">
                                                                        Yes
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge bg-danger">
                                                                        No
                                                                    </span>
                                                                }

                                                            </td>

                                                        </tr>
                                                    }
                                                }

                                            </tbody>

                                            <tfoot class="table-info">

                                                <tr>

                                                    <td colspan="10"
                                                        class="text-end fw-bold">

                                                        Total

                                                    </td>

                                                    <td class="text-end fw-bold">

                                                        @Model.Items.Sum(x => x.JIDNI_Qty)

                                                    </td>

                                                    <td></td>

                                                    <td class="text-end fw-bold">

                                                        @Model.Items.Sum(x => x.JIDNI_Amount)

                                                    </td>

                                                    <td></td>

                                                </tr>

                                            </tfoot>

                                        </table>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- ================= ADDRESS MODAL ================= -->

<div class="modal modal-lg modal-xl fade"
     id="AddressModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <p class="modal-title">
                    Address Details
                </p>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <ul class="nav nav-tabs tab-header">

                    <li class="nav-item">

                        <button class="nav-link active"
                                type="button">

                            Overview

                        </button>

                    </li>

                </ul>

                <div class="tab-content tab-body">

                    <div class="tab-pane fade show active p-2 border border-top-0 h-100">

                        <div class="table-responsive">

                            <table class="table table-bordered table-hover align-middle mb-0">

                                <thead class="table-info">

                                    <tr>

                                        <th>Address Type</th>
                                        <th>Address ID</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Country</th>
                                        <th>PIN</th>
                                        <th>GSTIN</th>

                                    </tr>

                                </thead>

                                <tbody>

                                    @if (Model.Addresses != null)
                                    {
                                        foreach (var item in Model.Addresses)
                                        {
                                            <tr>

                                                <td>
                                                    @item.JIDNA_ADTP_Number
                                                </td>

                                                <td>
                                                    @item.JIDNA_Address_ID
                                                </td>

                                                <td>
                                                    @item.JIDNA_Address
                                                </td>

                                                <td>
                                                    @item.JIDNA_City
                                                </td>

                                                <td>
                                                    @item.JIDNA_State
                                                </td>

                                                <td>
                                                    @item.JIDNA_Country
                                                </td>

                                                <td>
                                                    @item.JIDNA_PIN
                                                </td>

                                                <td>
                                                    @item.JIDNA_GSTIN
                                                </td>

                                            </tr>
                                        }
                                    }

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer justify-content-end">

                <button type="button"
                        class="btn btn-primary px-4"
                        data-bs-dismiss="modal">

                    Ok

                </button>

            </div>

        </div>

    </div>

</div>


<!-- Batch Popup -->
<div class="modal custom-modal-width fade"
     id="DeliveryNoteBatchModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-xl">

        <div class="modal-content shadow-lg border-0">

            <!-- Header -->
            <div class="modal-header bg-primary text-white">

                <h5 class="modal-title">
                    Delivery Note Batch
                </h5>

                <!-- Right Side -->
                <div class="d-flex align-items-center ms-auto">

                    <div class="d-flex align-items-center me-3">

                        <label class="fw-bold me-2 mb-0">
                            Item Invoice Qty :
                        </label>

                        <span id="BatchPopupQty"
                              class="badge bg-light text-dark">
                            0
                        </span>

                    </div>

                    <button type="button"
                            class="btn-close btn-close-white"
                            id="DeliveryNoteBatchClose">
                    </button>

                </div>

            </div>

            <!-- Body -->
            <div class="modal-body p-2">
                

                <!-- Tabs -->
                <ul class="nav nav-tabs" role="tablist">

                    <li class="nav-item" role="presentation">

                        <button class="nav-link active"
                                id="Batch-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#Batch-tab-pane"
                                type="button"
                                role="tab">

                            Batch WH

                        </button>

                    </li>

                   

                </ul>

                <!-- Tab Content -->
                <div class="tab-content" style="height:150px;">

                    <!-- Batch WH -->
                    <div class="tab-pane fade h-100 overflow-auto show active p-2 border border-top-0"
                         id="Batch-tab-pane"
                         role="tabpanel">

                        <div class="table-responsive">

                            <table id="DeliveryNoteBatchList" class="table table-bordered table-hover align-middle mb-0">

                                <thead>

                                    <tr class="table-info">

                                        <th>
                                            Warehouse
                                        </th>

                                        <th class="datetype text-center">
                                            Batch Date
                                        </th>

                                        <th>
                                            Batch Number
                                        </th>

                                        <th class="table-width-xl text-end">
                                            Batch Qty
                                        </th>

                                     

                                        <th class="table-width-xl text-end">
                                            Unit Price
                                        </th>

                                        <th class="table-width-3xl text-end">
                                            Batch Value
                                        </th>

                                    </tr>

                                </thead>

                                <tbody id="DeliveryNoteBatchTableBody">

                                    <!-- Template Row -->
                                    <tr id="DeliveryNoteBatchTemplateRow"
                                        style="display:none;">

                                        <td>

                                           

                                            <input type="text"
                                                   class="form-control JIDNI_BCH_WH_Name"
                                                   readonly>

                                        </td>

                                        <td class="datetype">

                                            <input type="text"
                                                   class="form-control text-center JIDNI_BCH_BatchDate"
                                                   readonly>

                                        </td>

                                        <td>

                                            <input type="text"
                                                   class="form-control JIDNI_BCH_BatchNo"
                                                   readonly>

                                        </td>

                                        <td class="table-width-xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_QtyAvailable"
                                                   readonly>

                                        </td>

                                   

                                        <td class="table-width-xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_BatchUnitPrice"
                                                   readonly>

                                        </td>

                                        <td class="table-width-3xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_BatchValue"
                                                   readonly>

                                        </td>

                                    </tr>

                                </tbody>

                          

                            </table>

                        </div>

                    </div>
                     
                   
                </div>

            </div>

            <!-- Footer -->
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-primary px-4"
                        id="SaveBatchButton">

                    Ok

                </button>

            </div>

        </div>

    </div>

</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />

   
     <script src="~/js/deliverynote/DeliveryNoteView.js" asp-append-version="true"></script>

        
    
}

<script>

    document.addEventListener("DOMContentLoaded", function () {

        const MainDiv = document.getElementById('BodyHeight');
        const HeadDiv = document.getElementById('CardHeader');
        const BodyDiv = document.getElementById('CardBody');

        if (MainDiv && HeadDiv && BodyDiv) {

            const MainHeight = MainDiv.offsetHeight;
            const HeadHeight = HeadDiv.offsetHeight;

            BodyDiv.style.height =
                (MainHeight - HeadHeight - 2) + 'px';
        }

    });

</script>