@model ERP_DTO.JobInwardTransaction.DeliveryNoteCreate_DTO

@{
    ViewData["Title"] = "Delivery Note";
} 
<!-----search logic highlight---->

<style>
    .match-row td {
        color: blue !important;
        font-weight: 600;
    }

    .current-row td {
        background: #dbeafe !important;
    }
</style>
<style>
    .batchPopup thead th {
        position: sticky;
        top: 0;
        z-index: 10;
    }
</style>
<style>
    .buyer-search-results {
        width: 500px !important;
        max-width: 600px;
    }

    /* Equal spacing for all form rows */
    .row.align-items-center {
        padding: 2px 0;
    }

    /* Labels */
    .col-form-label {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 8px;
        margin-bottom: 0;
        white-space: nowrap;
        font-family: Arial, sans-serif !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border: none !important;
        text-decoration: none !important;
        max-width: 30% !important;
    }

    /* Input containers */
    .row.align-items-center > div[class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }

    /* Force label/input columns to the same width */
    .row > .col-md-5.col-lg-5.col-form-label,
    .row > .col-md-6.col-lg-5.col-form-label,
    .row > .col-sm-5.col-form-label,
    .row > .col-sm-2.col-form-label {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .row > .col-md-6.col-lg-7,
    .row > .col-sm-7,
    .row > .col-sm-10 {
        flex: 0 0 70%;
        max-width: 70%;
    }

    /* Inputs, Selects & Textarea */
    .form-control,
    .flatpickr-input,
    .form-select,
    textarea.form-control {
        height: 25px !important;
        min-height: 25px !important;
        border-radius: 4px !important;
        font-size: 13px;
        font-family: Arial, sans-serif;
        font-weight: 400;
        resize: vertical;
        overflow: auto;
    }

    textarea.form-control {
        min-height: 60px !important;
    }
   

    /* Delivery Note Date */
    #Header_JIDNH_DN_Date + input {
        width: 15ch !important;
        max-width: 15ch !important;
        padding-right: 30px !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11zM7 11h5v5H7z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 16px 16px;
        cursor: pointer;
    }

    input.flatpickr-input.form-control {
        width: 20ch !important;
    }

    /* Material Segregation */
    #Header_JIDNH_MS_Number {
        width: 20ch !important;
        max-width: 100%;
    }

    /* Job Work Customer */
    #Header_JIDNH_JW_Customer_Name {
        width: 40ch !important;
        max-width: 350ch;
        padding-right: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath d='M0 0h10L5 6z' fill='%23000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 8px center;
    }

    /* Currency */
    #Header_JIDNH_Currency_Number {
        width: 10ch !important;
        max-width: 100%;
    }

    /* Warehouse */
    #Header_JIDNH_WH_Number {
        width: 20ch !important;
        max-width: 100%;
    }

    /* Payment Terms */
    #Header_JIDNH_PaymentTerms {
        width: 25ch !important;
        max-width: 100%;
    }

    /* Delivery Terms */
    #Header_JIDNH_DeliveryTerms {
        width: 25ch !important;
        max-width: 100%;
    }

    /* Delivery Mode */
    #Header_JIDNH_DeliveryMode {
        width: 25ch !important;
        max-width: 100%;
    }

    /* Despatch Document No */
    #Header_JIDNH_DespatchDocumentNo {
        width: 25ch !important;
        max-width: 100%;
    }

    /* Despatched Through */
    #Header_JIDNH_DespatchedThrough {
        width: 25ch !important;
        max-width: 100%;
    }

    /* Remarks */
    #Header_JIDNH_Remarks {
        width: 45ch !important;
        max-width: 85ch;
        min-height: 60px !important;
    }
</style>

<style>
    .tab-scroll {
        height: 350px; /* Adjust as needed */
     
        overflow-y: auto;
        overflow-x: auto;
    }

        .tab-scroll thead th {
            position: sticky;
            top: 0;
            z-index: 2;
           
        }
</style>
<style>

    .JIDNI_BCH_QtyInvoice::-webkit-outer-spin-button,
.JIDNI_BCH_QtyInvoice::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.JIDNI_BCH_QtyInvoice {
    -moz-appearance: textfield;
}

<!--batch popup width-->
.custom-modal-width{
    max-width:60%;
}
.jwcustomer-search-results,
.buyer-search-results {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 100%;
    left: 0;
}
.col-md-6.col-lg-7,
.col-sm-7 {
    position: relative;
}
#ItemTable  {
    margin: 5px !important;
}
 

 


    </style>
<form asp-action="SaveDeliveryNote"
      method="post"
      id="DeliveryNoteForm">

    <!-- Address Popup -->
    <div class="modal modal-lg modal-xl fade"
         id="BuyerAddress"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header">
                    <p class="modal-title">Address</p>

                   
                    <button type="button"
                            class="btn-close"
                            id="AddCloseButton"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <!-- Tabs -->
                    <ul class="nav nav-tabs tab-header" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active"
                                    id="overview-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#overview-tab-pane"
                                    type="button"
                                    role="tab">
                                Overview
                            </button>
                        </li>
                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content tab-body">

                        <div class="tab-pane fade show active p-2 border border-top-0 h-100"
                             id="overview-tab-pane"
                             role="tabpanel">

                            <table class="table table-bordered table-hover mb-0">

                                <thead>
                                    <tr class="table-info">
                                        <th>Type</th>
                                        <th>Address ID</th>
                                        <th style="width:auto; min-width:300px; max-width:500px;">Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Country</th>
                                        <th>PIN</th>
                                        <th>GSTIN</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody id="AddTableBody">

                                    <!-- 🔥 TEMPLATE ROW (USED FOR CLONE ONLY) -->
                                    <tr id="AddTempRow" style="display:none">

                                        <td>
                                            <select class="form-select JIDNA_ADTP_Number"
                                                    asp-items="@ViewBag.AddressType"></select>
                                        </td>
                                        <td><input class="form-control JIDNA_Address_ID" readonly></td>
                                        <td style="width:auto; min-width:300px; max-width:500px;">
                                            <input class="form-control JIDNA_Address" readonly>
                                        </td>
                                        <td><input class="form-control JIDNA_City" readonly></td>
                                        <td><input class="form-control JIDNA_State" readonly></td>
                                        <td><input class="form-control JIDNA_Country" readonly></td>
                                        <td><input class="form-control JIDNA_PIN" readonly></td>
                                        <td><input class="form-control JIDNA_GSTIN" readonly></td>

                                        <td class="text-center align-middle">
                                            <input type="hidden" class="JIDNA_Number" value="0">
                                            <input type="hidden" class="JIDNA_IsDeleted" value="0">
                                            <a class="AddRowRemove text-danger" title="Delete" style="cursor:pointer;">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

                <!-- FOOTER -->
                <div class="modal-footer justify-content-between">

                    <button type="button"
                            id="AddressAddButton"
                            class="btn btn-primary">
                        Add Row
                    </button>

                    <button type="button"
                            id="AddOkayButton"
                            class="btn btn-primary px-4"
                            data-bs-dismiss="modal"
                            autofocus>
                        Ok
                    </button>

                </div>

            </div>

        </div>
    </div>
    
    <!-- Batch Popup -->
    <div class="modal custom-modal-width fade"
     id="DeliveryNoteBatchModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-xl">

        <div class="modal-content shadow-lg border-0">

                <div class="modal-header">
                    <p class="modal-title w-100">
                        <span style="font-size:14px;font-weight:bold"> Delivery Note Batch</span>      <span class="float-end">
                        <span style="font-size:14px"> Line Item Qty : </span>    <span style="font-size:14px" id="BatchPopupQty"></span>
                        <button type="button"
                                id="DeliveryNoteBatchClose"
                                class="btn bg-transparent text-white fw-bold"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            ✕
                        </button>
                    </span>
                </p>
            </div>

         
            <!-- Body -->
            <div class="modal-body p-2">
                <!-- Tabs -->
                <ul class="nav nav-tabs" role="tablist">

                    <li class="nav-item" role="presentation">

                        <button class="nav-link active"
                                id="Batch-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#Batch-tab-pane"
                                type="button"
                                role="tab">

                            Batch WH

                        </button>

                    </li>

                    <li class="nav-item" role="presentation">

                        <button class="nav-link"
                                id="Other-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#Other-tab-pane"
                                type="button"
                                role="tab">

                            Other WH

                        </button>

                    </li>

                </ul>
                <!-- Tab Content -->
                <div class="tab-content">

                    <!-- Batch WH -->
                    <div class="tab-pane fade show active p-2 border border-top-0"
                         id="Batch-tab-pane"
                         role="tabpanel">

                        <div class="table-responsive tab-scroll">

                            <table id="DeliveryNoteBatchList" class="table table-bordered table-hover align-middle mb-0">

                                <thead>

                                    <tr class="table-info">

                                        <th>
                                            Warehouse
                                        </th>

                                        <th class="datetype text-center">
                                            Batch Date
                                        </th>

                                        <th>
                                            Batch Number
                                        </th>

                                        <th class="table-width-xl text-end">
                                            Qty Available
                                        </th>

                                        <th class="table-width-xl text-end">
                                            Qty Reserved
                                        </th>

                                        <th class="table-width-xl text-end">
                                            Delivered Qty
                                        </th>

                                        <th class="table-width-xl text-end">
                                            Unit Price
                                        </th>

                                        <th class="table-width-3xl text-end">
                                            Batch Value
                                        </th>

                                    </tr>

                                </thead>

                                <tbody id="DeliveryNoteBatchTableBody">

                                    <!-- Template Row -->
                                    <tr id="DeliveryNoteBatchTemplateRow"
                                        style="display:none;">

                                        <td>
                                                <input type="hidden" class="RefBatch_Number">
                                                <input type="hidden" class="JIDNI_Number">
                                                <input type="hidden" class="JIDNH_Number">
                                            <input type="hidden" class="JIDNI_BCH_Number">

                                            <input type="hidden" class="JIDNI_BCH_JIDNH_Number">

                                            <input type="hidden" class="JIDNI_BCH_JIDNI_Number">

                                            <input type="hidden" class="JIDNI_BCH_WH_Number">

                                            <input type="text"
                                                   class="form-control JIDNI_BCH_WH_Name"
                                                   readonly>

                                        </td>

                                        <td class="datetype">

                                            <input type="text"
                                                   class="form-control text-center JIDNI_BCH_BatchDate"
                                                   readonly>

                                        </td>

                                        <td>

                                            <input type="text"
                                                   class="form-control JIDNI_BCH_BatchNo"
                                                   readonly>

                                        </td>

                                        <td class="table-width-xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_QtyAvailable"
                                                   readonly>

                                        </td>

                                        <td class="table-width-xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_QtyReserved"
                                                   readonly>

                                        </td>

                                        <td class="table-width-xl">

                                                <input type="number" autocomplete="off"
                                                   class="form-control text-end JIDNI_BCH_QtyInvoice">

                                        </td>

                                        <td class="table-width-xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_BatchUnitPrice"
                                                   readonly>

                                        </td>

                                        <td class="table-width-3xl">

                                            <input type="text"
                                                   class="form-control text-end JIDNI_BCH_BatchValue"
                                                   readonly>

                                        </td>

                                    </tr>

                                </tbody>

                                <!-- Footer -->
                                <tfoot>

                                    <tr class="table-info">

                                        <td></td>

                                        <td></td>

                                        <td class="text-end fw-bold">
                                            Total
                                        </td>

                                        <td>

                                            <input id="TotalAvailableQty"
                                                   class="form-control text-end"
                                                   readonly>

                                        </td>

                                        <td>

                                            <input id="TotalReservedQty"
                                                   class="form-control text-end"
                                                   readonly>

                                        </td>

                                        <td>

                                            <input id="TotalBatchQty"
                                                   class="form-control text-end"
                                                   readonly>

                                        </td>

                                        <td></td>

                                        <td>

                                            <input id="TotalBatchValue"
                                                   class="form-control text-end"
                                                   readonly>

                                        </td>

                                    </tr>

                                </tfoot>

                            </table>

                        </div>

                    </div>

                    <!-- Other WH -->
                    <div class="tab-pane fade p-2 border border-top-0"
                         id="Other-tab-pane"
                         role="tabpanel">

                        <div class="w-100 table-responsive tab-scroll">
                                <table id="DeliveryNoteOtherBatchList" class="table table-bordered table-hover align-middle mb-0">

                                    <thead>

                                        <tr class="table-info">

                                            <th>
                                                Warehouse
                                            </th>

                                            <th class="datetype text-center">
                                                Batch Date
                                            </th>

                                            <th>
                                                Batch Number
                                            </th>

                                       

                                            <th class="table-width-xl text-end">
                                                Available Qty
                                            </th>

                                            <th class="table-width-xl text-end">
                                                Unit Price
                                            </th>

                                            <th class="table-width-3xl text-end">
                                                Batch Value
                                            </th>

                                        </tr>

                                    </thead>

                                    <tbody id="DeliveryNoteOtherBatchTableBody">

                                        <!-- Template Row -->
                                        <tr id="DeliveryNoteOtherBatchTemplateRow"
                                            style="display:none;">

                                            <td>

                                                <input type="hidden" class="JIDNI_BCH_Number">

                                                <input type="hidden" class="JIDNI_BCH_JIDNH_Number">

                                                <input type="hidden" class="JIDNI_BCH_JIDNI_Number">

                                                <input type="hidden" class="JIDNI_BCH_WH_Number">

                                                <input type="text"
                                                       class="form-control JIDNI_BCH_WH_Name"
                                                       readonly>

                                            </td>

                                            <td class="datetype">

                                                <input type="text"
                                                       class="form-control text-center JIDNI_BCH_BatchDate"
                                                       readonly>

                                            </td>

                                            <td>

                                                <input type="text"
                                                       class="form-control JIDNI_BCH_BatchNo"
                                                       readonly>

                                            </td>

                                         

                                            <td class="table-width-xl">

                                                <input type="number" autocomplete="off" readonly
                                                       class="form-control text-end JIDNI_BCH_AvailableQty">

                                            </td>

                                            <td class="table-width-xl">

                                                <input type="text"
                                                       class="form-control text-end JIDNI_BCH_BatchUnitPrice"
                                                       readonly>

                                            </td>

                                            <td class="table-width-3xl">

                                                <input type="text"
                                                       class="form-control text-end JIDNI_BCH_BatchValue"
                                                       readonly>

                                            </td>

                                        </tr>

                                    </tbody>

                                    <!-- Footer -->
                                    <tfoot>
                                        <tr class="table-info">

                                            <td></td>
                                            <td></td>

                                            <td class="text-end fw-bold">
                                                Total
                                            </td>

                                            <td>
                                                <input id="TotalBatchQtyOther"
                                                       class="form-control text-end"
                                                       readonly>
                                            </td>

                                            <td></td>

                                            <td>
                                                <input id="TotalBatchValueOther"
                                                       class="form-control text-end"
                                                       readonly>
                                            </td>

                                        </tr>
                                    </tfoot>

                                </table>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">

                <button type="button"
                        class="btn btn-primary px-4"
                        id="SaveBatchButton">

                    Ok

                </button>

            </div>

        </div>

    </div>

</div>


<!-- Alert Popup -->
    <div class="modal modal-sm fade" id="ModelAlert" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header draggable-modal-header">
                    <p class="modal-title mb-0">Warning</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body py-4 text-dark fs-6 text-center">
                    <img src="~/img/danger.png" class="img-fluid mb-2" />
                    <div id="AlertMessage">@Html.Raw(ViewBag.ErrorMessage)</div>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary px-4" id="AlertOkay" data-bs-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>
      
    <div class="row align-items-center panel-header gx-2">
        <div class="col h-100 align-items-center">
            <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">
                Delivery Note
                <a asp-controller="JobworkInward" asp-action="Index" class="float-end btn p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!-- item grid in body -->
    <div class="row panel-body gx-2">

        <div class="col-12 panel-card-fixed h-100">

            <div class="w-100 rounded-0 h-100 border border-primary bg-transparent"
                 id="BodyHeight">

                <!-- HEADER -->
                <div class="card rounded-0 bg-transparent shadow-none"
                     id="CardHeader">

                <div class="card-body pb-0" style="margin-top: -10px !important;">
                        
                        <div class="row ps-2">

                        

                    
                            <div class="col-auto left-menu text-black">

                                <div class="row">

                                    <!-- COLUMN 1 -->
                                    <div class="col-12 col-md-4">

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_DN_No"
                                                   class="col-md-5 col-lg-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-md-6 col-lg-7">

                                                <input asp-for="Header.JIDNH_DN_No"
                                                       class="form-control Key KeyDup"
                                                       autocomplete="off" maxlength="25"
                                                        />

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_DN_Date"
                                                   class="col-md-5 col-lg-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-md-6 col-lg-7">

                                                <input asp-for="Header.JIDNH_DN_Date" type="date"
                                                       class="form-control datepicker"
                                                       autocomplete="off" />

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_MS_Number"
                                                   class="col-md-5 col-lg-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-md-6 col-lg-7">

                                                <select asp-for="Header.JIDNH_MS_Number"
                                                        class="form-select"
                                                        asp-items="@ViewBag.MaterialSegregation">
                                                </select>

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_JW_Customer_Number"
                                                   class="col-md-5 col-lg-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-md-6 col-lg-7">

                                                <!-- HIDDEN VALUE -->
                                                <input asp-for="Header.JIDNH_JW_Customer_Number"
                                                       type="hidden"
                                                       class="form-control" />

                                                <!-- DISPLAY TEXT -->
                                                <input asp-for="Header.JIDNH_JW_Customer_Name"
                                                       class="form-control"
                                                       autocomplete="off"
                                                       oninput="OnJWCustomerInput(this)"
                                                       onfocus="OnJWCustomerFocus(this)" />

                                                <!-- SEARCH RESULT -->
                                                <div class="jwcustomer-search-results bg-primary card"
                                                     style="display:none">
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- COLUMN 2 -->
                                    <div class="col-12 col-md-4">

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_Currency_Number"
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <select asp-for="Header.JIDNH_Currency_Number"
                                                        class="form-select"
                                                        asp-items="@ViewBag.Currency">
                                                </select>

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_WH_Number"
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <select asp-for="Header.JIDNH_WH_Number"
                                                        class="form-select"
                                                        asp-items="@ViewBag.Warehouse">
                                                </select>

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_PaymentTerms"
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <input asp-for="Header.JIDNH_PaymentTerms"
                                                   class="form-control" maxlength="50"
                                                       autocomplete="off" />

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_DeliveryTerms"
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <input asp-for="Header.JIDNH_DeliveryTerms"
                                                   class="form-control" maxlength="50"
                                                       autocomplete="off" />

                                            </div>

                                        </div>

                                    </div>

                                    <!-- COLUMN 3 -->
                                    <div class="col-12 col-md-4">

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_DeliveryMode" 
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <input asp-for="Header.JIDNH_DeliveryMode"
                                                   class="form-control" maxlength="50"
                                                       autocomplete="off" />

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_DespatchDocumentNo"
                                                   class="col-sm-5 col-form-label ps-0 text-nowrap">
                                            </label>

                                            <div class="col-sm-7">

                                                <input asp-for="Header.JIDNH_DespatchDocumentNo"
                                                   class="form-control" maxlength="50"
                                                       autocomplete="off" />

                                            </div>

                                        </div>

                                        <div class="row align-items-center gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_DespatchedThrough"
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <input asp-for="Header.JIDNH_DespatchedThrough"
                                                   class="form-control" maxlength="50"
                                                       autocomplete="off" />

                                            </div>

                                        </div>

                                        <div class="row align-items-start gx-2 mb-0">

                                            <label asp-for="Header.JIDNH_Remarks"
                                                   class="col-sm-5 col-form-label ps-0">
                                            </label>

                                            <div class="col-sm-7">

                                                <textarea asp-for="Header.JIDNH_Remarks"
                                                      class="form-control" maxlength="250"
                                                          rows="2"></textarea>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-auto right-menu text-center border-start">

                              
                                <input id="btnSave"
                                       name="Mode"
                                       value="Save"
                                       class="btn btn-primary btn-sm px-2 w-100 mb-1" />

                            <a asp-controller="DeliveryNote"
                                   asp-action="Index"
                                   class="btn btn-primary btn-sm px-2 w-100 mb-1">
                                Clear All
                            </a>

                              
                                <button type="button" id="AddressButton"
                                        class="btn btn-primary btn-sm px-1 w-100 mb-1">

                                    Address

                                </button>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- BODY has ITEM -->
                <div class="card rounded-0 bg-transparent shadow-none"
                     id="CardBody">
                    <div class="card-body h-100">
                        <div class="row h-100">
                            <div class="col-auto left-menu h-100">
                            
                                        

                                            <ul class="nav nav-tabs" role="tablist">


                                                <li class="nav-item" role="presentation">
                                           
                                                <a class="nav-link active"
                                                       aria-current="page">

                                                    Item

                                                </a>
                                            </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark">Other</a>
                                                </li>
 
                                        </ul>
                                <!-------------------------item---------------------------------------->
                                <div class="tab-content tab-body tab-body-h-o">
                                    <div class="tab-pane fade show active p-2 pb-0 border border-top-0 h-100" tabindex="0">
                                        <div class="row h-100">
                                            <!-------------------------item-------------------------------------------------------------------->
                                            <div class="col table-fixed h-100">
                                                <div class="w-12 table-responsive table-body table-body-f" style="max-height:450px; overflow-y:auto;">

                                                        <table class="table table-one table-striped table-bordered table-hover align-middle w-100"
                                                               id="ItemTable">

                                                            <thead>

                                                                <tr class="table-info">

                                                                    <th class="px-2 del text-center">

                                                                        <input type="checkbox"
                                                                               class="IndexAllCheckItem form-check-input border-white"
                                                                               id="IndexAllCheckItem">

                                                                    </th>
                                                                              
                                                                    <th>
                                                                        Process
                                                                    </th>

                                                                    <th>
                                                                        Item Code
                                                                    </th>

                                                                    <th>
                                                                        Description
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Outer Dia
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Thickness
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Length
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Width
                                                                    </th>

                                                                    <th>
                                                                        Material Grade
                                                                    </th>

                                                                    <th>
                                                                        Item Group
                                                                    </th>

                                                                    <th>
                                                                        Warehouse
                                                                    </th>

                                                                    <th class="table-width-md text-center">
                                                                        UOM
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Qty
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Unit Price
                                                                    </th>

                                                                    <th class="table-width-xl text-end">
                                                                        Amount
                                                                    </th>

                                                                    <th class="table-width-md text-center">
                                                                        JW Invoice Applicable
                                                                    </th>
                                                                    <th>
                                                                        Service Order No
                                                                    </th>

                                                                </tr>

                                                            </thead>

                                                            <tbody id="TableBody">

                                                                <!-- TEMP ROW -->
                                                                <tr id="TempRow"
                                                                    style="display:none;">

                                                                    <td class="p-2 del">

                                                                        <input type="checkbox"
                                                                               class="CheckItem form-check-input">

                                                                    </td>

                                                                              
                                                                    <!-- PROCESS -->
                                                                    <td>

                                                                        <select id="JIDNI_PRS_Number"
                                                                                class="form-select JIDNI_PRS_Number"
                                                                                asp-items="@ViewBag.Process">
                                                                        </select>

                                                                    </td>

                                                                    <!-- ITEM -->
                                                                    <td>

                                                                        <input id="JIDNI_Number"
                                                                               type="hidden"
                                                                               class="JIDNI_Number" />

                                                                        <input id="JIDNI_Item_Number"
                                                                               type="hidden"
                                                                               class="JIDNI_Item_Number" />

                                                                        <input id="JIDNI_Item_Code" autocomplete="off"
                                                                               class="form-control JIDNI_Item_Code"
                                                                               oninput="OnInputItem(this)" onfocus="OnFocusItem(this)" />

                                                                        <div class="search-results card"
                                                                             style="display:none">
                                                                        </div>

                                                                    </td>

                                                                    <!-- DESCRIPTION -->
                                                                    <td>

                                                                        <input id="JIDNI_Item_Description"
                                                                               class="form-control JIDNI_Item_Description"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- OUTER DIA -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_OuterDia"
                                                                               class="form-control JIDNI_OuterDia text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- THICKNESS -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_Thickness"
                                                                               class="form-control JIDNI_Thickness text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- LENGTH -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_Length"
                                                                               class="form-control JIDNI_Length text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- WIDTH -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_Width"
                                                                               class="form-control JIDNI_Width text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- MATERIAL GRADE -->
                                                                    <td>

                                                                        <input id="JIDNI_MaterialGrade"
                                                                               class="form-control JIDNI_MaterialGrade"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- ITEM GROUP -->
                                                                    <td>

                                                                        <input id="JIDNI_ItemGroup"
                                                                               class="form-control JIDNI_ItemGroup"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- WAREHOUSE -->
                                                                    <td>

                                                                        <select id="JIDNI_WH_Number"
                                                                                class="form-select JIDNI_WH_Number"
                                                                                asp-items="@ViewBag.Warehouse">
                                                                        </select>

                                                                    </td>

                                                                    <!-- UOM -->
                                                            <td class="table-width-md text-center">

                                                                        <select id="JIDNI_UoM_Number"
                                                                                class="form-select JIDNI_UoM_Number text-center"
                                                                                asp-items="@ViewBag.UOM">
                                                                        </select>

                                                                    </td>

                                                                    <!-- QTY -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_Qty"
                                                                               class="form-control JIDNI_Qty text-end"
                                                                               autocomplete="off" />

                                                                    </td>

                                                                    <!-- UNIT PRICE -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_UnitPrice"
                                                                               class="form-control JIDNI_UnitPrice text-end"
                                                                               autocomplete="off" />

                                                                    </td>

                                                                    <!-- AMOUNT -->
                                                                    <td class="table-width-xl">

                                                                        <input id="JIDNI_Amount"
                                                                               class="form-control JIDNI_Amount text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- JW INVOICE -->
                                                                    <td class="text-center">

                                                                        <input type="checkbox"
                                                                               id="JIDNI_JW_InvoiceTracking"
                                                                               class="form-check-input JIDNI_JW_InvoiceTracking" />

                                                                        <input type="hidden"
                                                                               class="JIDNI_IsDeleted"
                                                                               value="false" />

                                                                    </td>
                                                                    <!-- so dropdown -->
                                                                    <td>
                                                                        <select id="JISVOH_Number"
                                                                                class="form-select JISVOH_Number"
                                                                                asp-items="@ViewBag.SON">
                                                                        </select>
                                                                    </td>
                                                                </tr>

                                                                <!-- FIRST ROW -->
                                                                <tr class="NewRow" data-rowid="1">

                                                                    <td class="p-2 del">

                                                                        <input type="checkbox"
                                                                               class="CheckItem form-check-input">

                                                                    </td>

                                                                          
                                                                    <!-- PROCESS -->
                                                                    <td>

                                                                        <select name="Items[0].JIDNI_PRS_Number"
                                                                                class="form-select JIDNI_PRS_Number"
                                                                                asp-items="@ViewBag.Process">
                                                                        </select>

                                                                    </td>

                                                                    <!-- ITEM -->
                                                                    <td>

                                                                        <input name="Items[0].JIDNI_Number"
                                                                               type="hidden"
                                                                               class="JIDNI_Number" />

                                                                        <input name="Items[0].JIDNI_Item_Number"
                                                                               type="hidden"
                                                                               class="JIDNI_Item_Number" />

                                                                        <input name="Items[0].JIDNI_Item_Code"
                                                                               autocomplete="off"
                                                                               class="form-control JIDNI_Item_Code"
                                                                               oninput="OnInputItem(this)" onfocus="OnFocusItem(this)" />

                                                                        <div class="search-results card"
                                                                             style="display:none">
                                                                        </div>

                                                                    </td>

                                                                    <!-- DESCRIPTION -->
                                                                    <td>

                                                                        <input name="Items[0].JIDNI_Item_Description"
                                                                               class="form-control JIDNI_Item_Description"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- OUTER DIA -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_OuterDia"
                                                                               class="form-control JIDNI_OuterDia text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- THICKNESS -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_Thickness"
                                                                               class="form-control JIDNI_Thickness text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- LENGTH -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_Length"
                                                                               class="form-control JIDNI_Length text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- WIDTH -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_Width"
                                                                               class="form-control JIDNI_Width text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- MATERIAL GRADE -->
                                                                    <td>

                                                                        <input name="Items[0].JIDNI_MaterialGrade"
                                                                               class="form-control JIDNI_MaterialGrade"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- ITEM GROUP -->
                                                                    <td>

                                                                        <input name="Items[0].JIDNI_ItemGroup"
                                                                               class="form-control JIDNI_ItemGroup"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- WAREHOUSE -->
                                                                    <td>

                                                                        <select name="Items[0].JIDNI_WH_Number"
                                                                                class="form-select JIDNI_WH_Number"
                                                                                asp-items="@ViewBag.Warehouse">
                                                                        </select>

                                                                    </td>

                                                                    <!-- UOM -->
                                                            <td class="table-width-md text-center">

                                                                        <select name="Items[0].JIDNI_UoM_Number"
                                                                                class="form-select JIDNI_UoM_Number text-center"
                                                                                asp-items="@ViewBag.UOM">
                                                                        </select>

                                                                    </td>

                                                                    <!-- QTY -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_Qty" autocomplete="off"
                                                                               class="form-control JIDNI_Qty text-end" />

                                                                    </td>

                                                                    <!-- UNIT PRICE -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_UnitPrice" autocomplete="off"
                                                                               class="form-control JIDNI_UnitPrice text-end" />

                                                                    </td>

                                                                    <!-- AMOUNT -->
                                                                    <td class="table-width-xl">

                                                                        <input name="Items[0].JIDNI_Amount" autocomplete="off"
                                                                               class="form-control JIDNI_Amount text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <!-- JW INVOICE -->
                                                                    <td class="text-center">

                                                                        <input type="checkbox"
                                                                               name="Items[0].JIDNI_JW_InvoiceTracking"
                                                                               class="form-check-input JIDNI_JW_InvoiceTracking" />

                                                                        <input type="hidden"
                                                                               name="Items[0].JIDNI_IsDeleted"
                                                                               class="JIDNI_IsDeleted"
                                                                               value="false" />

                                                                    </td>
                                                                    <td>
                                                                        <select name="Items[0].JISVOH_Number"
                                                                                class="form-select JISVOH_Number"
                                                                                asp-items="@ViewBag.SON">
                                                                        </select>
                                                                    </td>
                                                                </tr>

                                                            </tbody>

                                                            <tfoot>

                                                                <tr class="table-info">

                                                                    <td colspan="12"
                                                                        class="text-end py-2">

                                                                        <span class="float-end pe-3">

                                                                            Total

                                                                        </span>

                                                                    </td>

                                                                    <td>

                                                                        <input id="TotalQty"
                                                                               class="form-control text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <td>
                                                                    </td>

                                                                    <td>

                                                                        <input id="TotalAmount"
                                                                               class="form-control text-end"
                                                                               readonly />

                                                                    </td>

                                                                    <td>
                                                                    </td>
                                                            <td>
                                                            </td>
                                                                </tr>

                                                            </tfoot>

                                                        </table>
                                                </div>

                                                <!-- ================= BUTTONS ================= -->
                                                <div class="row mt-2">
                                                    <div class="col">

                                                            <a id="AddRowButton"
                                                                   class="btn btn-primary mb-2">

                                                                Add Row

                                                            </a>

                                                            <a id="RemoveItemRowButton" class="RowRemove btn btn-primary mb-2">

                                                                Delete Row

                                                            </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-------------------item----------------------------------------------------------->
                                        </div>
                                    </div>
                                </div>


                                <!-------------------------item---------------------------------------->

                                

                        </div>
              
                    <!-- RIGHT SIDE BATCH PANEL -->
                            <div class="col-auto right-menu text-center border-start">

                            <button type="button"
                                    class="btn btn-primary OpenBatchPopup btn-sm px-2 w-100 mb-1 mt-5 me-3">

                                Batch

                            </button>

                         

                        </div>
                    </div>
              </div>
                </div>

              

            </div>

        </div>

    </div>

</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="~/js/code/Header.js" asp-append-version="true"></script>
    <script src="~/js/code/NumberFormat.js" asp-append-version="true"></script>
    <script src="~/js/code/common_itemtable_functions.js" asp-append-version="true"></script>
    <script src="~/js/deliverynote/deliverynote.js" asp-append-version="true"></script>
    <script src="~/js/deliverynote/DeliveryNote_Batch.js" asp-append-version="true"></script>
        
    

}