@model ERP_DTO.ItemHead_DTO
@{
    ViewData["Title"] = "Item";
}
<div class="row align-items-center panel-header gx-2">
    <div class="col h-100">
        <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">
            Item
            <a asp-controller="Inventory" asp-action="Index" class="float-end btn  p-0 shadow-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="row panel-body gx-2">
    <div class="col-12 panel-card-fixed h-100">
        <div class="w-100 rounded-0 border border-primary bg-transparent h-100" id="BodyHeight">
            <div class="w-100" id="BodyCardHeader">
                <form asp-action="Item">
                    <!-- Modal -->
                    <div class="modal modal-lg fade" id="UnitConversion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="staticBackdropLabel">Unit Conversion</p>
                                    <button type="button" class="btn-close" id="CloseButton" aria-label="Close"></button>
                                </div>
                                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                                    <div class="p-2 text-black h-100 nav-tab-fix">
                                        <ul class="nav nav-tabs tab-header" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Conversion</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content tab-body">
                                            <div class="tab-pane fade show active pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                                <div class="modal-body p-3 text-dark justify-content-center">
                                                    <div class="row">
                                                        <div class="col">
                                                            <partial name="ItemUnitView.cshtml" model="@Model.ItemDetail" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <a id="AddRowButton" class="btn btn-primary ms-2">Add Row</a>
                                    <button type="button" id="OkayButton" class="btn btn-primary me-2 px-4" ref="always_focus" autofocus>Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row h-100 gx-0">
                        <div class="col-12 h-100">
                            <div class="card bg-transparent shadow-none overflow-hidden mb-2 sticky-top top-100 border-bottom h-100">
                                <div class="card-body text-black">
                                    <div class="row">
                                        <input type="hidden" name="PSize" value="@ViewData["PageSize"]" />
                                        <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                        <input type="hidden" name="Search" value="@ViewData["CurrentFilter"]" />
                                        <partial name="ItemView.cshtml" model="@Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-100" id="BodyCardBody">
                
                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                    <div class="card-body text-black h-100 nav-tab-fix">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active p-3 pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <div class="w-100 h-100" id="CardPanel">
                                    <div class="row pb-3" id="CardHeader">
                                        <div class="col">
                                            <form asp-action="Item" method="get">
                                                <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                                                <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                                <input type="hidden" name="PageFilter" value="PageFilter" />
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="row gx-0">
                                                            <div class="col-auto me-3">
                                                                <select name="PSize" class="form-select w-auto  py-1 pe-4" asp-route-PageFilter="PageFilter" asp-items="@ViewBag.Page" onchange="form.submit();"></select>
                                                            </div>
                                                            <div class="col-auto">
                                                                <input id="Search" name="Search" class="form-control p-1 search-control" autocomplete="off" value="@ViewData["CurrentFilter"]" />
                                                            </div>
                                                            <div class="col-auto">
                                                                <input type="submit" name="Mode" value="Search" class="btn btn-primary btn-sm" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-4">
                                                        <div class="w-100 MenuAction d-none text-end">
                                                            <a class="DeleteAllButton btn btn-sm btn-danger me-2">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <partial name="ItemListView.cshtml" model="@Model.Item_List" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>

<script>
    $('.navbar-nav > .nav-item.inventory > a').addClass("active");
</script>


<script>
    let ajaxPending = false;

    function validateTextbox(textbox, event) {
        if (ajaxPending) {
            event.preventDefault();
            return;
        }
        let value = textbox.val().trim();
        if (value === "") {
            return;
        }

        ajaxPending = true;
        event.preventDefault();

        $.ajax({
            type: "get",
            url: "item/duplicate",
            data: { Title: textbox.val(), Number: $(".Number").val() },
            datatype: "json",
            traditional: true,
            success: function (response) {
                var res = response;
                if (response) {
                    ajaxPending = false;
                    if (!$("#DuplicateAlert").is(':visible')) {
                        new bootstrap.Modal($("#DuplicateAlert")).show();
                        $('#DuplicateAlert').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }
                    return;
                }
            }
        });
    }

    $(document).on("blur", ".KeyDup", function (event) {
        validateTextbox($(this), event);
    });

    $(document).on("keydown", ".KeyDup", function (event) {
        if (event.key === "Enter") {
            validateTextbox($(this), event);
        }
    });

    $('#DuplicateAlert').on('hidden.bs.modal', function () {
        setTimeout(function () {
            $('#ItemCode').focus();
        }, 1);
    });


    $('form').submit(function (event) {
        $("tr.NewRow").each(function () {
            var FromQty = $(this).find("input.FromQty").val();
            var ToQty = $(this).find("input.ToQty").val();
            var FromUnit = $(this).find("select.FromUnit").val();
            var ToUnit = $(this).find("select.ToUnit").val();

            if (!FromUnit && !ToUnit && !(FromQty > 0) && !(ToQty > 0)) {
                $(this).remove();
            }
        });
    });



    $(".decimal").each(function () {
        var value = $(this).val();
        $(this).val(formatToIndianRupees(value));
    });

    $(document).on("blur", ".decimal", function () {
        var value = $(this).val();
        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0.00");
        } else {
            $(this).val(formatToIndianRupees(value));
        }
    });

    $(document).on("focus", ".decimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });

    $(".FiveDecimal").each(function () {
        var value = $(this).val();
        $(this).val(formatToIndianRupees5Digit(value));
    });

    $(document).on("input", ".FiveDecimal", function () {
        let val = $(this).val();

        val = val.replace(/[^0-9.]/g, "");

        let parts = val.split(".");
        if (parts.length > 2) {
            val = parts[0] + "." + parts.slice(1).join("");
        }

        if (parts.length > 1) {
            parts[1] = parts[1].substring(0, 5);
            val = parts[0] + "." + parts[1];
        }

        $(this).val(val);
    });

    $(document).on("blur", ".FiveDecimal", function () {
        var value = $(this).val();
        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0.00000");
        } else {
            $(this).val(formatToIndianRupees5Digit(value));
        }
    });

    $(document).on("focus", ".FiveDecimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });

    function formatToIndianRupees5Digit(value) {
        if (value === "" || isNaN(value)) return "0.00000";

        var numValue = parseFloat(value);
        var truncatedValue = Math.floor(numValue * 100000) / 100000;
        var formattedValue = truncatedValue.toFixed(5);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }

    function formatToIndianRupees(value) {
        if (value === "" || isNaN(value)) {
            return "0.00000";
        }

        var formattedValue = parseFloat(value).toFixed(2);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }

    function removeCommas(value) {
        return value.replace(/,/g, '');
    }

    document.addEventListener("DOMContentLoaded", function () {
        const MainDiv = document.getElementById('BodyHeight');
        const HeadDiv = document.getElementById('BodyCardHeader');
        const BodyDiv = document.getElementById('BodyCardBody');

        if (HeadDiv && BodyDiv) {
            const MainDivHeight = MainDiv.offsetHeight;
            const HeadDivHeight = HeadDiv.offsetHeight;
            BodyDiv.style.height = (MainDivHeight - HeadDivHeight - 10) + 'px';
        }

        const MainTab = document.getElementById('CardPanel');
        const HeaderTab = document.getElementById('CardHeader');
        const bodyTab = document.getElementById('CardBody');
        const FooterTab = document.getElementById('CardFooter');

        const MainHeight = MainTab.offsetHeight;
        const HeaderHeight = HeaderTab.offsetHeight;
        const FooterHeight = FooterTab.offsetHeight;

        bodyTab.style.height = (MainHeight - HeaderHeight - FooterHeight-15) + 'px';
    });
</script>