@model List<ERP_DTO.PurchaseOrderIExpense_DTO>
<div class="w-100 table-responsive">
    <table class="table table-bordered table-hover align-middle table-grid mb-0">
        <thead>
            <tr class="table-info">
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_Expense_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_Description)</th>
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_Remarks)</th>
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_Occurrence_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_CM_Number)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().POI_EXP_ExpenseBase)</th>
                <th class="table-width-3xl text-end">@Html.DisplayNameFor(M => M.First().POI_EXP_ExpenseValue)</th>
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_Allocate_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().POI_EXP_LA_Number)</th>
                <th class="action text-center">Action</th>
            </tr>
        </thead>
        <tbody id="IExTableBody">
            <tr id="IExTempRow" style="display: none;">
                <td>
                    <input id="POI_EXP_POI_Number" class="POI_EXP_POI_Number" type="hidden" />
                    <input id="POI_EXP_Item_Number" class="POI_EXP_Item_Number" type="hidden" />
                    <input id="POI_EXP_Item_Index" class="POI_EXP_Item_Index" type="hidden" />
                    <select id="POI_EXP_Expense_Number" class="form-select POI_EXP_Expense_Number" asp-items="@ViewBag.ExpenseCode"></select>
                </td>
                <td>
                    <input id="POI_EXP_Description" class="form-control POI_EXP_Description" readonly autocomplete="off" />
                </td>
                <td>
                    <input id="POI_POI_EXP_Remarks" class="form-control POI_EXP_Remarks" autocomplete="off" />
                </td>
                <td>
                    <select id="POI_EXP_Occurrence_Number" class="form-select POI_EXP_Occurrence_Number" asp-items="@ViewBag.Occurrence"></select>
                </td>
                <td>
                    <select id="POI_EXP_CM_Number" class="form-select POI_EXP_CM_Number" asp-items="@ViewBag.ChargeableMethod"></select>
                </td>
                <td class="table-width-xl">
                    <input id="POI_EXP_ExpenseBase" class="form-control POI_EXP_ExpenseBase decimal text-end" autocomplete="off" />
                </td>
                <td class="table-width-3xl">
                    <input id="POI_EXP_ExpenseValue" class="form-control POI_EXP_ExpenseValue decimal text-end" readonly autocomplete="off" />
                </td>
                <td>
                    <select id="POI_EXP_Allocate_Number" class="form-select POI_EXP_Allocate_Number" asp-items="@ViewBag.Allocate"></select>
                </td>
                <td>
                    <select id="POI_EXP_LA_Number" class="form-select POI_EXP_LA_Number" asp-items="@ViewBag.LedgerAccount"></select>
                </td>
                <td class="action text-center">
                    <input type="hidden" name="IsDeleted" class="IsDeleted" value="false" />
                    <a class="IExRowRemove text-danger p-0 icon-link shadow-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="IExNewRow" style="@(@Model[i].IsDeleted == "true" ? "display: none;" : "")">
                        <td>
                            <input id="POI_EXP_POI_Number" name="ItemExpenses[@i].POI_EXP_POI_Number" type="hidden" class="POI_EXP_POI_Number" value="@Model[i].POI_EXP_POI_Number" />
                            <input id="POI_EXP_Item_Number" name="ItemExpenses[@i].POI_EXP_Item_Number" type="hidden" class="POI_EXP_Item_Number" value="@Model[i].POI_EXP_Item_Number" />
                            <input id="POI_EXP_Item_Index" name="ItemExpenses[@i].POI_EXP_Item_Index" type="hidden" class="POI_EXP_Item_Index" value="@Model[i].POI_EXP_Item_Index" />
                            <select id="POI_EXP_Expense_Number" name="ItemExpenses[@i].POI_EXP_Expense_Number" class="form-select POI_EXP_Expense_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ExpenseCode)
                                {
                                    if (item.Value == Model[i].POI_EXP_Expense_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="POI_EXP_Description" name="ItemExpenses[@i].POI_EXP_Description" readonly class="form-control POI_EXP_Description" autocomplete="off" value="@Model[i].POI_EXP_Description" />
                        </td>
                        <td>
                            <input id="POI_EXP_Remarks" name="ItemExpenses[@i].POI_EXP_Remarks" class="form-control POI_EXP_Remarks" autocomplete="off" value="@Model[i].POI_EXP_Remarks" />
                        </td>
                        <td>
                            <select id="POI_EXP_Occurrence_Number" name="ItemExpenses[@i].POI_EXP_Occurrence_Number" class="form-select POI_EXP_Occurrence_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Occurrence)
                                {
                                    if (item.Value == Model[i].POI_EXP_Occurrence_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="POI_EXP_CM_Number" name="ItemExpenses[@i].POI_EXP_CM_Number" class="form-select POI_EXP_CM_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ChargeableMethod)
                                {
                                    if (item.Value == Model[i].POI_EXP_CM_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="table-width-xl">
                            <input id="POI_EXP_ExpenseBase" name="ItemExpenses[@i].POI_EXP_ExpenseBase" class="form-control POI_EXP_ExpenseBase decimal text-end" autocomplete="off" value="@Model[i].POI_EXP_ExpenseBase" />
                        </td>
                        <td class="table-width-3xl">
                            <input id="POI_EXP_ExpenseValue" name="ItemExpenses[@i].POI_EXP_ExpenseValue" readonly class="form-control POI_EXP_ExpenseValue decimal text-end" autocomplete="off" value="@Model[i].POI_EXP_ExpenseValue" />
                        </td>
                        <td>
                            <select id="POI_EXP_Allocate_Number" name="ItemExpenses[@i].POI_EXP_Allocate_Number" class="form-select POI_EXP_Allocate_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Allocate)
                                {
                                    if (item.Value == Model[i].POI_EXP_Allocate_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="POI_EXP_LA_Number" name="ItemExpenses[@i].POI_EXP_LA_Number" class="form-select POI_EXP_LA_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.LedgerAccount)
                                {
                                    if (item.Value == Model[i].POI_EXP_LA_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="action text-center">
                            @if (@Model[i].POI_EXP_Number != 0)
                            {
                                <input name="ItemExpenses[@i].POI_EXP_Number" class="PII_EXP_Number" type="hidden" id="POI_EXP_Number" value="@Model[i].POI_EXP_Number" />
                            }
                            <input type="hidden" name="ItemExpenses[@i].IsDeleted" value="@Model[i].IsDeleted" class="IsDeleted" />
                            <a class="IExRowRemove text-danger p-0 icon-link shadow-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="6" class="text-end py-2">Total</td>
                <td class="table-width-3xl text-end">
                    <input id="TotalIExpenseAmount" class="form-control text-end" readonly />
                </td>
                <td colspan="3">
                </td>
        </tfoot>
    </table>
</div>
@* <a id="IExNewRowButton" class="btn btn-primary">Add Row</a> *@
<script>
    $(document).ready(function () {
        var rowCount = @(Model != null ? Model.Count : 0);
        var isAddingRow = false;

        function IExNewRow() {
            var IExNewRow = $("#IExTempRow").clone().removeAttr("style").removeAttr("id").addClass("IExNewRow");
            IExNewRow.find("input.POI_EXP_POI_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_POI_Number").val($("#POI_EXP_POI_Number").val());
            IExNewRow.find("input.POI_EXP_Item_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_Item_Number").val($("#POI_EXP_ItemNumber").val());
            IExNewRow.find("input.POI_EXP_Item_Index").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_Item_Index").val($("#POI_EXP_ItemIndex").val());
            IExNewRow.find("select.POI_EXP_Expense_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_Expense_Number");
            IExNewRow.find("input.POI_EXP_Description").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_Description");
            IExNewRow.find("input.POI_POI_EXP_Remarks").attr("name", "ItemExpenses[" + rowCount + "].POI_POI_EXP_Remarks");
            IExNewRow.find("select.POI_EXP_Occurrence_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_Occurrence_Number");
            IExNewRow.find("select.POI_EXP_CM_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_CM_Number");
            IExNewRow.find("input.POI_EXP_ExpenseBase").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_ExpenseBase");
            IExNewRow.find("input.POI_EXP_ExpenseValue").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_ExpenseValue");
            IExNewRow.find("select.POI_EXP_Allocate_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_Allocate_Number");
            IExNewRow.find("select.POI_EXP_LA_Number").attr("name", "ItemExpenses[" + rowCount + "].POI_EXP_LA_Number");
            IExNewRow.find("input.IsDeleted").attr("name", "ItemExpenses[" + rowCount + "].IsDeleted").val("false");

            $("#IExTableBody").append(IExNewRow);
            rowCount++;
            IExNewRow.data("isValid", false);
            isAddingRow = false;
        }

        $(document).on('click', '.IExRowRemove', function () {
            $(this).closest('tr').find("input.IsDeleted").val("true");
            $(this).closest('tr').hide();
        });

        $(document).on('keydown', "tr.IExNewRow select, tr.IExNewRow input.POI_EXP_ExpenseBase, tr.IExNewRow input[type='text']", function (event) {
            if (event.keyCode === 9) {
                if (!IExValidateField($(this)))
                    event.preventDefault();
            }
        });

        $(document).on("change", "tr.IExNewRow select, tr.IExNewRow input.POI_EXP_ExpenseBase, input[type='text']", function () {
            if (isAddingRow)
                return;
            isAddingRow = true;

            var currentInput = $(this);
            var isValid = IExValidateField(currentInput);
            var currentRow = $(this).closest("tr.IExNewRow");
            if (isValid) {
                if (IExCheckAllFieldsValid(currentRow)) {
                    currentRow.data("isValid", true);
                }
                else {
                    currentRow.data("isValid", false);
                }
            }
            else {
                currentRow.data("isValid", false);
            }
            if (currentRow.data("isValid")) {
                var lastRow = $("tr.IExNewRow").last();
                if (IExCheckAllFieldsValid(lastRow))
                    IExNewRow();
            }
            else {
                isAddingRow = false;
            }
        });

        function IExCheckAllFieldsValid(currentRow) {
            var allFieldsValid = true;
            $("tr.IExNewRow:visible").each(function () {
                $(this).find("select, input.POI_EXP_ExpenseBase, input[type='text']").each(function () {
                    if (!IExValidateField($(this))) {
                        allFieldsValid = false;
                        return false;
                    }
                });
                if (!allFieldsValid) return false;
            });
            return allFieldsValid;
        }

        function IExValidateField(currentInput) {
            var valid = 1;
            var inputValue = currentInput.val();
            if (inputValue === "") {
                valid = 0;
            }
            if (currentInput.hasClass(".POI_EXP_ExpenseBase")) {
                valid = ExValidateAmount(currentInput);
            }
            if (valid == 0) {
                return false;
            }
            else {
                return true;
            }
        }

        function ExValidateAmount(currentInput) {
            var valid = 1;

            var currentRow = currentInput.closest("tr.IExNewRow");
            var PercentInput = currentRow.find("input.POI_EXP_ExpenseBase");
            var Percent = removeCommas(PercentInput.val());
            if (Percent > 0) {
            }
            else {
                valid = 0;
            }
            return valid;
        }

        $(document).on('change', "tr.IExNewRow select.POI_EXP_Expense_Number", function () {
            var selectedValue = $(this).val();
            var Description = $(this).closest("tr.IExNewRow").find(".POI_EXP_Description");
            var Ledger = $(this).closest("tr.IExNewRow").find(".POI_EXP_LA_Number");
            var Allocate = $(this).closest("tr.IExNewRow").find(".POI_EXP_Allocate_Number");

            $.ajax({
                type: "get",
                url: "expense/des",
                data: { Title: selectedValue },
                datatype: "json",
                traditional: true,
                success: function (Expense) {
                    Description.val(Expense.poH_EXP_Description);
                    Ledger.val(Expense.poH_EXP_LA_Number);
                    if (Allocate.val() === "") {
                        Allocate.val(1);
                    }
                }
            });
        });

      $("#IExOkayButton").click(function () {
            ICloseValid();
        });

        $("#IExCloseButton").click(function () {
            ICloseValid();
        });

        function ICloseValid(){
        
            $("tr.IExNewRow").each(function () {
                var ExpenseCode = $(this).find("select.POI_EXP_Expense_Number").val();
                var Occurrence = $(this).find("select.POI_EXP_Occurrence_Number").val();
                var ChargeableMethod = $(this).find("select.POI_EXP_CM_Number").val();
                var ExpenseBase = removeCommas($(this).find("input.POI_EXP_ExpenseBase").val());
                var Allocate = $(this).find("select.POI_EXP_Allocate_Number").val();
                var LedgerAccount = $(this).find("select.POI_EXP_LA_Number").val();

                if (!ExpenseCode && !Occurrence && !ChargeableMethod && !Allocate && !LedgerAccount && !(ExpenseBase > 0)) {
                    $(this).closest('tr').find("input.IsDeleted").val("true");
                    $(this).closest('tr').hide();
                }
            });

            var lastRow = $("tr.IExNewRow").last();
            if (IExCheckAllFieldsValid(lastRow)) {
                $("#IExpense").modal('hide');

                CalAmount();
            }
            else {
                alert("Please complete all fields !");
            }
        

            $("tr.IExNewRow").each(function () {
                var isDeleted = $(this).find("input.IsDeleted").val() === "true";
                if (!isDeleted) {
                    $(this).show();
                }
            });
      }

        $("#IExNewRowButton").click(function () {
            var lastRow = $("tr.IExNewRow").last();
            if (IExCheckAllFieldsValid(lastRow)) {
                IExNewRow();
            }
            else {
                var firstInvalidField = null;
                lastRow.find("select, input.POI_EXP_ExpenseBase, input[type='text']").each(function () {
                    if (!IExValidateField($(this))) {
                        if (firstInvalidField == null)
                            firstInvalidField = $(this);
                        return false;
                    }
                });
                if (firstInvalidField != null) {
                    alert("Please complete all fields !");
                    firstInvalidField.focus();
                }
            }
        });

        $(document).on('click', '.ItemExpense', function () {
            let CheckedCount = document.querySelectorAll('.CheckItem:checked').length;
            let CheckedCheckbox = document.querySelector('.CheckItem:checked');
            if(CheckedCount==0){
                alert("Select any one row from the list");

            } else if(CheckedCount>1){
                alert("Select only one row from the list");
            }
            else if(CheckedCount==1){
                var currentRow = $(CheckedCheckbox).closest('tr.NewRow');

                var ItemNumber = currentRow.find('input.POI_Item_Number').val();
                var Index = currentRow.find('input.POI_Index').val();
                var POINumber = currentRow.find('input.POI_Number').val();
                var Qty = currentRow.find('input.POI_Qty').val();
                var MaterialValue = currentRow.find('input.POI_Amount').val();

                if (POINumber) {
                    $("#POI_EXP_ItemNumber").val(ItemNumber);
                    $("#POI_EXP_POI_Number").val(POINumber);
                    $("#POI_EXP_ItemIndex").val(Index);
                    $("#POI_EXP_Qty").val(Qty);
                    $("#POI_EXP_MaterialValue").val(MaterialValue);

                    $("tr.IExNewRow").each(function () {
                        var isDeleted = $(this).find("input.IsDeleted").val() === "true";
                        if (!isDeleted) {
                            $(this).show();
                        }
                    });

                    var cout = 0;
                    $("tr.IExNewRow").each(function () {
                        var RowPOINumber = $(this).find("input.POI_EXP_POI_Number").val();
                        var isDeleted = $(this).find("input.IsDeleted").val();

                        if (RowPOINumber === POINumber && isDeleted !== 'true') {
                            $(this).show();
                            cout++;
                        } else {
                            $(this).hide();
                        }
                    });

                    if (cout === 0) {
                        IExNewRow();
                    }

                    new bootstrap.Modal($("#IExpense")).show();
                    $('#IExpense').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();

                        (async () => {
                            IExpenseCalculateFooter();
                        })();
                    });
                }
                else if (ItemNumber) {
                    $("#POI_EXP_POI_Number").val();
                    $("#POI_EXP_ItemNumber").val(ItemNumber);
                    $("#POI_EXP_ItemIndex").val(Index);
                    $("#POI_EXP_Qty").val(Qty);
                    $("#POI_EXP_MaterialValue").val(MaterialValue);

                    $("tr.IExNewRow").each(function () {
                        var isDeleted = $(this).find("input.IsDeleted").val() === "true";
                        if (!isDeleted) {
                            $(this).show();
                        }
                    });

                    var cout = 0;
                    $("tr.IExNewRow").each(function () {
                        var RowItemNumber = $(this).find("input.POI_EXP_Item_Number").val();
                        var RowItemIndex = $(this).find("input.POI_EXP_Item_Index").val();
                        var isDeleted = $(this).find("input.IsDeleted").val();

                        if (RowItemNumber === ItemNumber && RowItemIndex === Index && isDeleted !== 'true') {
                            $(this).show();
                            cout++;
                        } else {
                            $(this).hide();
                        }
                    });

                    if (cout === 0) {
                        IExNewRow();
                    }

                    new bootstrap.Modal($("#IExpense")).show();
                    $('#IExpense').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();

                        (async () => {
                            IExpenseCalculateFooter();
                        })();
                    });
                }
            }
        });

    $(document).on('input', "input.POI_EXP_ExpenseBase", function (event) {
            IExAssignValue($(this));
            IExpenseCalculateFooter();
        });

        $(document).on('change', "tr.IExNewRow select.POI_EXP_CM_Number", function () {
            IExAssignValue($(this));
            IExpenseCalculateFooter();
        });

      });
    async function IExpenseCalculateFooter() {
        var TotalExpAmount = 0;

        $("tr.IExNewRow:visible").each(function () {
                var ExpenseAmount = $(this).find(".POI_EXP_ExpenseValue").val();
                TotalExpAmount += parseFloat(removeCommas(ExpenseAmount));
        });
        $("#TotalIExpenseAmount").val(DecimalIndianRupees(TotalExpAmount.toFixed(2)));
    }

    function IExAssignValue(currentInput) {
        var row = currentInput.closest("tr.IExNewRow");

        var Charge = row.find("select.POI_EXP_CM_Number").val();

        if (Charge === "1") {
            var ExpenseBase = parseFloat(removeCommas(row.find("input.POI_EXP_ExpenseBase").val())) || 0;
            row.find("input.POI_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseBase));
        }
        else if (Charge === "2") {
            var ItemQty = parseFloat(removeCommas($("#POI_EXP_Qty").val())) || 0;
            var ExpenseBase = parseFloat(removeCommas(row.find("input.POI_EXP_ExpenseBase").val())) || 0;
            var ExpenseValue = ItemQty * ExpenseBase;
            row.find("input.POI_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseValue));
        }
        else if (Charge === "3") {
            var ItemAmount = parseFloat(removeCommas($("#POI_EXP_MaterialValue").val())) || 0;
            console.log("ItemAmount", ItemAmount);
            var ExpenseBase = parseFloat(removeCommas(row.find("input.POI_EXP_ExpenseBase").val())) || 0;
            var ExpenseValue = ItemAmount * ExpenseBase / 100;
            row.find("input.POI_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseValue));
        }
    }
</script>
<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height: 300px;
    }
</style>