@model List<ERP_DTO.PurchaseOrderExpense_DTO>

<div class="w-100 table-responsive">
    <table class="table table-bordered table-hover align-middle table-grid mb-0">
        <thead>
            <tr class="table-info">
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_Expense_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_Description)</th>
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_Remarks)</th>
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_Occurrence_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_CM_Number)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().POH_EXP_ExpenseBase)</th>
                <th class="table-width-3xl text-end">@Html.DisplayNameFor(M => M.First().POH_EXP_ExpenseValue)</th>
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_Allocate_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().POH_EXP_LA_Number)</th>
            </tr>
        </thead>
        <tbody id="ExTableBody">
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="ExNewRow">
                        <td>
                            <select id="POH_EXP_Expense_Number" name="Expenses[@i].POH_EXP_Expense_Number" disabled class="form-select POH_EXP_Expense_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ExpenseCode)
                                {
                                    if (item.Value == Model[i].POH_EXP_Expense_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="POH_EXP_Description" name="Expenses[@i].POH_EXP_Description" class="form-control-plaintext POH_EXP_Description" readonly autocomplete="off" value="@Model[i].POH_EXP_Description" />
                        </td>
                        <td>
                            <input id="POH_EXP_Remarks" name="Expenses[@i].POH_EXP_Remarks" class="form-control-plaintext POH_EXP_Remarks" readonly autocomplete="off" value="@Model[i].POH_EXP_Remarks" />
                        </td>
                        <td>
                            <select id="POH_EXP_Occurrence_Number" name="Expenses[@i].POH_EXP_Occurrence_Number" disabled class="form-select POH_EXP_Occurrence_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Occurrence)
                                {
                                    if (item.Value == Model[i].POH_EXP_Occurrence_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="POH_EXP_CM_Number" name="Expenses[@i].POH_EXP_CM_Number" disabled class="form-select POH_EXP_CM_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ChargeableMethod)
                                {
                                    if (item.Value == Model[i].POH_EXP_CM_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="table-width-xl">
                            <input id="POH_EXP_ExpenseBase" name="Expenses[@i].POH_EXP_ExpenseBase" readonly class="form-control-plaintext POH_EXP_ExpenseBase decimal text-end" autocomplete="off" value="@Model[i].POH_EXP_ExpenseBase" />
                        </td>
                        <td class="table-width-3xl">
                            <input id="POH_EXP_ExpenseValue" name="Expenses[@i].POH_EXP_ExpenseValue" class="form-control-plaintext POH_EXP_ExpenseValue decimal text-end" readonly autocomplete="off" value="@Model[i].POH_EXP_ExpenseValue" />
                        </td>
                        <td>
                            <select id="POH_EXP_Allocate_Number" name="Expenses[@i].POH_EXP_Allocate_Number" disabled class="form-select POH_EXP_Allocate_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Allocate)
                                {
                                    if (item.Value == Model[i].POH_EXP_Allocate_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="POH_EXP_LA_Number" name="Expenses[@i].POH_EXP_LA_Number" disabled class="form-select POH_EXP_LA_Number">
                            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.LedgerAccount)
                            {
                                if (item.Value == Model[i].POH_EXP_LA_Number)
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                            </select>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="6" class="text-end py-2"><span class="float-end  pe-3">Total</span></td>
                <td>
                    <input id="TotalExpenseAmount" class="form-control text-end" readonly />
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {

        $("#ExCloseButton").click(function () {
                $("#Expense").modal('hide');
        });
        window.onload = ExpenseCalculateFooter();

    });
    async function ExpenseCalculateFooter() {
        var TotalExpAmount = 0;

        $("tr.ExNewRow").each(function () {
                var ExpenseAmount = $(this).find(".POH_EXP_ExpenseValue").val();

                TotalExpAmount += parseFloat(removeCommas(ExpenseAmount));
        });

        $("#TotalExpenseAmount").val(DecimalIndianRupees(TotalExpAmount.toFixed(2)));

    }
</script>
<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height: 300px;
    }
</style>