@model ERP_DTO.PaginatedList_DTO<ERP_DTO.JobInwardTransaction.ServiceOrderDetailed_DTO>

@using System.Globalization;

@{
    CultureInfo India = new CultureInfo("hi-IN");
    ViewData["Title"] = "Service Order Detailed";
}

<form asp-action="ServiceOrderDetailed" class="h-100">

    <!-- HEADER -->
    <div class="row align-items-center panel-header gx-2">

        <div class="col h-100">

            <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">

                Service Order Detailed

                <a asp-controller="JobworkInward"
                   asp-action="Index"
                   class="float-end btn p-0 shadow-none">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="12"
                         height="12"
                         fill="currentColor"
                         class="bi bi-x-lg"
                         viewBox="0 0 16 16">

                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />

                    </svg>

                </a>

            </div>

        </div>

    </div>

    <!-- BODY -->
    <div class="row panel-body gx-2">

        <div class="col-12 panel-card-fixed" id="BodyHeight">

            <div class="w-100 rounded-0 border border-primary bg-transparent h-100">

                <div class="w-100 h-100" id="BodyCardHeader">

                    <div class="card rounded-0 bg-transparent shadow-none h-100">

                        <div class="card-body text-black nav-tab-fix h-100">

                            <!-- TABS -->
                            <ul class="nav nav-tabs tab-header">

                                <li class="nav-item">
                                    <a class="nav-link"
                                       asp-controller="ServiceOrder"
                                       asp-action="ServiceOrderSummary">
                                        Summary
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active">Detailed</a>
                                </li>

                            </ul>

                            <div class="tab-content tab-body">

                                <div class="tab-pane fade show active p-2 pb-0 border border-top-0 h-100 table-fixed">

                                    <!-- TOP HEADER -->
                                    <div class="row table-header">

                                        <div class="col">

                                            <input type="hidden"
                                                   name="sortOrder"
                                                   value="@ViewData["CurrentSort"]" />

                                            <input type="hidden"
                                                   name="PageNumber"
                                                   value="@ViewData["PageNumber"]" />

                                            <input type="hidden"
                                                   name="PageFilter"
                                                   value="PageFilter" />

                                            <div class="row">

                                                <!-- LEFT -->
                                                <div class="col-5">

                                                    <div class="row">

                                                        <div class="col-auto me-1">

                                                            <select name="PSize"
                                                                    class="form-select w-auto py-1 pe-4"
                                                                    asp-route-PageFilter="PageFilter"
                                                                    asp-items="@ViewBag.Page"
                                                                    onchange="form.submit();">
                                                            </select>

                                                        </div>

                                                        <div class="col-auto p-0">

                                                            <input id="Search"
                                                                   name="Search"
                                                                   class="form-control search-control p-1"
                                                                   autocomplete="off"
                                                                   value="@ViewData["CurrentFilter"]" />

                                                        </div>

                                                        <div class="col-auto p-0">

                                                            <input type="submit"
                                                                   name="Mode"
                                                                   value="Search"
                                                                   class="btn btn-primary btn-sm" />

                                                        </div>

                                                    </div>

                                                </div>

                                                <!-- RIGHT -->
                                                <div class="col-7">

                                                    <div class="row justify-content-end gx-0">

                                                        <div class="col-auto me-1">

                                                            <input type="submit"
                                                                   name="Mode"
                                                                   id="View"
                                                                   disabled
                                                                   value="View"
                                                                   class="btn btn-primary" />

                                                        </div>

                                                        <div class="col-auto me-1">

                                                            <input type="submit"
                                                                   name="Mode"
                                                                   id="Edit"
                                                                   disabled
                                                                   value="Edit"
                                                                   class="btn btn-primary" />

                                                        </div>

                                                        <div class="col-auto me-1">

                                                            <a class="DeleteAllButton btn btn-danger"
                                                               id="Delete"
                                                               disabled>
                                                                Delete
                                                            </a>

                                                        </div>

                                                        <input type="hidden"
                                                               id="SO_No"
                                                               name="SO_No" />

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <!-- TABLE -->
                                    <div class="table-body-h-c w-100 border p-2">

                                        <div class="col-12 table-body table-responsive h-100">

                                            <table class="table table-bordered table-hover align-middle mb-0 table-grid small"
                                                   id="MyTable">
                                                <thead class="thead table-first-header">

                                                    <tr class="table-info table-first-header-top">
                                                        <th class="px-2 del"></th>

                                                        <th colspan="2" class="text-center">
                                                            SVO Register
                                                        </th>

                                                        <th colspan="2" class="text-center">
                                                            Service Order
                                                        </th>

                                                        <th colspan="4" class="text-center">
                                                            JW Customer Details
                                                        </th>

                                                        <th colspan="16" class="text-center">
                                                            Item Details
                                                        </th>
                                                    </tr>

                                                    <tr class="table-info">

                                                        <th class="px-2 del">
                                                            <input type="checkbox"
                                                                   class="selectAllCheckbox form-check-input border-white"
                                                                   id="selectAllCheckbox">
                                                        </th>

                                                        <th>Number</th>
                                                        <th class="text-center">Date</th>

                                                        <th>Number</th>
                                                        <th class="text-center">Date</th>

                                                        <th>Group</th>
                                                        <th>Category</th>
                                                        <th>Name</th>
                                                        <th>Currency</th>

                                                        <th>Process</th>
                                                        <th>Material Segregation</th>
                                                        <th>Group</th>
                                                        <th>Item Code</th>
                                                        <th>Description</th>
                                                        <th>Outer Dia</th>
                                                        <th>Thickness</th>
                                                        <th>Length</th>
                                                        <th>Width</th>
                                                        <th>Material Grade</th>
                                                        <th>Warehouse</th>
                                                        <th>UoM</th>
                                                        <th class="text-end">Qty</th>
                                                        <th class="text-end">Unit Price</th>
                                                        <th class="text-end">Amount</th>
                                                        <th class="text-center">Delivery Date</th>

                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>

                                                            <td class="p-2 del">
                                                                <input type="checkbox"
                                                                       class="DeleteNumber form-check-input"
                                                                       name="DeleteNumber"
                                                                       value="@item.JISVOH_Number">
                                                            </td>

                                                            <td>@item.JISVOH_RegNo</td>

                                                            <td class="text-center">
                                                                @item.JISVOH_RegDate.ToString("dd-MMM-yyyy")
                                                            </td>

                                                            <td>@item.JISVOH_ServiceOrderNo</td>

                                                            <td class="text-center">
                                                                @item.JISVOH_ServiceOrderDate.ToString("dd-MMM-yyyy")
                                                            </td>

                                                            <td>@item.JCG_JW_CustomerGroup</td>
                                                            <td>@item.JCC_JW_CustomerCategory</td>
                                                            <td>@item.CUS_Name</td>
                                                            <td>@item.CurrencyCode</td>
                                                            <td>@item.PRS_ProcessName</td>
                                                            <td>@item.Segregation</td>
                                                            <td>@item.ItemGroup</td>
                                                            <td>@item.ItemCode</td>
                                                            <td>@item.ItemDescription</td>
                                                            <td>@item.OuterDia</td>
                                                            <td>@item.Thickness</td>
                                                            <td>@item.ItemLength</td>
                                                            <td>@item.ITM_Width</td>
                                                            <td>@item.MaterialGrade</td>
                                                            <td>@item.WarehouseCode</td>
                                                            <td>@item.UOM</td>

                                                            <td class="text-end">
                                                                @item.Qty
                                                            </td>

                                                            <td class="text-end">
                                                                @item.UnitPrice
                                                            </td>

                                                            <td class="text-end">
                                                                @String.Format(
                                                                    India,
                                                                    "{0:N2}",
                                                                    Convert.ToDouble(item.Amount)
                                                                )
                                                            </td>

                                                            <td class="text-center">
                                                                @item.DeliveryDate?.ToString("dd-MMM-yyyy")
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>

                                                <tfoot>
                                                    <tr class="table-info">

                                                        <td colspan="21" class="text-end fw-bold">
                                                            Total
                                                        </td>

                                                        <!-- Qty -->
                                                        <td class="text-end fw-bold">
                                                            @String.Format(
                                                                India,
                                                                "{0:#,0.##}",
                                                                Convert.ToDouble(ViewBag.SumOfQty)
                                                            )
                                                        </td>

                                                        <!-- Unit Price -->
                                                        <td class="text-end fw-bold">
                                                            @String.Format(
                                                                India,
                                                                "{0:#,0.##}",
                                                                Convert.ToDouble(ViewBag.SumOfUnitPrice)
                                                            )
                                                        </td>

                                                        <!-- Amount -->
                                                        <td class="text-end fw-bold">
                                                            @String.Format(
                                                                India,
                                                                "{0:#,0.##}",
                                                                Convert.ToDouble(ViewBag.SumOfAmount)
                                                            )
                                                        </td>

                                                        <!-- Delivery Date -->
                                                        <td></td>

                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    @{
                                        var prevDisabled =
                                        !Model.HasPreviousPage ? "disabled" : "";

                                        var nextDisabled =
                                        !Model.HasNextPage ? "disabled" : "";
                                    }

                                    <div class="row table-cal align-items-center">
                                        <div class="col align-items-center">
                                            <div class="row align-items-center">

                                                <div class="col py-1">
                                                    @{
                                                        Int32 TotalSize =
                                                        Convert.ToInt32(ViewData["TotalSize"]);

                                                        Int32 PageNumber =
                                                        Convert.ToInt32(ViewData["PageNumber"]);

                                                        Int32 PageSize =
                                                        Convert.ToInt32(ViewData["PageSize"]);

                                                        Int32 StartNumber = 1;
                                                        Int32 EndNumber = 0;

                                                        if (PageNumber > 1)
                                                        {
                                                            StartNumber =
                                                            StartNumber +
                                                            ((PageNumber - 1) * PageSize);
                                                        }

                                                        EndNumber =
                                                        (EndNumber + PageSize) +
                                                        ((PageNumber - 1) * PageSize);

                                                        if (EndNumber > TotalSize)
                                                        {
                                                            EndNumber = TotalSize;
                                                        }

                                                        if (StartNumber > EndNumber)
                                                        {
                                                            StartNumber = EndNumber;
                                                        }
                                                    }

                                                    Showing @StartNumber to @EndNumber
                                                </div>

                                                <div class="col text-center py-1">
                                                    Total records @TotalSize
                                                </div>

                                                <div class="col">
                                                    <nav>
                                                        <ul class="pagination float-end mb-0">

                                                            <li class="page-item">
                                                                <a asp-action="ServiceOrderDetailed"
                                                                       asp-route-pageNumber="1"
                                                                       class="page-link @prevDisabled">
                                                                    <<
                                                                    </a>
                                                                </li>

                                                                <li class="page-item">
                                                                    <a asp-action="ServiceOrderDetailed"
                                                                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                                                                           class="page-link @prevDisabled">
                                                                        <
                                                                        </a>
                                                                    </li>

                                                                    <li class="page-item">
                                                                        <a class="page-link">
                                                                            @ViewData["PageNumber"]
                                                                        </a>
                                                                    </li>

                                                                    <li class="page-item">
                                                                        <a asp-action="ServiceOrderDetailed"
                                                                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                                                                               class="page-link @nextDisabled">
                                                                            >
                                                                        </a>
                                                                    </li>

                                                                    <li class="page-item">
                                                                        <a asp-action="ServiceOrderDetailed"
                                                                               asp-route-pageNumber="@ViewData["PageCount"]"
                                                                               class="page-link @nextDisabled">
                                                                            >>
                                                                        </a>
                                                                    </li>

                                                                </ul>
                                                            </nav>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <script>
            $(document).ready(function () {

                const $tableBody = $('#MyTable tbody');

                $tableBody.on('click', 'tr', function (e) {

                    if ($(e.target).is('input[type="checkbox"], a, button')) {
                        return;
                    }

                    $(this)
                        .find('.DeleteNumber')
                        .prop('checked', function (i, currentValue) {
                            return !currentValue;
                        })
                        .trigger('change');

                    UpdateButtonWithData();
                });
            });

            function UpdateButtonWithData() {

                const checkboxes =
                    document.querySelectorAll(".DeleteNumber:checked");

                const Editbutton =
                    document.getElementById("Edit");

                const Deletebutton =
                    document.getElementById("Delete");

                if (checkboxes.length == 1) {
                    Editbutton.removeAttribute("disabled");
                    Deletebutton.removeAttribute("disabled");
                }
                else {
                    Editbutton.setAttribute("disabled", "true");
                    Deletebutton.setAttribute("disabled", "true");
                }
            }

            document.querySelectorAll(".DeleteNumber")
                .forEach(checkbox => {
                    checkbox.addEventListener(
                        "change",
                        UpdateButtonWithData
                    );
                });

            document.addEventListener('DOMContentLoaded', function () {

                const selectAllCheckbox =
                    document.getElementById('selectAllCheckbox');

                selectAllCheckbox.addEventListener('change', function () {

                    const checkboxes =
                        document.querySelectorAll(".DeleteNumber");

                    checkboxes.forEach(chk => {
                        chk.checked = selectAllCheckbox.checked;
                    });

                    UpdateButtonWithData();
                });
            });

            $('.navbar-nav > .nav-item.jobinward > a')
                .addClass("active");
        </script>