@model List<ERP_DTO.JobInwardTransaction.ReceiptNoteBatch_DTO>

<div class="w-100 table-responsive">
    <table class="table table-bordered table-hover align-middle table-grid mb-0">
        <thead>
            <tr class="table-info">
                <th class="datetype text-center">@Html.DisplayNameFor(M => M.First().RNI_BCH_Date)</th>
                <th>@Html.DisplayNameFor(M => M.First().RNI_BCH_No)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().RNI_BCH_Qty)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().RNI_BCH_UnitPrice)</th>
                <th class="table-width-3xl text-end">@Html.DisplayNameFor(M => M.First().RNI_BCH_Value)</th>
                <th class="action text-center">Action</th>
            </tr>
        </thead>
        <tbody id="IBatTableBody">
            <tr id="IBatTempRow" style="display: none;">
                <td class="datetype">
                    <input id="PII_BCH_Item_Number" class="PII_BCH_Item_Number" type="hidden" />
                    <input id="PII_BCH_Item_Index" class="PII_BCH_Item_Index" type="hidden" />
                    <input id="PII_BCH_Date" class="form-control Key datepicker PII_BCH_Date text-center" autocomplete="off" />
                </td>
                <td>
                    <input id="PII_BCH_No" class="form-control PII_BCH_No" autocomplete="off" />
                </td>
                <td class="table-width-xl">
                    <input id="PII_BCH_Qty" class="form-control PII_BCH_Qty  text-end decimal" autocomplete="off" />
                </td>
                <td class="table-width-xl">
                    <input id="PII_BCH_UnitPrice" class="form-control PII_BCH_UnitPrice decimal text-end" readonly autocomplete="off" />
                </td>
                <td class="table-width-3xl">
                    <input id="PII_BCH_Value" class="form-control PII_BCH_Value decimal text-end" readonly autocomplete="off" />
                </td>
                <td class="action text-center">
                    <input id="PII_BCH_IsDeleted" type="hidden" name="PII_BCH_IsDeleted" class="PII_BCH_IsDeleted" value="false" />
                    <a class="IBatRowRemove text-danger p-0 icon-link shadow-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="IBatNewRow" style="@(@Model[i].RNI_BCH_IsDeleted == "true" ? "display: none;" : "")">
                        <td class="datetype">
                            <input id="PII_BCH_Item_Number" name="ItemBatch[@i].PII_BCH_Item_Number" class="PII_BCH_Item_Number" type="hidden" value="@Model[i].RNI_BCH_Item_Number" />
                            <input id="PII_BCH_Item_Index" name="ItemBatch[@i].PII_BCH_Item_Index" class="PII_BCH_Item_Index" type="hidden" value="@Model[i].RNI_BCH_Item_Index" />
                            <input id="PII_BCH_Date" name="ItemBatch[@i].PII_BCH_Date" class="form-control Key datepicker PII_BCH_Date text-center" autocomplete="off" value="@Model[i].RNI_BCH_Date" />
                        </td>
                        <td>
                            <input id="PII_BCH_No" name="ItemBatch[@i].PII_BCH_No" class="form-control PII_BCH_No" autocomplete="off" value="@Model[i].RNI_BCH_No" />
                        </td>
                        <td class="table-width-xl">
                            <input id="PII_BCH_Qty" name="ItemBatch[@i].PII_BCH_Qty" class="form-control PII_BCH_Qty text-end" autocomplete="off" value="@Model[i].RNI_BCH_Qty" />
                        </td>
                        <td class="table-width-xl">
                            <input id="PII_BCH_UnitPrice" name="ItemBatch[@i].PII_BCH_UnitPrice" readonly class="form-control PII_BCH_UnitPrice decimal text-end" autocomplete="off" value="@Model[i].RNI_BCH_UnitPrice" />
                        </td>
                        <td class="table-width-3xl">
                            <input id="PII_BCH_Value" name="ItemBatch[@i].PII_BCH_Value" readonly class="form-control PII_BCH_Value decimal text-end" autocomplete="off" value="@Model[i].RNI_BCH_Value" />
                        </td>
                        <td class="action text-center">
                            @if (@Model[i].RNI_BCH_Number != "")
                            {
                                <input name="ItemBatch[@i].PII_BCH_Number" type="hidden" class="Number" value="@Model[i].RNI_BCH_Number" />
                            }
                            <input type="hidden" id="PII_BCH_IsDeleted" name="ItemBatch[@i].PII_BCH_IsDeleted" class="PII_BCH_IsDeleted" value="@Model[i].RNI_BCH_IsDeleted" />
                            <a class="IBatRowRemove text-danger p-0 icon-link shadow-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td class="text-end" colspan="2">Total</td>
                <td class="table-width-xl">
                    <input id="BatchTotalQty" class="form-control text-end" readonly />
                </td>
                <td></td>
                <td class="table-width-3xl">
                    <input id="BatchTotalValue" class="form-control text-end" readonly />
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
@* <a id="IBatNewRowButton" class="btn btn-primary">Add Row</a> *@


<script>
    $(document).ready(function () {
        var browCount = @(Model != null ? Model.Count : 0);
        var isbAddingRow = false;

        function IBatNewRow() {
            var IBatNewRow = $("#IBatTempRow").clone().removeAttr("style").removeAttr("id").addClass("IBatNewRow");
            IBatNewRow.find("input.PII_BCH_Item_Number").attr("name", "ItemBatch[" + browCount + "].PII_BCH_Item_Number").val($("#PII_BATCH_ItemNumber").val());
            IBatNewRow.find("input.PII_BCH_Item_Index").attr("name", "ItemBatch[" + browCount + "].PII_BCH_Item_Index").val($("#PII_BATCH_ItemIndex").val());
            IBatNewRow.find("input.PII_BCH_Date").attr("name", "ItemBatch[" + browCount + "].PII_BCH_Date").val($("#PIH_InvoiceDate").val());;
            IBatNewRow.find("input.PII_BCH_No").attr("name", "ItemBatch[" + browCount + "].PII_BCH_No");
            IBatNewRow.find("input.PII_BCH_Qty").attr("name", "ItemBatch[" + browCount + "].PII_BCH_Qty");
            IBatNewRow.find("input.PII_BCH_UnitPrice").attr("name", "ItemBatch[" + browCount + "].PII_BCH_UnitPrice").val($("#PII_BATCH_Unit_Price").val());
            IBatNewRow.find("input.PII_BCH_Value").attr("name", "ItemBatch[" + browCount + "].PII_BCH_Value");
            IBatNewRow.find("input.PII_BCH_IsDeleted").attr("name", "ItemBatch[" + browCount + "].PII_BCH_IsDeleted").val("false");

            $("#IBatTableBody").append(IBatNewRow);
            browCount++;
            IBatNewRow.data("isValid", false);
            isbAddingRow = false;
        }

        $(document).on('click', '.ItemBatch', function () {
            let CheckedCheckbox = document.querySelector('.CheckItem:checked');
            if (CheckedCheckbox) {
                var currentRow = $(CheckedCheckbox).closest('tr.NewRow');

                var ItemNumber = currentRow.find('input.PII_Item_Number').val();
                var Index = currentRow.find('input.PII_Index').val();
                var Qty = currentRow.find('input.PII_Qty').val();
                var MatrialValue = currentRow.find('input.PII_Amount').val();

                if (ItemNumber) {
                    $("#PII_BATCH_ItemNumber").val(ItemNumber);
                    $("#PII_BATCH_ItemIndex").val(Index);
                    $("#PII_BATCH_Qty").val(removeCommas(Qty));
                    $("#PII_BATCHQty").text(removeCommas(Qty));

                    BaseUnitPrice(ItemNumber, Index, Qty, MatrialValue);

                    $("tr.IBatNewRow").each(function () {
                        var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val() === "true";
                        if (!PII_BCH_IsDeleted) {
                            $(this).show();
                        }
                        else{
                            $(this).closest('tr').find("input.PII_BCH_IsDeleted").val("true");
                            $(this).closest('tr').hide();
                        }
                    });

                    var cout = 0;
                    $("tr.IBatNewRow").each(function () {
                        var RowItemNumber = $(this).find("input.PII_BCH_Item_Number").val();
                        var RowItemIndex = $(this).find("input.PII_BCH_Item_Index").val();
                        var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val();

                        if (RowItemNumber === ItemNumber && RowItemIndex === Index && PII_BCH_IsDeleted !== 'true') {
                            $(this).show();
                            cout++;
                        } else {
                            $(this).hide();
                        }
                    });

                    if (cout === 0) {
                        IBatNewRow();
                    }


                    new bootstrap.Modal($("#IBatch")).show();
                    $('#IBatch').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();
                        (async () => {
                            BatchCalculateFooter();
                        })();
                    });
                }
            }
        });

        $(document).on('click', '.IBatRowRemove', function () {
            $(this).closest('tr').find("input.PII_BCH_IsDeleted").val("true");
            $(this).closest('tr').hide();

            (async () => {
                BatchCalculateFooter();
            })();
        });

        $(document).on('keydown', "tr.IBatNewRow select, tr.IBatNewRow input.PII_BCH_Qty, tr.IBatNewRow input[type='text']", function (event) {
            if (event.keyCode === 9) {
                if (!IBatValidateField($(this)))
                    event.preventDefault();
            }
        });

        $(document).on("change", "tr.IBatNewRow select, tr.IBatNewRow input.PII_BCH_Qty, input[type='text']", function () {
            if (isbAddingRow)
                return;
            isbAddingRow = true;

            var currentInput = $(this);
            var isValid = IBatValidateField(currentInput);
            var currentRow = $(this).closest("tr.IBatNewRow");
            if (isValid) {
                if (IBatCheckAllFieldsValid(currentRow)) {
                    currentRow.data("isValid", true);
                }
                else {
                    currentRow.data("isValid", false);
                }
            }
            else {
                currentRow.data("isValid", false);
            }
            if (currentRow.data("isValid")) {
                var lastRow = $("tr.IBatNewRow").last();
                if (IBatCheckAllFieldsValid(lastRow))
                    IBatNewRow();
            }
            else {
                isbAddingRow = false;
            }
        });

        $(document).on('input', "tr.IBatNewRow input.PII_BCH_Qty", function (event) {
            var row = $(this).closest("tr.IBatNewRow");
            var Qty = parseFloat(removeCommas(row.find("input.PII_BCH_Qty").val())) || 0;
            var UnitPrice = parseFloat(removeCommas(row.find("input.PII_BCH_UnitPrice").val())) || 0;
            var BatchValue = Qty * UnitPrice;

            row.find("input.PII_BCH_Value").val(DecimalIndianRupees(BatchValue));

            (async () => {
                BatchCalculateFooter();
            })();
        });

        function IBatCheckAllFieldsValid(currentRow) {
            var allFieldsValid = true;
            $("tr.IBatNewRow:visible").each(function () {
                $(this).find("select, input.PII_BCH_Qty,input.PII_BCH_No, input[type='text']").each(function () {
                    if (!IBatValidateField($(this))) {
                        allFieldsValid = false;
                        return false;
                    }
                });
                if (!allFieldsValid) return false;
            });
            return allFieldsValid;
        }

        function IBatValidateField(currentInput) {
            var valid = 1;
            var inputValue = currentInput.val();
            if (inputValue === "") {
                valid = 0;
            }
            if (currentInput.hasClass(".PII_BCH_Qty")) {
                valid = ExValidateAmount(currentInput);
            }
            if (valid == 0) {
                return false;
            }
            else {
                return true;
            }
        }

        function ExValidateAmount(currentInput) {
            var valid = 1;

            var currentRow = currentInput.closest("tr.IBatNewRow");
            var PercentInput = currentRow.find("input.PII_BCH_Qty");
            var Percent = removeCommas(PercentInput.val());
            if (Percent > 0) {
            }
            else {
                valid = 0;
            }
            return valid;
        }

        $("#IBatCloseButton").click(function () {
            var ItemQty = $("#PII_BATCH_Qty").val();
            var BatchQty = 0;
            $("tr.IBatNewRow:visible").each(function () {
                var irow = $(this);
                var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val() === "true";
                if (!PII_BCH_IsDeleted) {
                    var Date = $(this).find("input.PII_BCH_Date").val();
                    var No = $(this).find("input.PII_BCH_No").val();
                    var Qty = $(this).find("input.PII_BCH_Qty").val();

                    if (!No && !(Qty > 0)) {
                        $(this).closest('tr').find("input.PII_BCH_IsDeleted").val("true");
                        $(this).closest('tr').hide();
                    }
                    else{
                        BatchQty += parseFloat(Qty);
                    }
                }
            });

            if (parseFloat(ItemQty) === parseFloat(BatchQty)) {
                var lastRow = $("tr.IBatNewRow").last();
                if (IBatCheckAllFieldsValid(lastRow)) {
                    $("#IBatch").modal('hide');
                }
                else {
                    alert("Please complete all fields !");
                }

                $("tr.IBatNewRow").each(function () {
                    var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val() === "true";
                    if (!PII_BCH_IsDeleted) {
                        $(this).show();
                    }
                });
            }
            else{
                var lastRow = $("tr.IBatNewRow").last();
                if (IBatCheckAllFieldsValid(lastRow)) {
                    alert("Qty Mismatch !");
                    $("#IBatch").modal('hide');
                }
                else {
                    alert("Please complete all fields !");
                }
            }
        });

        $("#IBatNewRowButton").click(function () {
            var lastRow = $("tr.IBatNewRow").last();
            if (IBatCheckAllFieldsValid(lastRow)) {
                IBatNewRow();
            }
            else {
                var firstInvalidField = null;
                lastRow.find("select, input.PII_BCH_Qty, input[type='text']").each(function () {
                    if (!IBatValidateField($(this))) {
                        if (firstInvalidField == null)
                            firstInvalidField = $(this);
                        return false;
                    }
                });
                if (firstInvalidField != null) {
                    alert("Please complete all fields !");
                    firstInvalidField.focus();
                }
            }


            (async () => {
                BatchCalculateFooter();
            })();
        });
    });
    async function BatchCalculateFooter() {
        var BtotalQty = 0;
        var BtotalValue = 0;

        $("tr.IBatNewRow:visible").each(function () {
            var row = $(this);
            var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val() === "true";
            if (!PII_BCH_IsDeleted) {
                var Qty = parseFloat(removeCommas(row.find("input.PII_BCH_Qty").val()));
                var Value = parseFloat(removeCommas(row.find("input.PII_BCH_Value").val()));

                if (Qty != '') {
                    BtotalQty += parseFloat(Qty);
                }
                if (Value != '') {
                    BtotalValue += parseFloat(Value);
                }
            }
        });

        $("#BatchTotalQty").val(DecimalIndianRupees(BtotalQty));
        $("#BatchTotalValue").val(DecimalIndianRupees(BtotalValue.toFixed(2)));
    }
    window.onload = BatchCalculateFooter();

    function BaseUnitPrice(ItemNumber, Index, Qty, MatrialValue) {
        var Qty = parseFloat(removeCommas(Qty)) || 0;
        var MatrialValue = parseFloat(removeCommas(MatrialValue)) || 0;
        var BTotalQty = parseFloat(removeCommas($("#TotalQty").val())) || 0;
        var BTotalMatrial = parseFloat(removeCommas($("#TotalAmount").val())) || 0;
        var BExpense = 0;
        var BIExpense = 0;
        var BUnitPrice = 0;

        $("tr.ExNewRow").each(function () {
            var row = $(this);
            var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val() === "true";
            if (!PII_BCH_IsDeleted) {
                var Charge = row.find("select.PIH_EXP_CM_Number").val();
                var Allocate = row.find("select.PIH_EXP_Allocate_Number").val();
                var ExpenseValue = parseFloat(removeCommas(row.find("input.PIH_EXP_ExpenseValue").val())) || 0;
                var ExpenseBase = parseFloat(removeCommas(row.find("input.PIH_EXP_ExpenseBase").val())) || 0;

                if (Allocate == "1") {
                    if (Charge === "1") {
                        BExpense += parseFloat(parseFloat(ExpenseValue) / parseFloat(BTotalMatrial)) * parseFloat(MatrialValue);
                    }
                    else if (Charge === "2") {
                        BExpense += parseFloat(Qty) * parseFloat(ExpenseBase);
                    }
                    else if (Charge === "3") {
                        BExpense += parseFloat(MatrialValue) * parseFloat(ExpenseBase) / 100;
                    }
                }
            }
        });

        if (ItemNumber) {
            $("tr.IExNewRow").each(function () {
                var row = $(this);
                var RowItemNumber = $(this).find("input.PII_EXP_Item_Number").val();
                var RowItemIndex = $(this).find("input.PII_EXP_Item_Index").val();
                var PII_BCH_IsDeleted = $(this).find("input.PII_BCH_IsDeleted").val();

                if (RowItemNumber === ItemNumber && RowItemIndex === Index && PII_BCH_IsDeleted !== 'true') {
                    var Allocate = row.find("select.PII_EXP_Allocate_Number").val();
                    var ExpenseValue = parseFloat(removeCommas(row.find("input.PII_EXP_ExpenseValue").val())) || 0;
                    var ExpenseBase = parseFloat(removeCommas(row.find("input.PII_EXP_ExpenseBase").val())) || 0;

                    if (Allocate == "1") {
                        BIExpense += ExpenseValue;
                    }
                }
            });
        }

        BUnitPrice = (BExpense + BIExpense + MatrialValue) / Qty;

        $("#PII_BATCH_Unit_Price").val(BUnitPrice.toFixed(2));
    }
</script>


<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height: 300px;
    }
</style>
