@model List<ERP_DTO.SaleRejectionIncome_DTO>

<div class="w-100 table-responsive">
    <table class="table table-bordered table-hover align-middle w-100 mb-0">
        <thead>
            <tr class="table-info">
                @if (ViewBag.Mode == "2" || ViewBag.Mode == "3")
                {
                    <th>Sale Order Number</th>
                }
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_MIC_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_MIC_Description)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_Remarks)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_OCRN_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_CM_Number)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().SRH_INC_IncomeBase)</th>
                <th class="table-width-3xl text-end">@Html.DisplayNameFor(M => M.First().SRH_INC_IncomeValue)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_ALCT_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_LA_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SRH_INC_CalculateGST)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().SRH_INC_GST_Amount)</th>
                <th class="table-width-md text-end">@Html.DisplayNameFor(M => M.First().SRH_INC_WHT_Percent)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().SRH_INC_WHT_Amount)</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="InTableBody">
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="InNewRow">
                        @if (ViewBag.Mode == "2" || ViewBag.Mode == "3")
                        {
                            <td>
                                <input id="SRH_INC_SIH_InvoiceNo" name="Income[@i].SRH_INC_SIH_InvoiceNo" class="form-control SRH_INC_SIH_InvoiceNo" readonly value="@Model[i].SRH_INC_SIH_InvoiceNo" />
                            </td>
                        }
                        <td>
                            <select id="SRH_INC_MIC_Number" name="Income[@i].SRH_INC_MIC_Number" class="form-select SRH_INC_MIC_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.IncomeCode)
                                {
                                    if (item.Value == Model[i].SRH_INC_MIC_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="SRH_INC_MIC_Description" name="Income[@i].SRH_INC_MIC_Description" readonly class="form-control SRH_INC_MIC_Description" autocomplete="off" value="@Model[i].SRH_INC_MIC_Description" />
                        </td>
                        <td>
                            <input id="SRH_INC_Remarks" name="Income[@i].SRH_INC_Remarks" class="form-control SRH_INC_Remarks" autocomplete="off" readonly value="@Model[i].SRH_INC_Remarks" />
                        </td>
                        <td>
                            <select id="SRH_INC_OCRN_Number" name="Income[@i].SRH_INC_OCRN_Number" class="form-select SRH_INC_OCRN_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Occurrence)
                                {
                                    if (item.Value == Model[i].SRH_INC_OCRN_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="SRH_INC_CM_Number" name="Income[@i].SRH_INC_CM_Number" class="form-select SRH_INC_CM_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ChargeableMethod)
                                {
                                    if (item.Value == Model[i].SRH_INC_CM_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="SRH_INC_IncomeBase" name="Income[@i].SRH_INC_IncomeBase" class="form-control SRH_INC_IncomeBase decimal text-end" autocomplete="off" value="@Model[i].SRH_INC_IncomeBase" />
                        </td>
                        <td>
                            <input id="SRH_INC_IncomeValue" name="Income[@i].SRH_INC_IncomeValue" class="form-control SRH_INC_IncomeValue decimal text-end" readonly autocomplete="off" value="@Model[i].SRH_INC_IncomeValue" />
                        </td>
                        <td>
                            <select id="SRH_INC_ALCT_Number" name="Income[@i].SRH_INC_ALCT_Number" class="form-select SRH_INC_ALCT_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Allocate)
                                {
                                    if (item.Value == Model[i].SRH_INC_ALCT_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="SRH_INC_LA_Number" name="Income[@i].SRH_INC_LA_Number" class="form-select SRH_INC_LA_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.LedgerAccount)
                                {
                                    if (item.Value == Model[i].SRH_INC_LA_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="SRH_INC_CalculateGST" name="Income[@i].SRH_INC_CalculateGST" class="form-select SRH_INC_CalculateGST" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.IsCalculate)
                                {
                                    if (item.Value == Model[i].SRH_INC_CalculateGST)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="table-width-xl">
                            <input id="SRH_INC_GST_Amount" name="Income[@i].SRH_INC_GST_Amount" class="form-control SRH_INC_GST_Amount decimal text-end" autocomplete="off" readonly value="@Model[i].SRH_INC_GST_Amount" />
                            <input id="SRH_INC_SAC_Number" name="Income[@i].SRH_INC_SAC_Number" class="form-control SRH_INC_SAC_Number" type="hidden" autocomplete="off" readonly value="@Model[i].SRH_INC_SAC_Number" />
                        </td>
                        <td class="table-width-md">
                            <input id="SRH_INC_WHT_Percent" name="Income[@i].SRH_INC_WHT_Percent" class="form-control SRH_INC_WHT_Percent text-end decimal" autocomplete="off" readonly value="@Model[i].SRH_INC_WHT_Percent" />
                        </td>
                        <td class="table-width-xl">
                            <input id="SRH_INC_WHT_Amount" name="Income[@i].SRH_INC_WHT_Amount" class="form-control SRH_INC_WHT_Amount decimal text-end" autocomplete="off" readonly value="@Model[i].SRH_INC_WHT_Amount" />
                        </td>
                        <td><a id="HeaderTaxView" class="btn btn-primary btn-sm TaxView">Tax View</a>
                            @if (@Model[i].SRH_INC_Number != 0)
                            {
                                <input name="Income[@i].SRH_INC_Number" type="hidden" class="Number" value="@Model[i].SRH_INC_Number" />
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                @if (ViewBag.Mode == "2" || ViewBag.Mode == "3")
                {
                    <td colspan="7" class="text-end py-2">Total</td>
                }
                else
                {
                    <td colspan="6" class="text-end py-2">Total</td>
                }
                <td class="table-width-3xl text-end">
                    <input id="TotalIncAmount" class="form-control text-end" readonly />
                </td>
                <td colspan="3">
                </td>
                <td class="table-width-xl text-end">
                    <input id="TotalIncGST" class="form-control text-end" readonly />
                </td>
                <td>
                </td>
                <td>
                    <input id="TotalIncWHT" class="form-control text-end" readonly />
                </td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {
        document.getElementById('HeaderIncomeModal').addEventListener('click', AddNewRowClick);
        function AddNewRowClick() {
            IncCalculateFooter();
        }

        $(document).on('click', '.HeaderIncome', function () {
            $("tr.InNewRow").each(function () {
                var INC_IsDeleted = parseInt($(this).find("input.SRH_INC_IsDeleted").val()) === 1;
                if (!INC_IsDeleted) {
                }
                else {
                    $(this).closest('tr').find("input.SRH_INC_IsDeleted").val(1);
                    $(this).closest('tr').hide();
                }
            });

            new bootstrap.Modal($("#Income")).show();
            $('#Income').on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
            });
        });



        $("#InCloseButton").click(function () {
            InCloseIncome();
        });
        $("#InOkayButton").click(function () {
            InCloseIncome();
        });
        function InCloseIncome(){
            
                $("#Income").modal('hide');

                (async () => {
                    await IncCalculateFooter();
                })();
        }
    });

    async function IncCalculateFooter() {
        var TotalIncAmount = 0;
        var TotalIncGstAmount = 0;
        var TotalIncWHTAmount = 0;
        $("tr.InNewRow").each(function () {
            var IsDeleted = parseInt($(this).find("input.SRH_INC_IsDeleted").val());
            if(IsDeleted!=1){
                var IncAmount = $(this).find(".SRH_INC_IncomeValue").val();
                var GstAmount = $(this).find(".SRH_INC_GST_Amount").val();
                var WHTAmount = $(this).find(".SRH_INC_WHT_Amount").val();

                TotalIncAmount += parseFloat(removeCommas(IncAmount));
                TotalIncGstAmount += parseFloat(removeCommas(GstAmount));
                TotalIncWHTAmount += parseFloat(removeCommas(WHTAmount));
            }
        });
        $("#TotalIncAmount").val(DecimalIndianRupees(TotalIncAmount.toFixed(2)));
        $("#TotalIncGST").val(DecimalIndianRupees(TotalIncGstAmount.toFixed(2)));
        $("#TotalIncWHT").val(DecimalIndianRupees(TotalIncWHTAmount.toFixed(2)));
    }

</script>
<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height:300px;
    }
</style>