@model ERP.Models.PaginatedList<ERP_DTO.SAC_DTO>

@{
    ViewData["Title"] = "SAC";
}
<div class="row align-items-center panel-header gx-2">
    <div class="col h-100">
        <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">
            SAC
            <a asp-controller="Taxation" asp-action="Index" class="float-end btn p-0 shadow-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="row panel-body gx-2">
    <div class="col-12  panel-card-fixed" id="BodyHeight">
        <div class="w-100 rounded-0 border border-primary bg-transparent h-100">
            <div class="row h-100 gx-0">
                <div class="col-12 col-md-4 h-100">
                    <div class="card bg-transparent shadow-none overflow-hidden mb-2 sticky-top top-100 border-end h-100">
                        <div class="card-body text-black">
                            <form asp-action="SAC">
                                <input type="hidden" name="PSize" value="@ViewData["PageSize"]" />
                                <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                <input type="hidden" name="Search" value="@ViewData["CurrentFilter"]" />
                                <partial name="SACView.cshtml" model="(ERP_DTO.SAC_DTO)@ViewBag.SACEdit" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 h-100">
                    <div class="card bg-transparent shadow-none overflow-hidden h-100">
                        <div class="card-body text-black h-100" id="CardPanel">
                            <div class="row pb-3" id="CardHeader">
                                <div class="col">
                                    <form asp-action="SAC" method="get">
                                        <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                                        <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                        <input type="hidden" name="PageFilter" value="PageFilter" />
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row gx-0">
                                                    <div class="col-auto me-3">
                                                        <select name="PSize" class="form-select w-auto py-1 pe-4" asp-route-PageFilter="PageFilter" asp-items="@ViewBag.Page" onchange="form.submit();"></select>
                                                    </div>
                                                    <div class="col-auto">
                                                        <input id="Search" name="Search" class="form-control p-1 search-control" autocomplete="off" value="@ViewData["CurrentFilter"]" />
                                                    </div>
                                                    <div class="col-auto">
                                                        <input type="submit" name="Mode" value="Search" class="btn btn-primary btn-sm" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="w-100 MenuAction d-none text-end">
                                                    <a class="DeleteAllButton btn btn-sm btn-danger">
                                                        Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="CardBody" class="w-100 border p-2">
                                <div class="table-body table-responsive h-100">
                                    <table class="table table-bordered align-middle table-hover align-middle mb-0 table-grid">
                                        <thead>
                                            <tr class="table-info">
                                                <th class="px-2 del">
                                                    <input type="checkbox" class="selectAllCheckbox form-check-input border-white" id="selectAllCheckbox">
                                                </th>
                                                <th class="table-col-md">
                                                    <a asp-action="SAC" asp-route-sortOrder="@ViewData["KeySort"]" asp-route-Search="@ViewData["CurrentFilter"]" asp-route-PSize="@ViewData["PageSize"]" asp-route-PageNumber="@ViewData["PageNumber"]">SAC</a>
                                                </th>
                                                <th>Description</th>
                                                <th class="action text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="p-2 del">
                                                        <input type="checkbox" class="DeleteNumber form-check-input" name="DeleteNumber" value="@item.SAC_Number">
                                                    </td>
                                                    <td class="table-col-md">@Html.DisplayFor(modelItem => item.SAC_Code)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                    <td class="action text-center">

                                                        <form asp-action="SAC">
                                                            <input type="hidden" name="PSize" value="@ViewData["PageSize"]" />
                                                            <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                                            <input type="hidden" name="Search" value="@ViewData["CurrentFilter"]" />
                                                            <input name="SAC_Number" id="SAC_Number" value="@item.SAC_Number" type="hidden" />
                                                            <button type="submit" name="Mode" value="Edit" class="btn text-primary p-0 me-1 shadow-none icon-link">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                                                </svg>
                                                            </button>

                                                            <a value="@item.SAC_Number" class="DeleteButton btn text-danger p-0 icon-link shadow-none" data-value="@item.SAC_Number">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                                                </svg>
                                                            </a>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                @{
                                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                }
                                <div class="row pt-3" id="CardFooter">

                                    <div class="col">
                                        <form asp-action="SAC" method="get">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    @{
                                                        Int32 TotalSize = Convert.ToInt32(ViewData["TotalSize"]);
                                                        Int32 PageNumber = Convert.ToInt32(ViewData["PageNumber"]);
                                                        Int32 PageSize = Convert.ToInt32(ViewData["PageSize"]);
                                                        Int32 StartNumber = 1;
                                                        Int32 EndNumber = 0;

                                                        if (PageNumber > 1)
                                                        {
                                                            StartNumber = StartNumber + ((PageNumber - 1) * PageSize);
                                                        }
                                                        EndNumber = (EndNumber + PageSize) + ((PageNumber - 1) * PageSize);
                                                        if (EndNumber > TotalSize)
                                                        {
                                                            EndNumber = TotalSize;
                                                        }

                                                        if (StartNumber > EndNumber)
                                                        {
                                                            StartNumber = EndNumber;
                                                        }
                                                    }
                                                    Showing @StartNumber to @EndNumber
                                                </div>
                                                <div class="col text-center text-dark py-1">
                                                    Total records @TotalSize
                                                </div>
                                                <div class="col">
                                                    <nav>
                                                        <ul class="pagination mb-0 float-end">
                                                            <li class="page-item">
                                                                <a asp-action="SAC" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-Search="@ViewData["CurrentFilter"]" asp-route-PSize="@ViewData["PageSize"]" asp-route-pageNumber="1" class="page-link @prevDisabled">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                                                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a asp-action="SAC" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-Search="@ViewData["CurrentFilter"]" asp-route-PSize="@ViewData["PageSize"]" asp-route-pageNumber="@(Model.PageIndex - 1)" class="page-link @prevDisabled">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="page-link">
                                                                    @ViewData["PageNumber"]
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a asp-action="SAC" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-Search="@ViewData["CurrentFilter"]" asp-route-PSize="@ViewData["PageSize"]" asp-route-pageNumber="@(Model.PageIndex + 1)" class="page-link @nextDisabled">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li class="page-item">
                                                                <a asp-action="SAC" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-Search="@ViewData["CurrentFilter"]" asp-route-PSize="@ViewData["PageSize"]" asp-route-pageNumber="@ViewData["PageCount"]" class="page-link @nextDisabled">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
                                                                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js"></script>

    <!-- Modal -->
    <div class="modal modal-sm fade" id="DigitAlert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="staticBackdropLabel">Warning</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-4 text-dark fs-6 text-center icon-link justify-content-center">
                    <img src="~/img/danger.png" class="img-fluid" /> 6 Digit Required
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary px-4" id="DigitOkay" ref="always_focus" data-bs-dismiss="modal" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.navbar-nav > .nav-item.taxation > a').addClass("active");
    </script>
    <script>
        let ajaxPending = false;

        function validateTextbox(textbox, event) {
            if (ajaxPending) {
                event.preventDefault();
                return;
            }
            let value = textbox.val().trim();
            if (value === "") {
                return;
            }

            ajaxPending = true;
            event.preventDefault();

            $.ajax({
                type: "get",
                url: "sac/duplicate",
                data: { Title: textbox.val(), Number: $(".Number").val() },
                datatype: "json",
                traditional: true,
                success: function (response) {
                    var res = response;
                    if (response) {
                        ajaxPending = false;
                        if (!$(".modal").is(':visible')) {
                            new bootstrap.Modal($("#DuplicateAlert")).show();
                            $('#DuplicateAlert').on('shown.bs.modal', function () {
                                $(this).find('[autofocus]').focus();
                            });
                        }
                        return;
                    }
                }
            });
        }

        $(document).on("blur", ".KeyDup", function (event) {
            validateTextbox($(this), event);
        });

        $(document).on("keydown", ".KeyDup", function (event) {
            if (event.key === "Enter") {
                validateTextbox($(this), event);
            }
        });

        $('#DuplicateAlert').on('hidden.bs.modal', function () {
            setTimeout(function () {
                $('#SAC_Code').focus();
            }, 1);
        });

        function format6Digit(element, event) { // Receive event
            let value = element.value;
            var isValid = /^\d{6}$/.test(value);
            if (value.trim() !== "" && !isValid) {
                if (!$(".modal").is(':visible')) {
                    new bootstrap.Modal($("#DigitAlert")).show();
                    $('#DigitAlert').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();
                    });
                }
                return;
            }
        }
        $('#DigitAlert').on('hidden.bs.modal', function () {
            setTimeout(function () {
                $('#SAC_Code').focus();
            }, 1);
        });

        document.addEventListener('focusout', function (event) {
            if (event.target && event.target.classList.contains('6digit')) {
                format6Digit(event.target, event); // Pass event to format8Digit
            }
        });

            document.addEventListener("DOMContentLoaded", function () {
                   const MainTab = document.getElementById('CardPanel');
                   const HeaderTab = document.getElementById('CardHeader');
                   const bodyTab = document.getElementById('CardBody');
                   const FooterTab = document.getElementById('CardFooter');

                   const MainHeight = MainTab.offsetHeight;
                   const HeaderHeight = HeaderTab.offsetHeight;
                   const FooterHeight = FooterTab.offsetHeight;

                   console.log("MainHeight",MainHeight);
                   console.log("HeaderHeight",HeaderHeight);
                   console.log("FooterHeight",FooterHeight);

                   bodyTab.style.height = (MainHeight - HeaderHeight - FooterHeight - 30) + 'px';
                   console.log("bodyTab",(MainHeight - HeaderHeight - FooterHeight - 30));
               });
    </script>
