@model ERP_DTO.TaxClusterHead_DTO

@{
    ViewData["Title"] = "Tax Cluster";
}
<div class="row align-items-center panel-header gx-2">
    <div class="col h-100">
        <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">
            Tax Cluster
            <a asp-controller="Inventory" asp-action="Index" class="float-end btn p-0 shadow-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="row panel-body gx-2">
    <div class="col-12 panel-card-fixed h-100" id="BodyHeight">
        <div class="w-100 rounded-0 border border-primary bg-transparent h-100">
            <div class="w-100" id="BodyCardHeader">
                <div class="col-12 h-100">
                    <div class="card bg-transparent shadow-none overflow-hidden sticky-top top-100 border-bottom h-100">
                        <div class="card-body text-black">
                            <form asp-action="TaxCluster">
                                <div class="row h-100">
                                    <div class="col-12 h-100 col-md-3" id="LeftPanel">
                                        <div class="w-100">
                                            <input type="hidden" name="PSize" value="@ViewData["PageSize"]" />
                                            <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                            <input type="hidden" name="Search" value="@ViewData["CurrentFilter"]" />
                                            <partial name="TaxClusterView.cshtml" model="@Model" />
                                        </div>
                                        <div class="w-100 mt-2 px-2 mb-1  text-end">
                                            @if (Model.TaxClusterNumber != 0)
                                            {
                                                <input type="submit" name="Mode" value="Update" class="btn btn-primary mb-0 me-3" />
                                                <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
                                            }
                                            else
                                            {
                                                <input type="submit" name="Mode" value="Save" class="btn btn-primary mb-0 me-3" />
                                                <input type="submit" name="Mode" value="Clear" class="btn btn-primary mb-0 " />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9 table-fixed" id="RightPanel">
                                        <partial name="TaxClusterGridView.cshtml" model="@Model.TaxElement" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100" id="BodyCardBody">

                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                    <div class="card-body text-black h-100 nav-tab-fix">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active p-3 pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <div class="w-100 h-100 table-fixed">
                                    <div class="w-100 table-header">
                                        <div class="col">
                                            <form asp-action="TaxCluster" method="get">
                                                <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                                                <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                                <input type="hidden" name="PageFilter" value="PageFilter" />
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="row gx-0">
                                                            <div class="col-auto me-3">
                                                                <select name="PSize" class="form-select w-auto py-1 pe-4" asp-route-PageFilter="PageFilter" asp-items="@ViewBag.Page" onchange="form.submit();"></select>
                                                            </div>
                                                            <div class="col-auto">
                                                                <input id="Search" name="Search" class="form-control p-1 search-control" autocomplete="off" value="@ViewData["CurrentFilter"]" />
                                                            </div>
                                                            <div class="col-auto">
                                                                <input type="submit" name="Mode" value="Search" class="btn btn-primary btn-sm" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-4">
                                                        <div class="w-100 MenuAction d-none text-end">
                                                            <a class="DeleteAllButton btn btn-sm btn-danger me-2">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <partial name="TaxClusterList.cshtml" model="@Model.TaxCluster_List" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>

<script>
    $('.navbar-nav > .nav-item.taxation > a').addClass("active");
</script>
<script>
    let ajaxPending = false;

    function validateTextbox(textbox, event) {
        if (ajaxPending) {
            event.preventDefault();
            return;
        }
        let value = textbox.val().trim();
        if (value === "") {
            return;
        }

        ajaxPending = true;
        event.preventDefault();

        $.ajax({
            type: "get",
            url: "tax-cluster/duplicate",
            data: { Title: textbox.val(), Number: $(".Number").val() },
            datatype: "json",
            traditional: true,
            success: function (response) {
                var res = response;
                if (response) {
                    ajaxPending = false;
                    if (!$("#DuplicateAlert").is(':visible')) {
                        new bootstrap.Modal($("#DuplicateAlert")).show();
                        $('#DuplicateAlert').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }
                    return;
                }
            }
        });
    }

    $(document).on("blur", ".KeyDup", function (event) {
        validateTextbox($(this), event);
    });

    $(document).on("keydown", ".KeyDup", function (event) {
        if (event.key === "Enter") {
            validateTextbox($(this), event);
        }
    });

    $('#DuplicateAlert').on('hidden.bs.modal', function () {
        setTimeout(function () {
            $('#TaxCluster').focus();
        }, 1);
    });


    document.addEventListener("DOMContentLoaded", function () {
         const MainDiv = document.getElementById('BodyHeight');
         const HeadDiv = document.getElementById('BodyCardHeader');
         const BodyDiv = document.getElementById('BodyCardBody');

         if (HeadDiv && BodyDiv) {
             const MainDivHeight = MainDiv.offsetHeight;
             const HeadDivHeight = HeadDiv.offsetHeight;
             BodyDiv.style.height = (MainDivHeight - HeadDivHeight) + 'px';
         }

         const LeftDiv = document.getElementById('LeftPanel');
         const RightDiv = document.getElementById('RightPanel');

             const LeftDivHeight = LeftDiv.offsetHeight;
             RightDiv.style.height = LeftDivHeight + 'px';
     });
</script>