@model ERP_DTO.TaxElementHead_DTO
@{
    ViewData["Title"] = "TaxElement";
}
<div class="row align-items-center panel-header gx-2">
    <div class="col h-100">
        <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">
            Tax Element
            <a asp-controller="Taxation" asp-action="Index" class="float-end btn p-0 shadow-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="row panel-body gx-2">
    <div class="col-12 panel-card-fixed h-100">
        <div class="w-100 rounded-0 border border-primary bg-transparent h-100" id="BodyHeight">
            <div class="w-100 p-3 text-black border-bottom" id="BodyCardHeader">
                <form asp-action="TaxElement">
                    <div class="row">
                        <input type="hidden" name="PSize" value="@ViewData["PageSize"]" />
                        <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                        <input type="hidden" name="Search" value="@ViewData["CurrentFilter"]" />
                        <partial name="TaxElementView.cshtml" model="@Model" />
                    </div>

                    @if (@Model.TaxElementNumber != 0)
                    {
                        <input type="submit" name="Mode" value="Update" class="btn btn-primary me-3" />
                        <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" name="Mode" value="Save" class="btn btn-primary me-3" />
                        <input type="submit" name="Mode" value="Clear" class="btn btn-primary" />
                    }
                    <!-- Modal -->
                    <div class="modal fade" id="AbatementModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="staticBackdropLabel">Abatement</p>
                                    <button type="button" class="btn-close" id="AbCloseButton" aria-label="Close"></button>
                                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                                </div>
                                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                                    <div class="p-2 text-black h-100 nav-tab-fix">
                                        <ul class="nav nav-tabs tab-header" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content tab-body">
                                            <div class="tab-pane fade show active pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                                <div class="modal-body p-3 text-dark  justify-content-center">
                                                    <div class="row">
                                                        <div class="col">
                                                            <partial name="TaxElementAbatementView.cshtml" model="@Model.Abatement_List" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <a id="AbAddRowButton" class="btn btn-primary ms-2">Add Row</a>
                                    <button type="button" id="AbOkayButton" class="btn btn-primary me-2 px-4" ref="always_focus" autofocus>Ok</button>
                                    @* <button type="button" class="btn btn-primary px-4" ref="always_focus" data-bs-dismiss="modal" autofocus>Ok</button> *@
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="FixedNatureModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="staticBackdropLabel">Fixed Nature</p>
                                    <button type="button" class="btn-close" id="FNCloseButton" aria-label="Close"></button>
                                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                                </div>
                                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                                    <div class="p-2 text-black h-100 nav-tab-fix">
                                        <ul class="nav nav-tabs tab-header" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content tab-body">
                                            <div class="tab-pane fade show active pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                                <div class="modal-body p-3  text-dark  justify-content-center">
                                                    <div class="row">
                                                        <div class="col">
                                                            <partial name="TaxElementFixedNatureView.cshtml" model="@Model.Fixed_Nature_List" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <a id="FNAddRowButton" class="btn btn-primary ms-2">Add Row</a>
                                    <button type="button" id="FNOkayButton" class="btn btn-primary me-2 px-4" ref="always_focus" autofocus>Ok</button>
                                    @* <button type="button" class="btn btn-primary px-4" ref="always_focus" data-bs-dismiss="modal" autofocus>Ok</button> *@
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal modal-lg fade" id="VariableNatureModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border">
                                <div class="modal-header">
                                    <p class="modal-title text-white" id="staticBackdropLabel">Variable Nature</p>
                                    <button type="button" class="btn-close" id="VNCloseButton" aria-label="Close"></button>
                                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                                </div>
                                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                                    <div class="p-2 text-black h-100 nav-tab-fix">
                                        <ul class="nav nav-tabs tab-header" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content tab-body">
                                            <div class="tab-pane fade show active pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                                <div class="modal-body p-3  text-dark  justify-content-center">
                                                    <div class="row">
                                                        <div class="col">
                                                            <partial name="TaxElementVariableNatureView.cshtml" model="@Model.Variable_Nature_List" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <a id="VNAddRowButton" class="btn btn-primary ms-2">Add Row</a>
                                    <button type="button" id="VNOkayButton" class="btn btn-primary me-2 px-4" ref="always_focus" autofocus>Ok</button>
                                    @* <button type="button" class="btn btn-primary px-4" ref="always_focus" data-bs-dismiss="modal" autofocus>Ok</button> *@
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="w-100" id="BodyCardBody">
                <div class="card bg-transparent shadow-none overflow-hidden h-100">
                    <div class="card-body text-black h-100 nav-tab-fix">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active p-3 pb-0 border border-top-0 h-100" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <div class="w-100 h-100" id="CardPanel">
                                    <div class="row pb-3" id="CardHeader">
                                        <div class="col">
                                            <form asp-action="TaxElement" method="get">
                                                <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
                                                <input type="hidden" name="PageNumber" value="@ViewData["PageNumber"]" />
                                                <input type="hidden" name="PageFilter" value="PageFilter" />
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="row gx-0">
                                                            <div class="col-auto me-3">
                                                                <select name="PSize" class="form-select w-auto  py-1 pe-4" asp-route-PageFilter="PageFilter" asp-items="@ViewBag.Page" onchange="form.submit();"></select>
                                                            </div>
                                                            <div class="col-auto">
                                                                <input id="Search" name="Search" class="form-control p-1 search-control" autocomplete="off" value="@ViewData["CurrentFilter"]" />
                                                            </div>
                                                            <div class="col-auto">
                                                                <input type="submit" name="Mode" value="Search" class="btn btn-primary btn-sm" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="w-100 MenuAction d-none text-end">
                                                            <a class="DeleteAllButton btn btn-sm btn-danger me-2">
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <partial name="TaxElementList.cshtml" model="@Model.TaxElement_List" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>


<script>
    $(document).ready(function () {
        function GetAbRowCount() {
            let rowCount = 0;
            $("tr.AbNewRow").each(function () {
                let row = $(this);
                let isDeleted = row.find("input[name*='IsDeleted']").val() === "true";
                if (!isDeleted) {
                    let isEmpty = true;
                    row.find("select, input.FromDate, input.ToDate, input[type='text']").each(function () {
                        let value = $(this).val();
                        if (value && value.trim() !== "") {
                            isEmpty = false;
                            return false;
                        }
                    });

                    if (!isEmpty) {
                        rowCount++;
                    }
                }
            });
            return rowCount;
        }

        $(document).on('click', '.GST_Abatement', function () {
            let validRowsCount = GetAbRowCount();

            var selectedValue = $(this).val();
            var radio = $(this);

            if (selectedValue === "1") {
                if (!$("#AbatementModel").is(':visible')) {
                    new bootstrap.Modal($("#AbatementModel")).show();
                    $('#AbatementModel').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();
                    });
                }
            } else if (selectedValue === "2") {
                if (validRowsCount > 0) {
                    alert("There are records available in abatement grid");
                    if (!$("#AbatementModel").is(':visible')) {
                        new bootstrap.Modal($("#AbatementModel")).show();
                        $('#AbatementModel').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }

                    radio.prop('checked', false);
                    let other = $('input[name="GST_Abatement"][value="1"]');
                    other.prop('checked', true);
                    other.focus()
                }
            }
        });

        function GetFNRowCount() {
            let rowCount = 0;
            $("tr.FNNewRow").each(function () {
                let row = $(this);
                let isDeleted = row.find("input[name*='IsDeleted']").val() === "true";
                if (!isDeleted) {
                    let isEmpty = true;
                    row.find("select, input.FromDate, input.ToDate, input[type='text']").each(function () {
                        let value = $(this).val();
                        if (value && value.trim() !== "") {
                            isEmpty = false;
                            return false;
                        }
                    });

                    if (!isEmpty) {
                        rowCount++;
                    }
                }
            });
            return rowCount;
        }

        function GetVNRowCount() {
            let rowCount = 0;
            $("tr.VNNewRow").each(function () {
                let row = $(this);
                let isDeleted = row.find("input[name*='IsDeleted']").val() === "true";
                if (!isDeleted) {
                    let isEmpty = true;
                    row.find("select, input.FromDate, input.ToDate, input[type='text']").each(function () {
                        let value = $(this).val();
                        if (value && value.trim() !== "") {
                            isEmpty = false;
                            return false;
                        }
                    });

                    if (!isEmpty) {
                        rowCount++;
                    }
                }
            });
            return rowCount;
        }

        $(document).on('click', '.GST_TaxNature', function () {
            var selectedValue = $(this).val();
            var radio = $(this);

            if (selectedValue === "4") {
                let validRowsCount = GetVNRowCount();

                if (validRowsCount > 0) {

                    alert("There are records available in Variable Nature grid");

                    if (!$("#VariableNatureModel").is(':visible')) {
                        new bootstrap.Modal($("#VariableNatureModel")).show();
                        $('#VariableNatureModel').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }

                    radio.prop('checked', false);
                    let other = $('input[name="GST_TaxNature"][value="5"]');
                    other.prop('checked', true);
                    other.focus();
                }
                else {
                    if (!$("#FixedNatureModel").is(':visible')) {
                        new bootstrap.Modal($("#FixedNatureModel")).show();
                        $('#FixedNatureModel').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }

                }
            } else if (selectedValue === "5") {
                let validRowsCount = GetFNRowCount();

                if (validRowsCount > 0) {

                    alert("There are records available in Fixed Nature grid");

                    if (!$("#FixedNatureModel").is(':visible')) {
                        new bootstrap.Modal($("#FixedNatureModel")).show();
                        $('#FixedNatureModel').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }

                    radio.prop('checked', false);
                    let other = $('input[name="GST_TaxNature"][value="4"]');
                    other.prop('checked', true);
                    other.focus();
                }
                else {
                    if (!$("#VariableNatureModel").is(':visible')) {
                        new bootstrap.Modal($("#VariableNatureModel")).show();
                        $('#VariableNatureModel').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }
                }
            }
        });

        $(".decimal").each(function () {
            var value = $(this).val();
            $(this).val(formatToIndianRupees(value));
        });

        $(document).on("blur", ".decimal", function () {
            var value = $(this).val();
            if (value.trim() === "" || isNaN(value)) {
                $(this).val("0.00");
            } else {
                $(this).val(formatToIndianRupees(value));
            }
        });

        $(document).on("focus", ".decimal", function () {
            var value = $(this).val();
            $(this).val(removeCommas(value));
            $(this).select();
        });

        function formatToIndianRupees(value) {
            if (value === "" || isNaN(value)) {
                return "0.00";
            }

            var formattedValue = parseFloat(value).toFixed(2);

            var parts = formattedValue.split(".");
            parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
            return parts.join(".");
        }

        function removeCommas(value) {
            return value.replace(/,/g, '');
        }

        $(document).on("change", "#LoadonInventory", function () {
            var isChecked = $(this).is(':checked');
            //Find the text box
            var textBox = $('#LoadonInventoryPercent');

            if (isChecked) {
                textBox.removeAttr('disabled');
                textBox.focus();
            } else {
                textBox.attr('disabled', 'disabled');
                textBox.val("0.00");
            }
        });

        //Load and trigger for all action on every browser in all code
        $(document).ready(function () {
            // Initialize the state on page load
            var isChecked = $('#LoadonInventory').is(':checked');
            var textBox = $('#LoadonInventoryPercent');
            textBox.prop('disabled', !isChecked);
            if (!isChecked) {
                textBox.val("0.00");
            }
        });



        $('form').submit(function (event) {
            $("tr.AbNewRow").each(function () {
                var fromDate = $(this).find("input.FromDate").val();
                var toDate = $(this).find("input.ToDate").val();
                var fixedPercent = $(this).find("input.FixedPercent").val();
                if (!fromDate && !toDate && !(fixedPercent > 0)) {
                    $(this).remove();
                }
            });

            $("tr.FNNewRow").each(function () {
                var fromDate = $(this).find("input.FromDate").val();
                var toDate = $(this).find("input.ToDate").val();
                var fixedPercent = $(this).find("input.FixedPercent").val();

                if (!fromDate && !toDate && !(fixedPercent > 0)) {
                    $(this).remove();
                }
            });

            $("tr.VNNewRow").each(function () {
                var fromDate = $(this).find("input.FromDate").val();
                var toDate = $(this).find("input.ToDate").val();
                var HSNSelect = $(this).find("select.HSN").val();
                var HSNPercent = $(this).find("input.HSNPercent").val();
                var SACSelect = $(this).find("select.SAC").val();
                var SACPercent = $(this).find("input.SACPercent").val();

                if (!fromDate && !toDate && !HSNSelect && !SACSelect && !(HSNPercent > 0) && !(SACPercent > 0)) {
                    $(this).remove();
                }
            });

            if ($("#LoadonInventory").is(':checked')) {
                var loadonInventoryPercent = parseFloat($("#LoadonInventoryPercent").val());
                if (isNaN(loadonInventoryPercent) || loadonInventoryPercent <= 0) {
                    alert("Load on Inventory Percent must be above zero.");
                    event.preventDefault(); 
                    return;
                }
            }
        });
    });
</script>
<script>
    let ajaxPending = false;

    function validateTextbox(textbox, event) {
        if (ajaxPending) {
            event.preventDefault();
            return;
        }
        let value = textbox.val().trim();
        if (value === "") {
            return;
        }

        ajaxPending = true;
        event.preventDefault();

        $.ajax({
            type: "get",
            url: "tax-element/duplicate",
            data: { Title: textbox.val(), Number: $(".Number").val() },
            datatype: "json",
            traditional: true,
            success: function (response) {
                var res = response;
                if (response) {
                    ajaxPending = false;
                    if (!$("#DuplicateAlert").is(':visible')) {
                        new bootstrap.Modal($("#DuplicateAlert")).show();
                        $('#DuplicateAlert').on('shown.bs.modal', function () {
                            $(this).find('[autofocus]').focus();
                        });
                    }
                    return;
                }
            }
        });
    }

    $(document).on("blur", ".KeyDup", function (event) {
        validateTextbox($(this), event);
    });

    $(document).on("keydown", ".KeyDup", function (event) {
        if (event.key === "Enter") {
            validateTextbox($(this), event);
        }
    });

    $('#DuplicateAlert').on('hidden.bs.modal', function () {
        setTimeout(function () {
            $('#TaxElement').focus();
        }, 1);
    });
</script>

<script>
    $('.navbar-nav > .nav-item.taxation > a').addClass("active");

    document.addEventListener("DOMContentLoaded", function () {
        const MainDiv = document.getElementById('BodyHeight');
        const HeadDiv = document.getElementById('BodyCardHeader');
        const BodyDiv = document.getElementById('BodyCardBody');

        if (HeadDiv && BodyDiv) {
            const MainDivHeight = MainDiv.offsetHeight;
            const HeadDivHeight = HeadDiv.offsetHeight;
            BodyDiv.style.height = (MainDivHeight - HeadDivHeight - 10) + 'px';
        }

        const MainTab = document.getElementById('CardPanel');
        const HeaderTab = document.getElementById('CardHeader');
        const bodyTab = document.getElementById('CardBody');
        const FooterTab = document.getElementById('CardFooter');

        const MainHeight = MainTab.offsetHeight;
        const HeaderHeight = HeaderTab.offsetHeight;
        const FooterHeight = FooterTab.offsetHeight;

        bodyTab.style.height = (MainHeight - HeaderHeight - FooterHeight-15) + 'px';
    });
</script>