@model ERP_DTO.POItemTOPurchaseInvoiceHead_DTO
@{
    ViewData["Title"] = "PO To Purchase Invoice Create";
}
<script>
    function removeCommas(value) {
        if (!value) return '0';
        return value.replace(/,/g, '');
    }
    function DecimalIndianRupees(value) {
        if (value === "" || isNaN(value)) {
            return "0.00";
        }

        var formattedValue = parseFloat(value).toFixed(2);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }
    function NumberToIndianRupees(value, decimalPlaces) {
        if (value === "" || isNaN(value)) return "0";

        var formattedValue = parseFloat(value).toFixed(decimalPlaces);
        var parts = formattedValue.split(".");
        if (parts.length > 1) {
            parts[1] = parts[1].replace(/0+$/, "");
            if (parts[1].length === 0) parts.pop();
        }

        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");

        return parts.join(".");
    }
</script>
<form asp-action="POItemToPurchaseInvoiceCreate" class="h-100">

    <input id="PII_EXP_POINumber" type="hidden" />
    <input id="PII_EXP_POHNumber" type="hidden" />
    <input id="PII_EXP_Qty" type="hidden" />
    <input id="PII_EXP_MatrialValue" type="hidden" />


    <input id="PII_BATCH_ItemNumber" type="hidden" />
    <input id="PII_BATCH_ItemIndex" type="hidden" />
    <input id="PII_BATCH_Qty" type="hidden" />
    <input id="PII_BATCH_Unit_Price" type="hidden" />

    <div class="modal modal-lg modal-xl fade" id="Expense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Expense</p>
                </div>
                <div class="modal-body py-4 text-dark fs-6 text-center icon-link justify-content-center">
                    <div class="w-100 table-responsive pb-2">
                                <partial name="POItemToPurchaseInvoiceExpenseView.cshtml" model="@Model.Expenses" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="ExCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg modal-xl fade" id="IExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Item Expense</p>
                </div>
                <div class="modal-body py-4 text-dark icon-link justify-content-center">
                    <div class="w-100 table-responsive pb-2">
                                <partial name="POItemToPurchaseInvoiceIExpenseView.cshtml" model="@Model.ItemExpenses" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="IExCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="GSTView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Cluster</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                    <div id="GSTTableView" class="table-responsive"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="IBatch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title w-100">
                        Batch <span class="float-end">
                            Item Qty : <span id="PII_BATCHQty"></span>
                        </span>
                    </p>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                    <div class="w-100 table-responsive pb-2">
                                <partial name="POItemToPurchaseInvoiceBatchView.cshtml" model="@Model.ItemBatch" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="IBatCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="TaxView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Header Tax View</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                    <div id="TaxTableView" class="w-100 table-responsive"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="POView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Purchase Order</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark icon-link justify-content-center">
                    <div class="table-responsive w-100">
                        <div id="OrderTableView" class="table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center panel-header h-auto">
        <div class="col">
            <div class="card rounded-0 mt-3">
                <div class="card-body px-2 py-2">
                    <h1 class="h6 fw-light">
                        Purchase Invoice
                        <a asp-controller="Procurement" asp-action="Index" class="float-end btn p-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row panel-body">
        <div class="col-12 panel-card-fixed" id="BodyHeight">
            <div class="w-100 rounded-0 border border-primary bg-transparent">

                <div class="card rounded-0 bg-transparent shadow-none" id="CardHeader">
                    <div class="card-body pb-0">
                        <div class="row ps-2">
                            <partial name="POItemToPurchaseInvoiceHeadView.cshtml" model="@Model" />
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 bg-transparent shadow-none" id="CardBody">
                    <div class="card-body h-100">
                        <div class="row h-100">
                            <div class="col-auto left-menu h-100">
                                <ul class="nav nav-tabs tab-header">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page">Item</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark">Other</a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-body tab-body-h-o">
                                    <div class="tab-pane fade show active p-2 pb-0 border border-top-0 h-100" tabindex="0">
                                        <div class="row h-100">
                                            <partial name="POItemToPurchaseInvoiceItemView.cshtml" model="@Model.InvoiceItems" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto right-menu text-center border-start">
                                <a class="ItemExpense btn btn-sm btn-primary px-2 mb-2 w-100 OneItemMode" disabled>
                                    Misc Expense
                                </a>
                                <a class="GSTView btn btn-sm btn-primary px-2 mb-2 w-100 OneItemMode" disabled>
                                    GST View
                                </a>
                                <a class="ItemBatch btn btn-sm btn-primary px-2 mb-2 w-100 OneItemMode" disabled>
                                    Batch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 bg-transparent shadow-none pt-0" id="CardFooter">
                    <div class="card-body text-black pt-0">
                        <div class="row">
                            <div class="col-auto left-menu">
                                <div class="row ps-2">
                                    <div class="col-12 col-md-4 col-lg-3">
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_MaterialCost" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_MaterialCost" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_ItemMiscExpense" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_ItemMiscExpense" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_HeaderMiscExpense" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_HeaderMiscExpense" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_GST_Amount" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_GST_Amount" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_InvoiceAmount" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_InvoiceAmount" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 px-4">
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_WHT_Amount" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_WHT_Amount" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_RoundOff" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_RoundOff" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="row align-items-center px-2 mb-1">
                                            <label asp-for="PIH_VendorPayable" class="col-md-7 col-form-label ps-0"></label>
                                            <div class="col-md-5">
                                                <input asp-for="PIH_VendorPayable" class="form-control text-black text-end" readonly autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto right-menu text-centert">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<script src="~/js/site.js"></script>

<script>
    $('.navbar-nav > .nav-Vendor.inventory > a').addClass("active");
</script>

<script>
    $('form').submit(function (event) {
        $("tr.ExNewRow").each(function () {
            var ExpenseCode = $(this).find("select.PIH_EXP_Expense_Number").val();
            var Occurrence = $(this).find("select.PIH_EXP_Occurrence_Number").val();
            var ChargeableMethod = $(this).find("select.PIH_EXP_CM_Number").val();
            var ExpenseBase = removeCommas($(this).find("input.PIH_EXP_ExpenseBase").val());
            var Allocate = $(this).find("select.PIH_EXP_Allocate_Number").val();
            var LedgerAccount = $(this).find("select.PIH_EXP_LA_Number").val();

            if (!ExpenseCode && !Occurrence && !ChargeableMethod && !Allocate && !LedgerAccount && !(ExpenseBase > 0)) {
                $(this).find("input.PIH_EXP_IsDeleted").val("true");
                $(this).hide();
            }
        });
        $("tr.IExNewRow").each(function () {
            var ExpenseCode = $(this).find("select.PII_EXP_Expense_Number").val();
            var Occurrence = $(this).find("select.PII_EXP_Occurrence_Number").val();
            var ChargeableMethod = $(this).find("select.PII_EXP_CM_Number").val();
            var ExpenseBase = removeCommas($(this).find("input.PII_EXP_ExpenseBase").val());
            var Allocate = $(this).find("select.PII_EXP_Allocate_Number").val();
            var LedgerAccount = $(this).find("select.PII_EXP_LA_Number").val();

            if (!ExpenseCode && !Occurrence && !ChargeableMethod && !Allocate && !LedgerAccount && !(ExpenseBase > 0)) {
                $(this).find("input.PII_EXP_IsDeleted").val("true");
                $(this).hide();
            }
        });

        $("tr.NewRow").each(function () {
            var ItemNumber = $(this).find("input.PII_Item_Number").val();
            var Qty = removeCommas($(this).find("input.PII_Qty").val());
            var UnitPrice = removeCommas($(this).find("input.PII_UnitPrice").val());
            var UoMNumber = $(this).find("select.PII_UoM_Number").val();

            if (!ItemNumber && !UoMNumber && !(Qty > 0) && !(UnitPrice > 0)) {
                $(this).find("input.IsDeleted").val("true");
                $(this).hide();
            }
        });

        $('select').prop('disabled', false);
    });

    $(".QtyNumbers").each(function () {
        var value = $(this).val();
        var decimalPlaces = $(this).closest("tr").find("input.PII_DecimalPlaces").val();
        if (decimalPlaces === "" || isNaN(decimalPlaces)) decimalPlaces = 2;
        $(this).val(NumberToIndianRupees(value, decimalPlaces));
    });
    $(document).on("blur", ".QtyNumbers", function () {
        var value = $(this).val();
        var decimalPlaces = $(this).closest("tr").find("input.PII_DecimalPlaces").val();
        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0");
        } else {
            $(this).val(NumberToIndianRupees(value, decimalPlaces));
        }
    });
    $(document).on("input", ".QtyNumbers", function () {
        var $this = $(this);
        var decimalPlaces = parseInt($this.closest("tr").find("input.PII_DecimalPlaces").val(), 10);
        if (isNaN(decimalPlaces)) decimalPlaces = 2;

        let clean = $this.val()
            .replace(/-/g, "")
            .replace(/[^0-9.]/g, "");

        const firstDot = clean.indexOf(".");
        if (firstDot !== -1) {
            clean =
                clean.substring(0, firstDot + 1) +
                clean.substring(firstDot + 1).replace(/\./g, "");
        }

        if (decimalPlaces > 0 && firstDot !== -1) {
            const parts = clean.split(".");
            if (parts[1].length > decimalPlaces) {
                parts[1] = parts[1].slice(0, decimalPlaces);
                clean = parts.join(".");
            }
        }

        $this.val(clean);
    });
    $(document).on("focus", ".QtyNumbers", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });


    function OnVendorInput(inputElement) {
        SearchVendor(inputElement);
    }
    function OnVendorFocus(inputElement) {
        var tax = inputElement.value;
        if (!tax) {
            SearchVendor(inputElement);
        }
        else {
            $(this).select();
        }
    }
    async function SearchVendor(inputElement) {
        var vendor = inputElement.value;
        var GRNDate = $("#PIH_InvoiceDate").val();
        var resultsDiv = $(inputElement).next('.vendor-search-results');
        var isChecked = $("#PIH_ImportOrder").prop("checked");
        var Import;

        if (isChecked) {
            Import = true;
        } else {
            Import = false;
        }

        $.ajax({
            url: 'vendor',
            data: { Vendor: vendor, GRNDate: GRNDate, Import: Import },
            type: 'GET',
            success: function (data) {
                resultsDiv.empty();
                if (data && data.length > 0) {
                    resultsDiv.show();
                    var table = $('<div class="card-body modal-content"><table class="table table-bordered mb-0 table-hover"><thead><tr class="table-info"><th>Vendor Code</th><th>Vendor Name</th><th>Currency</th></tr></thead><tbody></tbody></table></div>');
                    data.forEach(function (ven) {
                        var row = $('<tr></tr>');
                        row.append('<td>' + ven.vendorCode + '</td>');
                        row.append('<td>' + ven.vendorName + '</td>');
                        row.append('<td>' + ven.currencyCode + '</td>');
                        table.find('tbody').append(row);

                        row.on('click', function () {
                            var vengo = 0;
                            var vendorna = ven.vendorName;
                            var vendor = $("#PIHVendor").val();
                            if (vendor == '') {
                                vengo = 1;
                            }
                            else if (vendor === vendorna) {
                                vengo = 1;
                            }
                            else {
                                let rowCount = $("tr.NewRow").length;
                                if (rowCount > 0) {
                                    if (confirm("Do you want to change the Vendor Name? This action will clear all existing items.")) {

                                        $("tr.NewRow").each(function () {
                                            $(this).remove();
                                        });
                                        $("tr.ExNewRow").each(function () {
                                            $(this).remove();
                                        });
                                        $("tr.IExNewRow").each(function () {
                                            $(this).remove();
                                        });

                                        vengo = 1;
                                    }
                                    else {
                                        $(inputElement).val(vendor);
                                    }
                                }
                                else { vengo = 1; }
                            }

                            if (vengo === 1) {
                                $(inputElement).val(ven.vendorName);
                                $("#PIHVendor").val(ven.vendorName);
                                $("#PIH_Vendor_Number").val(ven.vendorNumber);
                                $("#PIH_Currency").val(ven.currencyCode);
                                $("#PIH_Currency_Number").val(ven.currency);
                                $("#PIH_VendorLocation").val(ven.vendorLocation);
                                $("#PIH_WHT_Number").val(ven.withholdTax);
                                $("#PIH_CreditDays").val(ven.creditDays);
                                $("#PIH_PaymentBase").val(ven.paymentBase);

                                resultsDiv.hide();

                                SearchClustor(ven.vendorNumber, ven.taxNumber);
                                GetWHT(ven.vendorNumber, ven.withholdTax, GRNDate);

                                if (ven.paymentBase === 2) {
                                    var Date = $("#PIH_InvoiceDate").val();
                                    var Credit = $("#PIH_CreditDays").val();

                                    if (Date == '') { } else {
                                        var CurentDate = addDays(Date, Credit);
                                        $("#PIH_DueDate").val(CurentDate);
                                    }
                                }
                                else if (ven.paymentBase === 3) {
                                    var Date = $("#PIH_SupplierInvoiceDate").val();
                                    var Credit = $("#PIH_CreditDays").val();
                                    if (Date == '') { } else {
                                        var CurentDate = addDays(Date, Credit);
                                        $("#PIH_DueDate").val(CurentDate);
                                    }
                                }
                                else {
                                    $("#PIH_DueDate").val("");
                                }

                                SearchInvoice();
                            }
                            resultsDiv.hide();
                        });
                    });

                    var closeButton = $('<div class="card-header bg-primary py-1"><button type="button" class="p-0 float-end btn btn-sm btn-primary bg-opacity-10"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d = "M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"> </path></svg></button></div>');
                    closeButton.on('click', function () {
                        resultsDiv.hide();
                    });

                    resultsDiv.append(closeButton);
                    resultsDiv.append(table);
                } else {
                    resultsDiv.hide();
                    resultsDiv.append('<p>No results found</p>');
                }
            },
            error: function () {
                resultsDiv.text('Error loading data.');
                resultsDiv.show();
            }
        });
    }


    $(".decimal").each(function () {
        var value = $(this).val();
        $(this).val(DecimalIndianRupees(removeCommas(value)));
    });
    $(document).on("blur", ".decimal", function () {
        var value = $(this).val();
        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0.00");
        } else {
            $(this).val(DecimalIndianRupees(removeCommas(value)));
        }
    });
    $(document).on("focus", ".decimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });

    $(document).on('change', "#PIH_SupplierInvoiceDate", function () {
        var paymentBase = $("#PIH_PaymentBase").val();

        if (paymentBase === "2") {
            var Date = $("#PIH_InvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (Date == '') { } else {
                var CurentDate = addDays(Date, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else if (paymentBase === "3") {
            var Date = $("#PIH_SupplierInvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (Date == '') { } else {
                var CurentDate = addDays(Date, Credit);
                console.log("CurentDate", CurentDate);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else {
            $("#PIH_DueDate").val("");
        }
    });


    function OnClustorInput(inputElement) {
        SearchClustor(inputElement);
    }
    function OnClustorFocus(inputElement) {
        var tax = inputElement.value;
        if (!tax) {
            SearchClustor(inputElement);
        }
        else {
            $(this).select();
        }
    }
    function SearchClustor(Vendor, taxNumber) {
        if (Vendor) {
            $.ajax({
                url: 'cluster',
                data: { Vendor: Vendor },
                type: 'GET',
                success: function (data) {
                    if (data && data.length > 0) {
                        var dropdown = document.getElementById("PIH_TaxCluster_Number");
                        dropdown.innerHTML = "";

                        var option = document.createElement("option");
                        option.value = "";
                        option.text = "";
                        dropdown.appendChild(option);

                        data.forEach(function (item) {
                            var option = document.createElement("option");
                            option.value = item.taxClusterNumber;
                            option.text = item.taxCluster;
                            dropdown.appendChild(option);
                        });

                        if (taxNumber) {
                            $("#PIH_TaxCluster_Number").val(taxNumber);
                        }
                        else {
                            AssignGST();
                        }
                    }
                },
                error: function () {
                    resultsDiv.text('Error loading data.');
                    resultsDiv.show();
                }
            });
        }
    }


    function addDays(date, days) {
        const dateAfterAddingDays = new Date(date);
        dateAfterAddingDays.setDate(dateAfterAddingDays.getDate() + parseInt(days));

        const day = dateAfterAddingDays.getDate().toString().padStart(2, '0');
        const year = dateAfterAddingDays.getFullYear();
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const monthAbbr = monthNames[dateAfterAddingDays.getMonth()];

        const result = `${day}-${monthAbbr}-${year}`;
        return result;
    }

    function ExchangeVisibility() {
        if ($('#PIH_ImportOrder').is(':checked')) {
            $('#ExchangeRate').show();
        } else {
            $('#ExchangeRate').hide();
        }
    }

    flatpickr(".datepicker", {
        dateFormat: "d-M-Y",
        altInput: false,
    });

    document.addEventListener("DOMContentLoaded", function () {
        ExchangeVisibility();

        const MainDiv = document.getElementById('BodyHeight');
        const HeadDiv = document.getElementById('CardHeader');
        const BodyDiv = document.getElementById('CardBody');
        const FooterDiv = document.getElementById('CardFooter');

        if (HeadDiv && BodyDiv) {
            const MainHeight = MainDiv.offsetHeight;
            const HeadHeight = HeadDiv.offsetHeight;
            const FooterHeight = FooterDiv.offsetHeight;
            BodyDiv.style.height = (MainHeight - HeadHeight - FooterHeight - 10) + 'px';
        } else {
        }
    });

    function AssignGST() {
        var TaxCluster = $("#PIH_TaxClusterNumber").val();
        $("#PIH_TaxCluster_Number").val(TaxCluster);
    }
    AssignGST();

    $("#ExCloseButton").click(function () {
        $("#Expense").modal('hide');

        // CalAmount();
    });

    $("#IExCloseButton").click(function () {
        $("#IExpense").modal('hide');

        // CalAmount();
    });

    $("#PIH_InvoiceDate").change(function (e) {
        const PIHDate = $("#PIH_InvoiceDate").val();
        const InvoiceDate = ParseCustomDate(PIHDate);

        let CheckedPO = [];
        $("tr.NewRow").each(function () {
            var irow = $(this);
            var Po_Number = irow.find("input.PII_POH_Number").val();
            var PosDate = irow.find("input.PII_PO_Date").val();
            const PoDate = ParseCustomDate(PosDate);
            if (InvoiceDate.getTime() < PoDate.getTime()) {
                CheckedPO.push(Po_Number);
            }
        });
        const UniqueCheckedPO = [...new Set(CheckedPO)];

        if (CheckedPO.length > 0) {
            if (confirm("Do you want to change the Date? This action will clear all existing items.")) {
                const UniqueCheckedPO = [...new Set(CheckedPO)];

                let DisplayedPO = [];
                $("tr.NewRow").each(function () {
                    const PONumberInRow = $(this).find(".PII_POH_Number").val();
                    if (PONumberInRow) {
                        DisplayedPO.push(PONumberInRow);
                    }
                });

                const POToRemove = DisplayedPO.filter(PO => UniqueCheckedPO.includes(PO));
                const UniquePOToRemove = [...new Set(POToRemove)];

                UniquePOToRemove.forEach(PONumberToRemove => {
                    $("tr.NewRow").filter(function () {
                        return $(this).find(".PII_POH_Number").val() === PONumberToRemove;
                    }).remove();
                });


                let DisplayedExPO = [];
                $("tr.ExNewRow").each(function () {
                    const PONumberInRow = $(this).find(".PIH_EXP_POH_Number").val();
                    if (PONumberInRow) {
                        DisplayedExPO.push(PONumberInRow);
                    }
                });

                const ExPOToRemove = DisplayedExPO.filter(PO => UniqueCheckedPO.includes(PO));
                const ExUniquePOToRemove = [...new Set(ExPOToRemove)];

                ExUniquePOToRemove.forEach(PONumberToRemove => {
                    $("tr.ExNewRow").filter(function () {
                        return $(this).find(".PIH_EXP_POH_Number").val() === PONumberToRemove;
                    }).remove();
                });



                let DisplayedIExPO = [];
                $("tr.IExNewRow").each(function () {
                    const PONumberInRow = $(this).find(".PII_EXP_POH_Number").val();
                    if (PONumberInRow) {
                        DisplayedIExPO.push(PONumberInRow);
                    }
                });

                const IExPOToRemove = DisplayedIExPO.filter(PO => UniqueCheckedPO.includes(PO));
                const IExUniquePOToRemove = [...new Set(IExPOToRemove)];

                IExUniquePOToRemove.forEach(PONumberToRemove => {
                    $("tr.IExNewRow").filter(function () {
                        return $(this).find(".PII_EXP_POH_Number").val() === PONumberToRemove;
                    }).remove();
                });

                SearchInvoice();
                $("#PIHInvoiceDate").val($("#PIH_InvoiceDate").val());
            }
            else {
                $("#PIH_InvoiceDate").val($("#PIHInvoiceDate").val());
            }
        }
        else {
            SearchInvoice();
        }

        var paymentBase = $("#PIH_PaymentBase").val();

        if (paymentBase === "2") {
            var InDate = $("#PIH_InvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (InDate == '') { } else {
                var CurentDate = addDays(InDate, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else if (paymentBase === "3") {
            var InDate = $("#PIH_SupplierInvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (InDate == '') { } else {
                var CurentDate = addDays(InDate, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else {
            $("#PIH_DueDate").val("");
        }

        const date = new Date(PIHDate);

        const Year = date.getFullYear();
        const Month = date.getMonth() + 1;
        const Day = date.getDate();

        const ForMonth = String(Month).padStart(2, '0');
        const ForDay = String(Day).padStart(2, '0');

        const ForDate = `${Year}${ForMonth}${ForDay}`;

        $.ajax({
            url: 'numbering',
            data: { PIDate: ForDate },
            type: 'GET',
            success: function (data) {
                if (data === "") {

                }
                else {
                    $('#PIH_InvoiceNo').val(data);
                }
            },
            error: function () {
            }
        });

        (async () => {
            await CalculateAllExpenses();
        })();
        // CalAmount();
        // (async () => {
        //     CalculateFooter();
        // })();
        $("#PIH_SupplierInvoiceNo").focus();
    });

    function ParseCustomDate(dateString) {
        if (!dateString || typeof dateString !== 'string') {
            return null;
        }

        const months = {
            'Jan': 0, 'Feb': 1, 'Mar': 2, 'Apr': 3, 'May': 4, 'Jun': 5,
            'Jul': 6, 'Aug': 7, 'Sep': 8, 'Oct': 9, 'Nov': 10, 'Dec': 11
        };

        const parts = dateString.split('-');

        if (parts.length === 3) {
            const day = parseInt(parts[0], 10);
            const monthStr = parts[1];
            const year = parseInt(parts[2], 10);

            if (months.hasOwnProperty(monthStr) && !isNaN(day) && !isNaN(year) && year > 1000) {
                const monthIndex = months[monthStr];
                const dateObj = new Date(year, monthIndex, day);
                if (dateObj.getFullYear() === year && dateObj.getMonth() === monthIndex && dateObj.getDate() === day) {
                    return dateObj;
                } else {
                }
            }
        }
        console.warn("Could not parse date string:", dateString, "Parts:", parts);
        return null;
    }
</script>

<script>
    function SearchInvoice() {
        var Vendor = $("#PIH_Vendor_Number").val();
        var MSNumber = $("#PIH_MS_Number").val();
        var GRNDate = $("#PIH_InvoiceDate").val();
        var isChecked = $("#PIH_ImportOrder").prop("checked");
        var resultsDiv = $("#OrderTableView");
        var Import;

        if (isChecked) {
            Import = true;
        } else {
            Import = false;
        }

        if (Vendor) {
            $.ajax({
                url: 'order',
                data: { Vendor: Vendor, MSNumber: MSNumber, Import: Import, GRNDate: GRNDate },
                type: 'GET',
                success: function (data) {
                    let DisplayedItemPO = [];
                    $("tr.NewRow").each(function () {
                        const PONumberInRow = $(this).find(".PII_Item_Number").val();
                        if (PONumberInRow) {
                            DisplayedItemPO.push(PONumberInRow);
                        }
                    });
                    const UniqueDisplayedItemPOs = [...new Set(DisplayedItemPO)];

                    if (data && data.length > 0) {
                        resultsDiv.empty();
                        var tableHTML = `<table class="table table-bordered mb-0 table-hover">
                                            <thead>
                                                <tr class="table-info">
                                                    <th class="px-2 del"></th>
                                                        <th>Item Group</th>
                                                        <th>Item Code</th>
                                                        <th>Item Description</th>
                                                        <th class='text-center'>Recover Deleted PO</th>
                                                        <th class='text-center'>Recover Deleted Header Expense</th>
                                                        <th class='text-center'>Recover Deleted Item Expense</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>`;

                        var table = $(tableHTML);

                        data.forEach(function (PO) {
                            var CheckboxCell = $('<td class="px-2 del text-center"></td>');
                            var Checkbox = $('<input type="checkbox" class="form-check-input order-item-checkbox">');
                            Checkbox.val(PO.poI_Item_Number);
                            const poItemnum = String(PO.poI_Item_Number).trim();

                            if (UniqueDisplayedItemPOs.includes(poItemnum.trim())) {
                                Checkbox.prop('checked', true);
                            } 

                            CheckboxCell.append(Checkbox);

                            var ItemCheckboxCell = $('<td class="px-2 del text-center"></td>');
                            var ItemCheckbox = $('<input type="checkbox" class="form-check-input item-delete-checkbox">');
                            ItemCheckbox.val(PO.poI_Item_Number);
                            ItemCheckboxCell.append(ItemCheckbox);

                            var HeaderExCheckboxCell = $('<td class="px-2 del text-center"></td>');
                            var HeaderExCheckbox = $('<input type="checkbox" class="form-check-input headerEx-delete-checkbox">');
                            HeaderExCheckbox.val(PO.poI_Item_Number);
                            HeaderExCheckboxCell.append(HeaderExCheckbox);

                            var ItemExCheckboxCell = $('<td class="px-2 del text-center"></td>');
                            var ItemExCheckbox = $('<input type="checkbox" class="form-check-input itemEx-delete-checkbox">');
                            ItemExCheckbox.val(PO.poI_Item_Number);
                            ItemExCheckboxCell.append(ItemExCheckbox);

                            var row = $('<tr class="pocheck"></tr>');
                            row.append(CheckboxCell);
                            row.append('<td>' + PO.poI_ItemGroup + '</td>');
                            row.append('<td>' + PO.poI_ItemCode + '</td>');
                            row.append('<td>' + PO.poI_ItemDescription + '</td>');
                            row.append(ItemCheckboxCell);
                            row.append(HeaderExCheckboxCell);
                            row.append(ItemExCheckboxCell);
                            table.find('tbody').append(row);
                        });

                        var checkButton = $('<div class="w-100 p-2 text-center"><button type="button" class="btn btn-primary" id="GetInvoice">Get</button></div>');

                        resultsDiv.append(table);
                        resultsDiv.append(checkButton);

                        resultsDiv.find('#GetInvoice').on('click', function () {
                            var SelectedPO = $.map($('tbody .order-item-checkbox:checked'), function (c) { return c.value; })
                            var SelectedItemPO = $.map($('tbody .item-delete-checkbox:checked'), function (c) { return c.value; })
                            var SelectedHeaderExPO = $.map($('tbody .headerEx-delete-checkbox:checked'), function (c) { return c.value; })
                            var SelectedItemExPO = $.map($('tbody .itemEx-delete-checkbox:checked'), function (c) { return c.value; })

                            InsertInvoice(SelectedPO, SelectedItemPO, SelectedHeaderExPO, SelectedItemExPO);

                            // CalAmount();

                            $("#POView").modal('hide');
                        });
                    }
                    if (data.length === 0){
                        resultsDiv.empty();
                        (async () => {
                            await CalculateAllExpenses();
                        })();
                    }
                }
            });
        }
    }

    function InsertInvoice(SelectedPO, SelectedItemPO, SelectedHeaderExPO, SelectedItemExPO) {
        var Selected_Number = SelectedPO.join(',');
        let DisplayedPO = [];
        let DisplayedItemPO = [];
        $("tr.NewRow").each(function () {
            var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
            if (PIDeleteInRow == "false") {
                const ItemNumberInRow = $(this).find(".PII_Item_Number").val();
                if (ItemNumberInRow) {
                    DisplayedItemPO.push(ItemNumberInRow);
                }
            }
        });

        const ItemToRemove = DisplayedItemPO.filter(PO => !SelectedPO.includes(PO));
        const UniqueItemToRemove = [...new Set(ItemToRemove)];

        UniqueItemToRemove.forEach(PONumberToRemove => {
            let $ExistingRow = $("tr.NewRow").filter(function () {
                return $(this).find(".PII_Item_Number").val() === PONumberToRemove;
            });

            let EXAlreadyExists = $ExistingRow.length > 0;

            if (EXAlreadyExists) {
                $ExistingRow.find("input.CheckItem").val(false);
                $ExistingRow.find("input.PII_IsDeleted").val("true");
                $ExistingRow.hide();
            }
        });


        $("tr.NewRow").each(function () {
            var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
            if (PIDeleteInRow == "false") {
                const PONumberInRow = $(this).find(".PII_POH_Number").val();
                if (PONumberInRow) {
                    DisplayedPO.push(PONumberInRow);
                }
            }
        });


        let DisplayedExPO = [];
        $("tr.ExNewRow").each(function () {
            const PONumberInRow = $(this).find(".PIH_EXP_POH_Number").val();
            if (PONumberInRow) {
                DisplayedExPO.push(PONumberInRow);
            }
        });

        const ExPOToRemove = DisplayedExPO.filter(PO => !DisplayedPO.includes(PO));
        const ExUniquePOToRemove = [...new Set(ExPOToRemove)];

        ExUniquePOToRemove.forEach(PONumberToRemove => {
            let $ExistingRow = $("tr.ExNewRow").filter(function () {
                return $(this).find(".PIH_EXP_POH_Number").val() === PONumberToRemove;
            });

            let EXAlreadyExists = $ExistingRow.length > 0;

            if (EXAlreadyExists) {
                $ExistingRow.find("input.PIH_EXP_IsDeleted").val("true");
                $ExistingRow.hide();
            }
        });



        let DisplayedIExPO = [];
        $("tr.IExNewRow").each(function () {
            const PONumberInRow = $(this).find(".PII_EXP_POH_Number").val();
            if (PONumberInRow) {
                DisplayedIExPO.push(PONumberInRow);
            }
        });

        const IExPOToRemove = DisplayedIExPO.filter(PO => !DisplayedPO.includes(PO));
        const IExUniquePOToRemove = [...new Set(IExPOToRemove)];

        IExUniquePOToRemove.forEach(PONumberToRemove => {
            let $ExistingRow = $("tr.IExNewRow").filter(function () {
                return $(this).find(".PII_EXP_POH_Number").val() === PONumberToRemove;
            });

            let EXAlreadyExists = $ExistingRow.length > 0;

            if (EXAlreadyExists) {
                $ExistingRow.find("input.PII_EXP_IsDeleted").val("true");
                $ExistingRow.hide();
            }
        });

        if (Selected_Number) {
            let OldItemsPO = [];
            $("tr.NewRow").each(function () {
                var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
                if (PIDeleteInRow == "false") {
                    const PONumberInRow = $(this).find(".PII_Item_Number").val();
                    if (PONumberInRow) {
                        OldItemsPO.push(PONumberInRow);
                    }
                }
            });
            const OldItemPO = [...new Set(OldItemsPO)];

            let PushItemsPO = [];
            $("tr.NewRow").each(function () {
                // var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
                // if (PIDeleteInRow == "false") {
                    const PONumberInRow = $(this).find(".PII_POH_Number").val();
                    if (PONumberInRow) {
                        PushItemsPO.push(PONumberInRow);
                    }
                // }
            });
            const PushItemPO = [...new Set(PushItemsPO)];

            var Vendor = $("#PIH_Vendor_Number").val();
            var MSNumber = $("#PIH_MS_Number").val();
            var GRNDate = $("#PIH_InvoiceDate").val();
            var isChecked = $("#PIH_ImportOrder").prop("checked");
            var resultsDiv = $("#OrderTableView");
            var Import;

            if (isChecked) {
                Import = true;
            } else {
                Import = false;
            }

            $.ajax({
                url: 'order/item',
                data: { PONumber: Selected_Number, Vendor: Vendor, MSNumber: MSNumber, Import: Import, GRNDate: GRNDate },
                type: 'GET',
                success: function (data) {
                    var PoItem = data.poItems;
                    var PoExpense = data.poExpenses;
                    var PoItemExpense = data.poItemExpenses;
                    console.log("OldItemPO",OldItemPO);
                    console.log("PushItemPO",PushItemPO);
                    console.log("--------------------------------");
                    if (PoItem && PoItem.length > 0) {
                        PoItem.forEach(function (Po) {
                            var ItemNumber = String(Po.poI_Item_Number);
                            var PiNumber = String(Po.poI_Number);

                            let POOldItem = OldItemPO.includes(ItemNumber);
                            let DeletedItem = SelectedItemPO.includes(ItemNumber);
                            let POIAlreadyExists = false;
                            let $ExistingRow = null;

                            $("tr.NewRow").each(function () {
                                var $row = $(this);
                                var POItemNumber = $row.find(".PII_Item_Number").val();
                                var POINumber = $row.find(".PII_POI_Number").val();

                                if (POItemNumber === ItemNumber && PiNumber === POINumber) {
                                    POIAlreadyExists = true;
                                    $ExistingRow = $row;
                                    return false;
                                }
                            });

                            if (!POOldItem || DeletedItem) {
                                if (POIAlreadyExists) {
                                    $ExistingRow.find("input.PII_IsDeleted").val("false").closest('tr').show();
                                } else {
                                    addRow(Po);
                                }
                            }
                            console.log("--------------------------------");
                        });
                    }

                    let PushExItemsPO = [];
                    let PushExPOS = [];
                    $("tr.NewRow").each(function () {
                        const POItemNumberInRow = $(this).find(".PII_Item_Number").val();
                        const PONumberInRow = $(this).find(".PII_POH_Number").val();
                        let DeletedEx = SelectedHeaderExPO.includes(POItemNumberInRow);
                        if (DeletedEx) {
                            PushExItemsPO.push(PONumberInRow);
                        }
                    });
                    const PushExItemPO = [...new Set(PushExItemsPO)];

                    $("tr.NewRow").each(function () {
                        var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
                        if (PIDeleteInRow == "false") {
                            const PONumberInRow = $(this).find(".PII_POH_Number").val();
                            if (PONumberInRow) {
                                PushExPOS.push(PONumberInRow);
                            }
                        }
                    });
                    const PushExPO = [...new Set(PushExPOS)];
                    console.log("PushExItemPO", PushExItemPO);
                    console.log("PushExPOS", PushExPOS);

                    if (PoExpense && PoExpense.length > 0) {
                        PoExpense.forEach(function (Po) {
                            var ExpenNumber = String(Po.poH_EXP_Number);
                            var HeadNumber = String(Po.poH_EXP_POH_Number);

                            let POOldEx = PushItemPO.includes(HeadNumber);
                            let DeletedEx = PushExItemsPO.includes(HeadNumber);

                            let $ExistingRow = $("tr.ExNewRow").filter(function () {
                                var ExpNum = $(this).find(".PIH_EXP_Number").val();
                                var PONum = $(this).find(".PIH_EXP_POH_Number").val();
                                return PONum === HeadNumber && ExpNum === ExpenNumber;
                            });

                            let EXAlreadyExists = $ExistingRow.length > 0;
                            let POOldnewEx = PushExPO.includes(HeadNumber);


                            if (EXAlreadyExists && (!POOldEx || DeletedEx)) {
                                $ExistingRow.find("input.PIH_EXP_IsDeleted").val("false").closest('tr').show();
                            }
                            else if (!EXAlreadyExists && ((!POOldEx && POOldnewEx) || (POOldEx && DeletedEx))) {
                                ExAddRow(Po);
                            }
                        });
                    }

                    
                    let PushIExItemsPO = [];
                    $("tr.NewRow").each(function () {
                        const POItemNumberInRow = $(this).find(".PII_Item_Number").val();
                        const PONumberInRow = $(this).find(".PII_POH_Number").val();
                        let DeletedEx = SelectedItemExPO.includes(POItemNumberInRow);
                        if (DeletedEx) {
                            PushIExItemsPO.push(PONumberInRow);
                        }
                    });
                    const PushIExItemPO = [...new Set(PushIExItemsPO)];

                    if (PoItemExpense && PoItemExpense.length > 0) {
                        var int = 0;
                        PoItemExpense.forEach(function (Po) {
                            var ExpenNumber = String(Po.poI_EXP_Number);
                            var HeadNumber = String(Po.poI_EXP_POH_Number);

                            let POOldIEx = PushItemPO.includes(HeadNumber);
                            let DeletedEx = PushIExItemPO.includes(HeadNumber);

                            let $ExistingRow = $("tr.IExNewRow").filter(function () {
                                var ExpNum = $(this).find(".PII_EXP_Number").val();
                                var PONum = $(this).find(".PII_EXP_POH_Number").val();

                                return PONum === HeadNumber && ExpNum === ExpenNumber;
                            });

                            let IEXAlreadyExists = $ExistingRow.length > 0;

                            if (!POOldIEx) {
                                if (IEXAlreadyExists) {
                                    $ExistingRow.find("input.PII_EXP_IsDeleted").val("false");
                                    $ExistingRow.show();
                                }
                                else {
                                    IExAddRow(Po);
                                }
                            }
                            else {
                                if (DeletedEx && !IEXAlreadyExists) {
                                    IExAddRow(Po);
                                }
                                else if (DeletedEx && IEXAlreadyExists) {
                                    $ExistingRow.find("input.PII_EXP_IsDeleted").val("false");
                                    $ExistingRow.show();
                                }
                            }
                            int++;
                        });
                    }
                    (async () => {
                        await CalculateAllExpenses();
                    })();
                    // CalAmount();
                    // CalculateFooter();
                    UnChecked();
                },
                error: function () {
                    (async () => {
                        await CalculateAllExpenses();
                    })();
                    // CalAmount();
                    // CalculateFooter();
                }
            });
        }

    }

    $("#PIH_MS_Number").change(function () {
        var PIH_MS_Number = $(this).val();
        var PII_MS_Number = "";
        var PIH_MS = $(this).val();
        var AllMatch = true;

        $("tr.NewRow").each(function () {
            var irow = $(this);
            var PII_IsDeleted = $(this).find("input[name*='PII_IsDeleted']").val() === "true";
            if (!PII_IsDeleted) {
                PII_MS_Number = irow.find("input.PII_MS_Number").val();
                if (PII_MS_Number !== PIH_MS_Number) {
                    AllMatch = false;
                    return false;
                }
            }
        });

        if (!AllMatch) {
            if (PII_MS_Number != "") {
                if (confirm("Do you want to change the Material Segregation? This action will clear all existing items.")) {
                    $("tr.NewRow").each(function () {
                        $(this).remove();
                    });
                    $("tr.ExNewRow").each(function () {
                        $(this).remove();
                    });
                    $("tr.IExNewRow").each(function () {
                        $(this).remove();
                    });

                    CalAmount();
                }
                else {
                    $("#PIH_MS_Number").val(PII_MS_Number);
                }
            }
        }
        SearchInvoice();
        (async () => {
            await CalculateAllExpenses();
        })();
        // CalAmount();
        // CalculateFooter();
    });

    function PoUncheckInvoice() {
        let DisplayedPO = [];
        $("tr.NewRow").each(function () {
            var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
            if (PIDeleteInRow == "false") {
                const PONumberInRow = $(this).find(".PII_Item_Number").val();
                if (PONumberInRow) {
                    DisplayedPO.push(PONumberInRow);
                }
            }
        });

        var $CheckedCheckboxes = $('tbody .order-item-checkbox:checked');
        var SelectedPOValues = $.map($CheckedCheckboxes, function (c) { return c.value; });

        const UniqueDisplayedPOs = [...new Set(DisplayedPO)];

        $CheckedCheckboxes.each(function () {
            const $Checkbox = $(this);
            const CheckboxValue = $Checkbox.val();

            if (!UniqueDisplayedPOs.includes(CheckboxValue)) {
                $Checkbox.prop('checked', false);
            }
        });
    }
    function PoCheckInvoice() {
        let DisplayedPO = [];
        $("tr.NewRow").each(function () {
            var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
            if (PIDeleteInRow == "false") {
                const PONumberInRow = $(this).find(".PII_Item_Number").val();
                if (PONumberInRow) {
                    DisplayedPO.push(PONumberInRow);
                }
            }
        });
        const UniqueDisplayedPOs = [...new Set(DisplayedPO)];

        $("tr.pocheck").each(function () {
            const $checkbox = $(this).find(".order-item-checkbox");
            const checkboxValue = $checkbox.val();

            if (checkboxValue && UniqueDisplayedPOs.includes(checkboxValue.trim())) {
                $checkbox.prop('checked', true);
            } else {
            }
        });
    }

    function UnChecked(){
        var $SelectedItemPO = $('tbody .item-delete-checkbox:checked');
        $SelectedItemPO.prop('checked', false);

        var $SelectedHeaderExPO = $('tbody .headerEx-delete-checkbox:checked');
        $SelectedHeaderExPO.prop('checked', false);
        
        var $SelectedItemExPO = $('tbody .itemEx-delete-checkbox:checked');
        $SelectedItemExPO.prop('checked', false);
    }
    function POExRemove() {
        let DisplayedPO = [];
        $("tr.NewRow").each(function () {
            var PIDeleteInRow = $(this).find(".PII_IsDeleted").val();
            if (PIDeleteInRow == "false") {
                const PONumberInRow = $(this).find(".PII_POH_Number").val();
                if (PONumberInRow) {
                    DisplayedPO.push(PONumberInRow);
                }
            }
        });

        const UniqueDisplayedPO = [...new Set(DisplayedPO)];

        let DisplayedExPO = [];
        $("tr.ExNewRow").each(function () {
            const PONumberInRow = $(this).find(".PIH_EXP_POH_Number").val();
            if (PONumberInRow) {
                DisplayedExPO.push(PONumberInRow);
            }
        });

        const ExPOToRemove = DisplayedExPO.filter(PO => !UniqueDisplayedPO.includes(PO));
        const ExUniquePOToRemove = [...new Set(ExPOToRemove)];

        ExUniquePOToRemove.forEach(PONumberToRemove => {
            let $ExistingRow = $("tr.ExNewRow").filter(function () {
                return $(this).find(".PIH_EXP_POH_Number").val() === PONumberToRemove;
            });

            let EXAlreadyExists = $ExistingRow.length > 0;

            if (EXAlreadyExists) {
                $ExistingRow.find("input.PIH_EXP_IsDeleted").val("true");
                $ExistingRow.hide();
            }
        });



        let DisplayedIExPO = [];
        $("tr.IExNewRow").each(function () {
            const PONumberInRow = $(this).find(".PII_EXP_POH_Number").val();
            if (PONumberInRow) {
                DisplayedIExPO.push(PONumberInRow);
            }
        });

        const IExPOToRemove = DisplayedIExPO.filter(PO => !UniqueDisplayedPO.includes(PO));
        const IExUniquePOToRemove = [...new Set(IExPOToRemove)];

        IExUniquePOToRemove.forEach(PONumberToRemove => {
            let $ExistingRow = $("tr.IExNewRow").filter(function () {
                return $(this).find(".PII_EXP_POH_Number").val() === PONumberToRemove;
            });

            let EXAlreadyExists = $ExistingRow.length > 0;

            if (EXAlreadyExists) {
                $ExistingRow.find("input.PII_EXP_IsDeleted").val("true");
                $ExistingRow.hide();
            }
        });
    }

    $(document).on('click', '.RowRemove', function () {
        $(".CheckItem:checked").each(function () {
            const $checkbox = $(this);
            const $row = $checkbox.closest('tr');

            $row.find(".CheckItem").prop('checked', false);
            $row.find(".PII_IsDeleted").val("true");
            $row.hide();
        });
        
        PoUncheckInvoice();
        POExRemove();
        (async () => {
            await CalculateAllExpenses();
        })();
        // CalculateFooter();
    });

    $(document).ready(function () {
        SearchInvoice();
        (async () => {
            await CalculateAllExpenses();
        })();
        // CalAmount();
        // CalculateFooter();
    });
    // async function CalculateItemExpense() {
    //     $("tr.NewRow").each(function () {
    //         var row = $(this);

    //         var currentRow = row.closest('tr.NewRow');

    //         var POINumber = currentRow.find('input.PII_POI_Number').val();
    //         var POHNumber = currentRow.find('input.PII_POH_Number').val();
    //         var Qty = removeCommas(currentRow.find('input.PII_Qty').val());
    //         var MatrialValue = removeCommas(currentRow.find('input.PII_Amount').val());

    //         if (POINumber) {
    //             var cout = 0;
    //             $("tr.IExNewRow").each(function () {
    //                 var RowPOINumber = $(this).find("input.PII_EXP_POI_Number").val();
    //                 var RowPOHNumber = $(this).find("input.PII_EXP_POH_Number").val();
    //                 var isDeleted = $(this).find("input.PII_EXP_IsDeleted").val();

    //                 if (RowPOINumber === POINumber && RowPOHNumber === POHNumber && isDeleted !== 'true') {

    //                     var Charge = $(this).find("select.PII_EXP_CM_Number").val();

    //                     if (Charge === "1") {
    //                         var ExpenseBase = parseFloat(removeCommas($(this).find("input.PII_EXP_ExpenseBase").val())) || 0;
    //                         $(this).find("input.PII_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseBase));
    //                     }
    //                     else if (Charge === "2") {
    //                         var ExpenseBase = parseFloat(removeCommas($(this).find("input.PII_EXP_ExpenseBase").val())) || 0;
    //                         var ExpenseValue = Qty * ExpenseBase;
    //                         $(this).find("input.PII_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseValue));
    //                     }
    //                     else if (Charge === "3") {
    //                         var ExpenseBase = parseFloat(removeCommas($(this).find("input.PII_EXP_ExpenseBase").val())) || 0;
    //                         var ExpenseValue = MatrialValue * ExpenseBase / 100;
    //                         $(this).find("input.PII_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseValue));
    //                     }

    //                     cout++;
    //                 }
    //             });
    //         }
    //     });
    // }


    async function CalculateAll() {
        const $newRows = $("tr.NewRow");
        const $exNewRows = $("tr.ExNewRow");
        const $iExNewRows = $("tr.IExNewRow");
        const cluster = $("#PIH_TaxCluster_Number").val() || $("#PIH_TaxClusterNumber").val();
        const grnDate = $("#PIH_InvoiceDate").val();
        const whNumber = $("#PIH_WHT_Number").val();

        // Pre-calculate values that don't change during iteration
        const whTax = whNumber ? $("#PIH_WHT_Tax").val() : "1";
        const whPercent = whNumber ? $("#PIH_WHT_Percent").val() : 0;

        // Process items and expenses in parallel
        const [itemResults, headerExpenseResults] = await Promise.all([
            processItems($newRows, $iExNewRows, cluster, grnDate, whTax, whPercent),
            processHeaderExpenses($exNewRows, $newRows, cluster, grnDate)
        ]);

        // Calculate footer with all results
        await calculateFooter(itemResults, headerExpenseResults);
    }

    async function processItems($newRows, $iExNewRows, cluster, grnDate, whTax, whPercent) {
        const itemPromises = [];
        const itemExpenseMap = new Map();

        // Pre-calculate item expenses
        $iExNewRows.each(function() {
            const $row = $(this);
            if ($row.find("input.PII_EXP_IsDeleted").val() === 'true') return;

            const poiNumber = $row.find("input.PII_EXP_POI_Number").val();
            const pohNumber = $row.find("input.PII_EXP_POH_Number").val();
            const key = `${pohNumber}-${poiNumber}`;

            if (!itemExpenseMap.has(key)) {
                itemExpenseMap.set(key, []);
            }

            itemExpenseMap.get(key).push({
                expenseBase: parseFloat(removeCommas($row.find("input.PII_EXP_ExpenseBase").val())) || 0,
                charge: $row.find("select.PII_EXP_CM_Number").val(),
                row: $row
            });
        });

        // Process each item row
        $newRows.each(function() {
            const $row = $(this);
            if ($row.find('input.PII_IsDeleted').val() === "true") return;

            const promise = processSingleItem($row, itemExpenseMap, cluster, grnDate, whTax, whPercent);
            itemPromises.push(promise);
        });

        return Promise.all(itemPromises);
    }

    async function processSingleItem($row, itemExpenseMap, cluster, grnDate, whTax, whPercent) {
        const pohNumber = $row.find('input.PII_POH_Number').val();
        const poiNumber = $row.find('input.PII_POI_Number').val();
        const key = `${pohNumber}-${poiNumber}`;
        const hsnNumber = $row.find('.PII_HSN_Number').val();

        const qty = parseFloat(removeCommas($row.find('input.PII_Qty').val())) || 0;
        const unitPrice = parseFloat(removeCommas($row.find('input.PII_UnitPrice').val())) || 0;
        const materialValue = qty * unitPrice;

        // Calculate amount
        $row.find("input.PII_Amount").val(DecimalIndianRupees(materialValue));

        // Process item expenses
        let expenseTotal = 0;
        const itemExpenses = itemExpenseMap.get(key) || [];

        for (const expense of itemExpenses) {
            let expenseValue = 0;

            switch (expense.charge) {
                case "1":
                    expenseValue = expense.expenseBase;
                    break;
                case "2":
                    expenseValue = qty * expense.expenseBase;
                    break;
                case "3":
                    expenseValue = materialValue * expense.expenseBase / 100;
                    break;
            }
            expenseValue = parseFloat(parseFloat(expenseValue).toFixed(2));
            expense.row.find("input.PII_EXP_ExpenseValue").val(DecimalIndianRupees(expenseValue));
            expenseTotal += parseFloat(expenseValue);
        }

        $row.find("input.PII_ExpenseValue").val(DecimalIndianRupees(expenseTotal));

        // Calculate GST and WHT
        const baseAmount = materialValue + expenseTotal;
        let gstAmount = 0;
        let whtAmount = 0;

        if (cluster) {
            gstAmount = await GetClusterAmount(cluster, grnDate, hsnNumber, baseAmount);
            gstAmount = parseFloat(parseFloat(gstAmount).toFixed(2));
            $row.find("input.PII_GST_Amount").val(DecimalIndianRupees(gstAmount));

            const totalAmount = whTax === "1" ? baseAmount + gstAmount : baseAmount;
            whtAmount = -(totalAmount * whPercent / 100);
            whtAmount = parseFloat(parseFloat(whtAmount).toFixed(2));

            $row.find("input.PII_WHT_Percent").val(DecimalIndianRupees(whPercent));
            $row.find("input.PII_WHT_Amount").val(DecimalIndianRupees(whtAmount));
        }

        // Process batches if needed
        await CalculateIBatch($row);

        return {
            poQty: parseFloat(removeCommas($row.find('.PII_POQty').val())) || 0,
            qty: qty,
            amount: materialValue,
            expense: expenseTotal,
            gst: gstAmount,
            wht: whtAmount
        };
    }

    async function processHeaderExpenses($exNewRows, $newRows, cluster, grnDate) {
        const promises = [];

        $exNewRows.each(function() {
            const $row = $(this);
            if ($row.find("input.PIH_EXP_IsDeleted").val() === "true") return;

            promises.push(processHeaderExpense($row, $newRows, cluster, grnDate));
        });

        return Promise.all(promises);
    }

    async function processHeaderExpense($row, $newRows, cluster, grnDate) {
        const pohNumber = $row.find("input.PIH_EXP_POH_Number").val();
        const charge = $row.find("select.PIH_EXP_CM_Number").val();
        const isGst = $row.find("select.PIH_EXP_TaxCalculate").val();
        const expenseBase = parseFloat(removeCommas($row.find("input.PIH_EXP_ExpenseBase").val())) || 0;

        const items = $newRows.map(function() {
            const $irow = $(this);
            if ($irow.find(".PII_POH_Number").val() === pohNumber &&
                $irow.find("input.PII_IsDeleted").val() !== 'true') {
                return {
                    qty: parseFloat(removeCommas($irow.find(".PII_Qty").val())) || 0,
                    amount: parseFloat(removeCommas($irow.find(".PII_Amount").val())) || 0
                };
            }
            return null;
        }).get().reduce((acc, item) => ({
            itemQty: acc.itemQty + item.qty,
            itemAmount: acc.itemAmount + item.amount
        }), { itemQty: 0, itemAmount: 0 });

        let expenseValue = 0;
        switch (charge) {
            case "1": expenseValue = expenseBase; break;
            case "2": expenseValue = items.itemQty * expenseBase; break;
            case "3": expenseValue = items.itemAmount * expenseBase / 100; break;
        }
        expenseValue = parseFloat(parseFloat(expenseValue).toFixed(2));
        $row.find("input.PIH_EXP_ExpenseValue").val(DecimalIndianRupees(expenseValue));

        let taxValue = 0;
        if (isGst === "2" && cluster) {
            const sacNumber = $row.find("input.PIH_EXP_SAC_Number").val();
            taxValue = await GetClusterExpenseAmount(cluster, grnDate, sacNumber, expenseValue);
        }
        taxValue = parseFloat(parseFloat(taxValue).toFixed(2));
        $row.find("input.PIH_EXP_TaxValue").val(DecimalIndianRupees(taxValue));

        return { expenseValue, taxValue };
    }

        // Utility function for safe number operations
    function safeNumber(value, defaultValue = 0) {
        const num = parseFloat(value);
        return isNaN(num) ? defaultValue : num;
    }

    async function calculateFooter(itemResults, headerExpenseResults) {
        // Use safe number handling
        const itemTotals = itemResults.reduce((acc, item) => ({
            totalPOQty: acc.totalPOQty + safeNumber(item.poQty),
            totalQty: acc.totalQty + safeNumber(item.qty),
            totalAmount: acc.totalAmount + safeNumber(item.amount),
            totalExpense: acc.totalExpense + safeNumber(item.expense),
            totalGst: acc.totalGst + safeNumber(item.gst),
            totalWHT: acc.totalWHT + safeNumber(item.wht)
        }), { totalPOQty: 0, totalQty: 0, totalAmount: 0, totalExpense: 0, totalGst: 0, totalWHT: 0 });

        const headerExpenseTotals = headerExpenseResults.reduce((acc, expense) => ({
            headerTotal: acc.headerTotal + safeNumber(expense.expenseValue),
            headerGst: acc.headerGst + safeNumber(expense.taxValue)
        }), { headerTotal: 0, headerGst: 0 });

        const totalGst = parseFloat((safeNumber(itemTotals.totalGst) + safeNumber(headerExpenseTotals.headerGst)).toFixed(2));
        const totalAmount = parseFloat(safeNumber(itemTotals.totalAmount).toFixed(2));
        const totalExpense = parseFloat(safeNumber(itemTotals.totalExpense).toFixed(2));
        const headerTotal = parseFloat(safeNumber(headerExpenseTotals.headerTotal).toFixed(2));
        const totalWHT = parseFloat(safeNumber(itemTotals.totalWHT).toFixed(2));

        $("#TotalPOQty").val(FormatNumber(parseFloat(itemTotals.totalPOQty).toFixed(2)));
        $("#TotalQty").val(FormatNumber(parseFloat(itemTotals.totalQty).toPrecision(15)));
        $("#TotalAmount").val(DecimalIndianRupees(totalAmount.toFixed(2)));
        $("#TotalExpenseValue").val(DecimalIndianRupees(totalExpense.toFixed(2)));
        $("#TotalGST").val(DecimalIndianRupees(totalGst.toFixed(2)));
        $("#TotalWHT").val(DecimalIndianRupees(totalWHT.toFixed(2)));

        const invoiceAmount = parseFloat((totalAmount + totalExpense + headerTotal + totalGst).toFixed(2));
        const total = parseFloat((invoiceAmount + totalWHT).toFixed(2));
        const roundedValue = customRound(total);
        const rounded = parseFloat((roundedValue - total).toFixed(2));

        $("#PIH_MaterialCost").val(DecimalIndianRupees(totalAmount.toFixed(2)));
        $("#PIH_ItemMiscExpense").val(DecimalIndianRupees(totalExpense.toFixed(2)));
        $("#PIH_HeaderMiscExpense").val(DecimalIndianRupees(headerTotal.toFixed(2)));
        $("#PIH_GST_Amount").val(DecimalIndianRupees(totalGst.toFixed(2)));
        $("#PIH_InvoiceAmount").val(DecimalIndianRupees(invoiceAmount.toFixed(2)));
        $("#PIH_WHT_Amount").val(DecimalIndianRupees(totalWHT.toFixed(2)));
        $("#PIH_RoundOff").val(rounded.toFixed(2));
        $("#PIH_VendorPayable").val(DecimalIndianRupees(roundedValue.toFixed(2)));
    }

    // Main entry point - call this instead of all individual functions
    async function CalculateAllExpenses() {
        try {
            await CalculateAll();
        } catch (error) {
            console.error("Error in calculation:", error);
        }
    }
</script>