@model List<ERP_DTO.PurchaseInvoiceExpense_DTO>

<div class="w-100 table-responsive">
    <table class="table table-bordered table-hover align-middle table-grid mb-0">
        <thead>
            <tr class="table-info">
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_Expense_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_Description)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_Remarks)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_Occurrence_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_CM_Number)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().PIH_EXP_ExpenseBase)</th>
                <th class="table-width-3xl text-end">@Html.DisplayNameFor(M => M.First().PIH_EXP_ExpenseValue)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_Allocate_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_LA_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().PIH_EXP_TaxCalculate)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().PIH_EXP_TaxValue)</th>
                <th></th>
                <th class="action text-center">Action</th>
            </tr>
        </thead>
        <tbody id="ExTableBody">
            <tr id="ExTempRow" style="display: none;">
                <td>
                    <select id="PIH_EXP_Expense_Number" class="form-select PIH_EXP_Expense_Number" asp-items="@ViewBag.ExpenseCode"></select>
                </td>
                <td>
                    <input id="PIH_EXP_Description" class="form-control PIH_EXP_Description" readonly autocomplete="off" />
                </td>
                <td>
                    <input id="PIH_EXP_Remarks" class="form-control PIH_EXP_Remarks" autocomplete="off" />
                </td>
                <td>
                    <select id="PIH_EXP_Occurrence_Number" class="form-select PIH_EXP_Occurrence_Number" asp-items="@ViewBag.Occurrence"></select>
                </td>
                <td>
                    <select id="PIH_EXP_CM_Number" class="form-select PIH_EXP_CM_Number" asp-items="@ViewBag.ChargeableMethod"></select>
                </td>
                <td class="table-width-xl">
                    <input id="PIH_EXP_ExpenseBase" class="form-control PIH_EXP_ExpenseBase decimal text-end" autocomplete="off" />
                </td>
                <td class="table-width-3xl">
                    <input id="PIH_EXP_ExpenseValue" class="form-control PIH_EXP_ExpenseValue decimal text-end" readonly autocomplete="off" />
                </td>
                <td>
                    <select id="PIH_EXP_Allocate_Number" class="form-select PIH_EXP_Allocate_Number" asp-items="@ViewBag.Allocate"></select>
                </td>
                <td>
                    <select id="PIH_EXP_LA_Number" class="form-select PIH_EXP_LA_Number" asp-items="@ViewBag.LedgerAccount"></select>
                </td>
                <td>
                    <select id="PIH_EXP_TaxCalculate" class="form-select PIH_EXP_TaxCalculate" asp-items="@ViewBag.IsCalculate"></select>
                </td>
                <td class="table-width-xl">
                    <input id="PIH_EXP_TaxValue" class="form-control PIH_EXP_TaxValue decimal text-end" readonly autocomplete="off" />
                    <input id="PIH_EXP_SAC_Number" class="form-control PIH_EXP_SAC_Number" autocomplete="off" type="hidden" />
                </td>
                <td><a id="HeaderTaxView" class="btn btn-primary btn-sm TaxView">Tax View</a></td>
                <td class="action text-center">
                    <input id="PIH_EXP_IsDeleted" type="hidden" name="PIH_EXP_IsDeleted" class="PIH_EXP_IsDeleted" value="false" />
                    <a class="ExRowRemove text-danger p-0 icon-link shadow-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>

            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="ExNewRow" style="@(@Model[i].PIH_EXP_IsDeleted == "true" ? "display: none;" : "")">
                        <td>
                            <select id="PIH_EXP_Expense_Number" name="Expenses[@i].PIH_EXP_Expense_Number" class="form-select PIH_EXP_Expense_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ExpenseCode)
                                {
                                    if (item.Value == Model[i].PIH_EXP_Expense_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="PIH_EXP_Description" name="Expenses[@i].PIH_EXP_Description" readonly class="form-control PIH_EXP_Description" autocomplete="off" value="@Model[i].PIH_EXP_Description" />
                        </td>
                        <td>
                            <input id="PIH_EXP_Remarks" name="Expenses[@i].PIH_EXP_Remarks" class="form-control PIH_EXP_Remarks" autocomplete="off" value="@Model[i].PIH_EXP_Remarks" />
                        </td>
                        <td>
                            <select id="PIH_EXP_Occurrence_Number" name="Expenses[@i].PIH_EXP_Occurrence_Number" class="form-select PIH_EXP_Occurrence_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Occurrence)
                                {
                                    if (item.Value == Model[i].PIH_EXP_Occurrence_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="PIH_EXP_CM_Number" name="Expenses[@i].PIH_EXP_CM_Number" class="form-select PIH_EXP_CM_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ChargeableMethod)
                                {
                                    if (item.Value == Model[i].PIH_EXP_CM_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="table-width-xl">
                            <input id="PIH_EXP_ExpenseBase" name="Expenses[@i].PIH_EXP_ExpenseBase" class="form-control PIH_EXP_ExpenseBase decimal text-end" autocomplete="off" value="@Model[i].PIH_EXP_ExpenseBase" />
                        </td>
                        <td class="table-width-3xl">
                            <input id="PIH_EXP_ExpenseValue" name="Expenses[@i].PIH_EXP_ExpenseValue" class="form-control PIH_EXP_ExpenseValue decimal text-end" readonly autocomplete="off" value="@Model[i].PIH_EXP_ExpenseValue" />
                        </td>
                        <td>
                            <select id="PIH_EXP_Allocate_Number" name="Expenses[@i].PIH_EXP_Allocate_Number" class="form-select PIH_EXP_Allocate_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Allocate)
                                {
                                    if (item.Value == Model[i].PIH_EXP_Allocate_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="PIH_EXP_LA_Number" name="Expenses[@i].PIH_EXP_LA_Number" disabled class="form-select PIH_EXP_LA_Number">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.LedgerAccount)
                                {
                                    if (item.Value == Model[i].PIH_EXP_LA_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }


                            </select>
                        </td>
                        <td>
                            <select id="PIH_EXP_TaxCalculate" name="Expenses[@i].PIH_EXP_TaxCalculate" class="form-select PIH_EXP_TaxCalculate">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.IsCalculate)
                                {
                                    if (item.Value == Model[i].PIH_EXP_TaxCalculate)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="table-width-xl">
                            <input id="PIH_EXP_TaxValue" name="Expenses[@i].PIH_EXP_TaxValue" class="form-control PIH_EXP_TaxValue decimal text-end" autocomplete="off" readonly value="@Model[i].PIH_EXP_TaxValue" />
                            <input id="PIH_EXP_SAC_Number" name="Expenses[@i].PIH_EXP_SAC_Number" class="form-control PIH_EXP_SAC_Number" type="hidden" autocomplete="off" readonly value="@Model[i].PIH_EXP_SAC_Number" />
                        </td>
                        <td><a id="HeaderTaxView" class="btn btn-primary btn-sm TaxView">Tax View</a></td>
                        <td class="action text-center">
                            <input type="hidden" id="PIH_EXP_IsDeleted" name="Expenses[@i].PIH_EXP_IsDeleted" class="PIH_EXP_IsDeleted" value="@Model[i].PIH_EXP_IsDeleted" />
                            @if (@Model[i].PIH_EXP_Number != 0)
                            {
                                <input name="Expenses[@i].PIH_EXP_Number" type="hidden" class="Number" value="@Model[i].PIH_EXP_Number" />
                            }
                            <a class="ExRowRemovebtn text-danger p-0 icon-link shadow-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="6" class="text-end py-2">Total</td>
                <td>
                    <input id="TotalExpenseAmount" class="form-control table-width-3xl text-end" readonly />
                </td>
                <td colspan="3">
                </td>
                <td class="table-width-xl text-end">
                    <input id="TotalTaxAmount" class="form-control table-width-xl text-end" readonly />
                </td>
                <td colspan="2">
                </td>
            </tr>
        </tfoot>
    </table>
</div>
@* <a id="ExAddRowButton" class="btn btn-primary ExAddRowButton">Add Row</a> *@
<script>
    $(document).ready(function () {
            var hrowCount = @(Model != null ? Model.Count : 0);
            var ishAddingRow = false;

            function ExAddRow() {
                var ExNewRow = $("#ExTempRow").clone().removeAttr("style").removeAttr("id").addClass("ExNewRow");
                ExNewRow.find("select.PIH_EXP_Expense_Number").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_Expense_Number");
                ExNewRow.find("input.PIH_EXP_Description").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_Description");
                ExNewRow.find("input.PIH_PIH_EXP_Remarks").attr("name", "Expenses[" + hrowCount + "].PIH_PIH_EXP_Remarks");
                ExNewRow.find("select.PIH_EXP_Occurrence_Number").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_Occurrence_Number");
                ExNewRow.find("select.PIH_EXP_CM_Number").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_CM_Number");
                ExNewRow.find("input.PIH_EXP_ExpenseBase").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_ExpenseBase");
                ExNewRow.find("input.PIH_EXP_ExpenseValue").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_ExpenseValue");
                ExNewRow.find("select.PIH_EXP_Allocate_Number").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_Allocate_Number");
                ExNewRow.find("select.PIH_EXP_LA_Number").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_LA_Number");
                ExNewRow.find("select.PIH_EXP_TaxCalculate").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_TaxCalculate").val("2");
                ExNewRow.find("input.PIH_EXP_TaxValue").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_TaxValue");
                ExNewRow.find("input.PIH_EXP_SAC_Number").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_SAC_Number");
                ExNewRow.find("input.PIH_EXP_IsDeleted").attr("name", "Expenses[" + hrowCount + "].PIH_EXP_IsDeleted").val("false");

                $("#ExTableBody").append(ExNewRow);
                hrowCount++;
                ExNewRow.data("isValid", false);
                ishAddingRow = false;
            }

            document.getElementById('MiscExpenseModal').addEventListener('click', AddNewRowClick);
            function AddNewRowClick() {
                var count = $("tr.ExNewRow").filter(function () {
                    return $(this).find("input.PIH_EXP_IsDeleted").val() !== "true";
                }).length;

                if (count == 0) {
                    ExAddRow();
                }
            }

            if ($("tr.ExNewRow").length == 0) {
                ExAddRow();
            }

            var count = $("tr.ExNewRow").filter(function () {
                return $(this).find("input.PIH_EXP_IsDeleted").val() !== "true";
            }).length;

            if (count == 0) {
                ExAddRow();
            }

            $(document).on('click', '.HeaderExpense', function () {
                $("tr.ExNewRow").each(function () {
                    var EXP_IsDeleted = $(this).find("input.PIH_EXP_IsDeleted").val() === "true";
                    if (!EXP_IsDeleted) {
                    }
                    else {
                        $(this).closest('tr').find("input.PIH_EXP_IsDeleted").val("true");
                        $(this).closest('tr').hide();
                    }
                });

                new bootstrap.Modal($("#Expense")).show();
                $('#Expense').on('shown.bs.modal', function () {
                    $(this).find('[autofocus]').focus();
                });
            });

            $(document).on('click', '.ExRowRemove', function () {
                $(this).closest('tr').find("input.PIH_EXP_IsDeleted").val("true");
                $(this).closest('tr').hide();
            });

            $(document).on('keydown', "tr.ExNewRow select, tr.ExNewRow input.PIH_EXP_ExpenseBase, tr.ExNewRow input[type='text']", function (event) {
                if (event.keyCode === 9) {
                    if (!ExValidateField($(this)))
                        event.preventDefault();
                }
            });

            $(document).on("change", "tr.ExNewRow select, tr.ExNewRow input.PIH_EXP_ExpenseBase, input[type='text']", function () {
                if (ishAddingRow)
                    return;
                ishAddingRow = true;

                var currentInput = $(this);
                var isValid = ExValidateField(currentInput);
                var currentRow = $(this).closest("tr.ExNewRow");
                if (isValid) {
                    if (ExCheckAllFieldsValid(currentRow)) {
                        currentRow.data("isValid", true);
                    }
                    else {
                        currentRow.data("isValid", false);
                    }
                }
                else {
                    currentRow.data("isValid", false);
                }
                if (currentRow.data("isValid")) {
                    var lastRow = $("tr.ExNewRow").last();
                    if (ExCheckAllFieldsValid(lastRow))
                        ExAddRow();
                }
                else {
                    ishAddingRow = false;
                }
            });

            function ExCheckAllFieldsValid(currentRow) {
                var allFieldsValid = true;
                $("tr.ExNewRow:visible").each(function () {
                    $(this).find("select, input.PIH_EXP_ExpenseBase, input[type='text']").each(function () {
                        if (!ExValidateField($(this))) {
                            allFieldsValid = false;
                            return false;
                        }
                    });
                    if (!allFieldsValid) return false;
                });
                return allFieldsValid;
            }

            function ExValidateField(currentInput) {
                var valid = 1;
                var inputValue = currentInput.val();
                if (inputValue === "") {
                    valid = 0;
                }
                if (currentInput.hasClass(".PIH_EXP_ExpenseBase")) {
                    valid = ExValidateAmount(currentInput);
                }
                if (valid == 0) {
                    return false;
                }
                else {
                    return true;
                }
            }

            function ExValidateAmount(currentInput) {
                var valid = 1;

                var currentRow = currentInput.closest("tr.ExNewRow");
                var PercentInput = currentRow.find("input.PIH_EXP_ExpenseBase");
                var Percent = removeCommas(PercentInput.val());
                if (Percent > 0) {
                }
                else {
                    valid = 0;
                }
                return valid;
            }

        $("#ExOkayButton").click(function () {
            CloseValid();
        });

        $("#ExCloseButton").click(function () {
            CloseValid();
        });

        function CloseValid() {
                $("tr.ExNewRow").each(function () {
                    var ExpenseCode = $(this).find("select.PIH_EXP_Expense_Number").val();
                    var Occurrence = $(this).find("select.PIH_EXP_Occurrence_Number").val();
                    var ChargeableMethod = $(this).find("select.PIH_EXP_CM_Number").val();
                    var ExpenseBase = removeCommas($(this).find("input.PIH_EXP_ExpenseBase").val());
                    var Allocate = $(this).find("select.PIH_EXP_Allocate_Number").val();
                    var LedgerAccount = $(this).find("select.PIH_EXP_LA_Number").val();

                    if (!ExpenseCode && !Occurrence && !ChargeableMethod && !Allocate && !LedgerAccount && !(ExpenseBase > 0)) {
                        $(this).closest('tr').find("input.PIH_EXP_IsDeleted").val("true");
                        $(this).closest('tr').hide();
                    }
                });

                var lastRow = $("tr.ExNewRow").last();
                if (ExCheckAllFieldsValid(lastRow)) {
                    $("#Expense").modal('hide');

                    CalAmount();
                }
                else {
                    alert("Please complete all fields !");
                }

            }
       


            $(document).on('change', "tr.ExNewRow select.PIH_EXP_Expense_Number", function () {
                var selectedValue = $(this).val();
                var Description = $(this).closest("tr.ExNewRow").find(".PIH_EXP_Description");
                var Ledger = $(this).closest("tr.ExNewRow").find(".PIH_EXP_LA_Number");
                var SACNumber = $(this).closest("tr.ExNewRow").find(".PIH_EXP_SAC_Number");
                var Allocate = $(this).closest("tr.ExNewRow").find(".PIH_EXP_Allocate_Number");
                $.ajax({
                    type: "get",
                    url: "expense/des",
                    data: { Title: selectedValue },
                    datatype: "json",
                    traditional: true,
                    success: function (Expense) {
                        Description.val(Expense.piH_EXP_Description);
                        Ledger.val(Expense.piH_EXP_LA_Number);
                        SACNumber.val(Expense.piH_EXP_SAC_Number);
                        if (Allocate.val() === "") {
                            Allocate.val(1);
                        }
                    }
                });
                var $row = $(this).closest("tr.ExNewRow");
                (async () => {
                    await ExAssignValue($row);
                })();
            });

            $(document).on('change', "tr.ExNewRow select.PIH_EXP_TaxCalculate", function () {
                var $row = $(this).closest("tr.ExNewRow");
                (async () => {
                    await ExAssignValue($row);
                })();
            });  

       

        $(document).on('input', "input.PIH_EXP_ExpenseBase", function (event) {
            ExAssignValue($(this));
            ExpenseCalculateFooter();
        });

        $(document).on('change', "tr.ExNewRow select.PIH_EXP_CM_Number", function () {
            ExAssignValue($(this));
            ExpenseCalculateFooter();
        });


            $(document).on('click', '.ExAddRowButton', function () {
                var lastRow = $("tr.ExNewRow").last();
                if (ExCheckAllFieldsValid(lastRow)) {
                    ExAddRow();
                }
                else {
                    var firstInvalidField = null;
                    lastRow.find("select, input.PIH_EXP_ExpenseBase, input[type='text']").each(function () {
                        if (!ExValidateField($(this))) {
                            if (firstInvalidField == null)
                                firstInvalidField = $(this);
                            return false;
                        }
                    });
                    if (firstInvalidField != null) {
                        alert("Please complete all fields !");
                        firstInvalidField.focus();
                    }
                }
            });

            $(document).on('input', "input.PIH_EXP_ExpenseBase", function (event) {
                var $row = $(this).closest("tr.ExNewRow");
                (async () => {
                    await ExAssignValue($row);
                })();
            });

            $(document).on('change', "tr.ExNewRow select.PIH_EXP_CM_Number", function () {
                var $row = $(this).closest("tr.ExNewRow");
                (async () => {
                    await ExAssignValue($row);
                })();
            });

            $(document).on('click', '.TaxView', function () {
                var Cluster = $("#PIH_TaxCluster_Number").val();
                var GRNDate = $("#PIH_InvoiceDate").val();

                var currentRow = $(this).closest('tr.ExNewRow');
                var isGst = currentRow.find("select.PIH_EXP_TaxCalculate").val();
                if (isGst === "2") {
                    var SACNumber = currentRow.find("input.PIH_EXP_SAC_Number").val();
                    var ExpenseValue = currentRow.find("input.PIH_EXP_ExpenseValue").val();

                    $.ajax({
                        type: "get",
                        url: "expense/gst/view",
                        data: { Cluster: Cluster, GRNDate: GRNDate, SAC: SACNumber, BaseAmount: ExpenseValue },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            const Table = document.getElementById('TaxTableView');
                            Table.innerHTML = "";

                            if (Table) {
                                const TaxView = ClusterTaxView(data);
                                Table.appendChild(TaxView);
                            }

                            new bootstrap.Modal($("#TaxView")).show();
                            $('#TaxView').on('shown.bs.modal', function () {
                                $(this).find('[autofocus]').focus();
                            });
                        }
                    });
                }
            });
             window.onload = ExpenseCalculateFooter();

            });

             async function ExpenseCalculateFooter() {

                var TotalExpAmount = 0;
                var TotalTaxValAmount = 0;
                $("tr.ExNewRow").each(function () {
                        var ExpenseAmount = $(this).find(".PIH_EXP_ExpenseValue").val();
                        var  TaxAmount= $(this).find(".PIH_EXP_TaxValue").val();

                        TotalExpAmount += parseFloat(removeCommas(ExpenseAmount));
                        TotalTaxValAmount += parseFloat(removeCommas(TaxAmount));
                });

                $("#TotalExpenseAmount").val(DecimalIndianRupees(TotalExpAmount.toFixed(2)));
                $("#TotalTaxAmount").val(DecimalIndianRupees(TotalTaxValAmount.toFixed(2)));
            }

        async function ExAssignValue($row) {
            let ExpenseValue = 0;

            var Charge = $row.find("select.PIH_EXP_CM_Number").val();
            var isGst = $row.find("select.PIH_EXP_TaxCalculate").val();
            var ItemQty = parseFloat(removeCommas($("#TotalQty").val())) || 0;
            var ItemAmount = parseFloat(removeCommas($("#TotalAmount").val())) || 0;
            var ExpenseBase = parseFloat(removeCommas($row.find("input.PIH_EXP_ExpenseBase").val())) || 0;

            if (Charge === "1") {
                ExpenseValue = ExpenseBase;
            }
            else if (Charge === "2") {
                ExpenseValue = ItemQty * ExpenseBase;
            }
            else if (Charge === "3") {
                ExpenseValue = ItemAmount * ExpenseBase / 100;
            }
            $row.find("input.PIH_EXP_ExpenseValue").val(DecimalIndianRupees(ExpenseValue));

            var Cluster = $("#PIH_TaxCluster_Number").val() || $("#PIH_TaxClusterNumber").val();
            var GRNDate = $("#PIH_InvoiceDate").val();
            var SACNumber = $row.find("input.PIH_EXP_SAC_Number").val();

            if (isGst === "2") {
                const GstAmount = await GetClusterExpenseAmount(Cluster, GRNDate, SACNumber, ExpenseValue);
                $row.find("input.PIH_EXP_TaxValue").val(DecimalIndianRupees(GstAmount));
            }
            else {
                $row.find("input.PIH_EXP_TaxValue").val(DecimalIndianRupees(0));
            }
        }
        async function GetClusterExpenseAmount(Cluster, GRNDate, SACNumber, BaseAmount) {
            const Amount = await $.ajax({
                url: 'expense/gst',
                data: { Cluster: Cluster, GRNDate: GRNDate, SAC: SACNumber, BaseAmount: BaseAmount },
                type: 'GET'
            });
            return Amount;
        }

</script>
<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height: 300px;
    }
</style>