@model ERP_DTO.PurchaseInvoiceHead_DTO
@{
    ViewData["Title"] = "Purchase Invoice Create";
}
<script>
     function removeCommas(value) {
        return (value || '').toString().replace(/,/g, '');
    }

    function DecimalIndianRupees(value) {
        if (value === "" || isNaN(value)) {
            return "0.00";
        }

        var formattedValue = parseFloat(value).toFixed(2);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }
    function NumberToIndianRupees(value, decimalPlaces) {
        if (value === "" || isNaN(value)) return "0";

        var formattedValue = parseFloat(value).toFixed(decimalPlaces);
        var parts = formattedValue.split(".");
        if (parts.length > 1) {
            parts[1] = parts[1].replace(/0+$/, "");
            if (parts[1].length === 0) parts.pop();
        }

        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");

        return parts.join(".");
    }
</script>

<form asp-action="PurchaseInvoiceCreate" class="h-100">

    <input id="PII_EXP_ItemNumber" type="hidden" />
    <input id="PII_EXP_ItemIndex" type="hidden" />
    <input id="PII_EXP_Qty" type="hidden" />
    <input id="PII_EXP_MatrialValue" type="hidden" />


    <input id="PII_BATCH_ItemNumber" type="hidden" />
    <input id="PII_BATCH_ItemIndex" type="hidden" />
    <input id="PII_BATCH_Qty" type="hidden" />
    <input id="PII_BATCH_Unit_Price" type="hidden" />

    <div class="modal modal-lg modal-xl fade" id="Expense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border">
                <div class="modal-header">
                    <p class="modal-title">Header Misc.Expense</p>
                    <button type="button" class="btn-close" id="ExCloseButton" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="p-2 text-black h-100">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active border border-top-0 h-100 p-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <partial name="PurchaseInvoiceExpenseView.cshtml" model="@Model.Expenses" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <a id="ExAddRowButton" class="btn btn-primary ExAddRowButton">Add Row</a>
                    <button type="button" id="ExOkayButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-lg modal-xl fade" id="IExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border">
                <div class="modal-header">
                    <p class="modal-title">Item Misc.Expense</p>
                    <button type="button" id="IExCloseButton" class="btn-close"  aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="p-2 text-black h-100">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active border border-top-0 h-100 p-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <partial name="PurchaseInvoiceIExpenseView.cshtml" model="@Model.ItemExpenses" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <a id="IExNewRowButton" class="btn btn-primary">Add Row</a>
                    <button type="button" id="IExOkayButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="GSTView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border">
                <div class="modal-header">
                    <p class="modal-title">GST</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="p-2 text-black h-100">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active border border-top-0 h-100 p-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <div id="GSTTableView" class="w-100 table-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="TaxView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border">
                <div class="modal-header">
                    <p class="modal-title">Header Tax View</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="p-2 text-black h-100">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active border border-top-0 h-100 p-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <div id="TaxTableView" class="w-100 table-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal modal-lg fade" id="IBatch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border">
                <div class="modal-header">
                    <p class="modal-title w-100">
                        Batch <span class="float-end">
                            Item Qty : <span id="PII_BATCHQty"></span>
                            <button type="button" id="ExCloseButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </span>
                    </p>
                </div>
                <div class="modal-body p-0">
                    <div class="p-2 text-black h-100">
                        <ul class="nav nav-tabs tab-header" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content tab-body">
                            <div class="tab-pane fade show active border border-top-0 h-100 p-2" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                                <partial name="PurchaseInvoiceBatchView.cshtml" model="@Model.ItemBatch" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <a id="IBatNewRowButton" class="btn btn-primary">Add Row</a>
                    <button type="button" id="IBatCloseButton" class="btn btn-primary px-4" ref="always_focus" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center panel-header gx-2">
        <div class="col h-100">
            <div class="h6 fw-light text-white h-100 align-content-center bg-secondary px-2">
                Purchase Invoice
                <a asp-controller="Procurement" asp-action="Index" class="float-end btn  p-0 shadow-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="row panel-body gx-2">
        <div class="col-12 panel-card-fixed">
            <div class="w-100 rounded-0 h-100 border border-primary bg-transparent" id="BodyHeight">
                <div class="card rounded-0 bg-transparent shadow-none" id="BodyCardHeader">
                    <div class="card-body pt-2 pb-0">
                        <div class="row ps-2">
                            <partial name="PurchaseInvoiceHeadView.cshtml" model="@Model" />
                        </div>
                    </div>
                </div>

                <div class="card rounded-0 bg-transparent shadow-none" id="BodyCardBody">
                    <div class="card-body h-100">
                        <div class="row h-100">
                            <div class="col-auto left-menu h-100 nav-tab-fix">
                                <ul class="nav nav-tabs tab-header">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page">Item</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark">Other</a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-body tab-body-h-o">
                                    <div class="tab-pane fade show active p-2 pb-0 border border-top-0 h-100" tabindex="0">
                                        <div class="row h-100">
                                            <partial name="PurchaseInvoiceItemView.cshtml" model="@Model.InvoiceItems" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto right-menu text-center border-start">
                                <a class="ItemExpense btn btn-sm btn-primary px-2 mb-2 w-100 OneItemMode" disabled>
                                    Item Misc.Expense
                                </a>
                                <a class="GSTView btn btn-sm btn-primary px-2 mb-2 w-100 OneItemMode" disabled>
                                    GST
                                </a>
                                <a class="ItemBatch btn btn-sm btn-primary px-2 mb-2 w-100 OneItemMode" disabled>
                                    Batch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class="card rounded-0 bg-transparent shadow-none" id="BodyCardFooter">
                        <div class="card-body text-black pt-0">
                            <div class="row ps-2">
                                <div class="col-auto left-menu">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_MaterialCost" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_MaterialCost" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_ItemMiscExpense" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_ItemMiscExpense" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_HeaderMiscExpense" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_HeaderMiscExpense" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_GST_Amount" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_GST_Amount" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_InvoiceAmount" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_InvoiceAmount" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_WHT_Amount" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_WHT_Amount" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_RoundOff" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_RoundOff" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="row align-items-center px-2 mb-1">
                                                <label asp-for="PIH_VendorPayable" class="col-7 col-xl-6 col-xxl-5 ps-0"></label>
                                                <div class="col-5 col-xl-5 col-xxl-4">
                                                    <input asp-for="PIH_VendorPayable" class="form-control Key decimal text-end" readonly autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto right-menu text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>

</form>
<script src="~/js/site.js"></script>

<script>
    $('.navbar-nav > .nav-item.procurement > a').addClass("active");
</script>

<script>

    $('form').submit(function (event) {
        $("tr.ExNewRow").each(function () {
            var ExpenseCode = $(this).find("select.PIH_EXP_Expense_Number").val();
            var Occurrence = $(this).find("select.PIH_EXP_Occurrence_Number").val();
            var ChargeableMethod = $(this).find("select.PIH_EXP_CM_Number").val();
            var ExpenseBase = removeCommas($(this).find("input.PIH_EXP_ExpenseBase").val());
            var Allocate = $(this).find("select.PIH_EXP_Allocate_Number").val();
            var LedgerAccount = $(this).find("select.PIH_EXP_LA_Number").val();

            if (!ExpenseCode && !Occurrence && !ChargeableMethod && !Allocate && !LedgerAccount && !(ExpenseBase > 0)) {
                $(this).find("input.PIH_EXP_IsDeleted").val("true");
                $(this).hide();
            }
        });

        $("tr.IExNewRow").each(function () {
            var ExpenseCode = $(this).find("select.PII_EXP_Expense_Number").val();
            var Occurrence = $(this).find("select.PII_EXP_Occurrence_Number").val();
            var ChargeableMethod = $(this).find("select.PII_EXP_CM_Number").val();
            var ExpenseBase = removeCommas($(this).find("input.PII_EXP_ExpenseBase").val());
            var Allocate = $(this).find("select.PII_EXP_Allocate_Number").val();
            var LedgerAccount = $(this).find("select.PII_EXP_LA_Number").val();

            if (!ExpenseCode && !Occurrence && !ChargeableMethod && !Allocate && !LedgerAccount && !(ExpenseBase > 0)) {
                $(this).find("input.PII_EXP_IsDeleted").val("true");
                $(this).hide();
            }
        });
              $("#IExNewRowButton").click(function () {
            var lastRow = $("tr.IExNewRow").last();
            if (IExCheckAllFieldsValid(lastRow)) {
                IExNewRow();
            }
            else {
                var firstInvalidField = null;
                lastRow.find("select, input.PII_EXP_ExpenseBase, input[type='text']").each(function () {
                    if (!IExValidateField($(this))) {
                        if (firstInvalidField == null)
                            firstInvalidField = $(this);
                        return false;
                    }
                });
                if (firstInvalidField != null) {
                    alert("Please complete all fields !");
                    firstInvalidField.focus();
                }
            }
        });

         $("#IBatNewRowButton").click(function () {
            var lastRow = $("tr.IBatNewRow").last();
            if (IBatCheckAllFieldsValid(lastRow)) {
                IBatNewRow();
            }
            else {
                var firstInvalidField = null;
                lastRow.find("select, input.PII_BCH_Qty, input[type='text']").each(function () {
                    if (!IBatValidateField($(this))) {
                        if (firstInvalidField == null)
                            firstInvalidField = $(this);
                        return false;
                    }
                });
                if (firstInvalidField != null) {
                    alert("Please complete all fields !");
                    firstInvalidField.focus();
                }
            }
            BatchCalculateFooter();
        });







        $("tr.NewRow").each(function () {
            var ItemNumber = $(this).find("input.PII_Item_Number").val();
            var Qty = removeCommas($(this).find("input.PII_Qty").val());
            var UnitPrice = removeCommas($(this).find("input.PII_UnitPrice").val());
            var UoMNumber = $(this).find("select.PII_UoM_Number").val();

            if (!ItemNumber && !UoMNumber && !(Qty > 0) && !(UnitPrice > 0)) {
                $(this).find("input.IsDeleted").val("true");
                $(this).hide();
            }
        });
        $(document).on('click', '.ExAddRowButton', function () {
            var lastRow = $("tr.ExNewRow").last();
            if (ExCheckAllFieldsValid(lastRow)) {
                ExAddRow();
            }
            else {
                var firstInvalidField = null;
                lastRow.find("select, input.PIH_EXP_ExpenseBase, input[type='text']").each(function () {
                    if (!ExValidateField($(this))) {
                        if (firstInvalidField == null)
                            firstInvalidField = $(this);
                        return false;
                    }
                });
                if (firstInvalidField != null) {
                    alert("Please complete all fields !");
                    firstInvalidField.focus();
                }
            }
        });
    });

    function NumberToIndianRupees(value, decimalPlaces) {
        if (value === "" || isNaN(value)) {
            return "0";
        }

        var formattedValue = parseFloat(value).toFixed(decimalPlaces);

        var parts = formattedValue.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");

        if (parseFloat(value) % 1 === 0) {
            return parts[0];
        }
        return parts.join(".");
    }
    $(".QtyNumbers").each(function () {
        var value = $(this).val();
        var decimalPlaces = $(this).closest('tr').find("input.PII_DecimalPlaces").val();
        if (decimalPlaces === "" || isNaN(value)) {
            decimalPlaces = 2;
        }
        $(this).val(NumberToIndianRupees(value, decimalPlaces));
    });
    $(document).on("blur", ".QtyNumbers", function () {
        var value = $(this).val();
        var decimalPlaces = $(this).closest('tr').find("input.PII_DecimalPlaces").val();

        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0");
        } else {
            $(this).val(NumberToIndianRupees(value, decimalPlaces));
        }
    });
    $(document).on("focus", ".QtyNumbers", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });

    $(".UnitDecimal").each(function () {
        var ValueResult = "0";
        var value = $(this).val();
        var decimalPlaces = $("#PIH_DecimalPlaces").val();
        if (decimalPlaces === "" || isNaN(value)) {
            decimalPlaces = 2;
        }
        ValueResult = formatToIndianRupees(removeCommas(value), decimalPlaces);
        $(this).val(ValueResult);
    });
    $(document).on("blur", ".UnitDecimal", function () {
        var ValueResult = "0";
        var value = $(this).val();

        var decimalPlaces = $("#PIH_DecimalPlaces").val();

        if (decimalPlaces === "" || isNaN(value)) {
            decimalPlaces = 2;
        }

        if (value.trim() === "" || isNaN(value)) {
        } else {
            ValueResult = formatToIndianRupees(value, decimalPlaces);
            $(this).val(ValueResult);
        }
    });
    $(document).on("focus", ".UnitDecimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });
    function formatToIndianRupees(value, UnitDecimalPlaces) {
        var ValueResult = "0";
        if (value === "" || isNaN(value)) {
        }
        else {
            ValueResult = value;
        }

        var fromat = parseFloat(ValueResult).toFixed(UnitDecimalPlaces);

        var parts = fromat.split(".");
        parts[0] = parts[0].replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
        return parts.join(".");
    }

    function OnVendorInput(inputElement) {
        SearchVendor(inputElement);
    }
    function OnVendorFocus(inputElement) {
        var tax = inputElement.value;
        if (!tax) {
            SearchVendor(inputElement);
        }
        else {
            $(this).select();
        }
    }
    async function SearchVendor(inputElement) {
        var vendor = inputElement.value;
        var GRNDate = $("#PIH_InvoiceDate").val();
        var resultsDiv = $(inputElement).next('.vendor-search-results');
        var isChecked = $("#PIH_ImportOrder").prop("checked");
        var Import;

        if (isChecked) {
            Import = true;
        } else {
            Import = false;
        }

        $.ajax({
            url: 'vendor',
            data: { Vendor: vendor, GRNDate: GRNDate, Import: Import },
            type: 'GET',
            success: function (data) {
                resultsDiv.empty();
                if (data && data.length > 0) {
                    resultsDiv.show();
                    var table = $('<div class="card-body modal-content p-0"><table class="table table-bordered table-grid mb-0  table-hover"><thead><tr class="table-info"><th>Vendor Code</th><th>Vendor Name</th><th class="table-width-lg text-center">Currency</th></tr></thead><tbody></tbody></table></div>');
                    data.forEach(function (ven) {
                        var row = $('<tr></tr>');
                        row.append('<td>' + ven.vendorCode + '</td>');
                        row.append('<td>' + ven.vendorName + '</td>');
                        row.append('<td class="table-width-lg text-center">' + ven.currencyCode + '</td>');
                        table.find('tbody').append(row);

                        row.on('click', function () {
                            $(inputElement).val(ven.vendorName);
                            $("#PIH_Vendor_Number").val(ven.vendorNumber);
                            $("#PIH_Currency").val(ven.currencyCode);
                            $("#PIH_Currency_Number").val(ven.currency);
                            $("#PIH_VendorLocation").val(ven.vendorLocation);
                            $("#PIH_WHT_Number").val(ven.withholdTax);
                            $("#PIH_CreditDays").val(ven.creditDays);
                            $("#PIH_PaymentBase").val(ven.paymentBase);

                            resultsDiv.hide();

                            SearchClustor(ven.vendorNumber, ven.taxNumber);
                            GetWHT(ven.vendorNumber, ven.withholdTax, GRNDate);

                            if (ven.paymentBase === 2) {
                                var Date = $("#PIH_InvoiceDate").val();
                                var Credit = $("#PIH_CreditDays").val();

                                if (Date == '') { } else {
                                    var CurentDate = addDays(Date, Credit);
                                    $("#PIH_DueDate").val(CurentDate);
                                }
                            }
                            else if (ven.paymentBase === 3) {
                                var Date = $("#PIH_SupplierInvoiceDate").val();
                                var Credit = $("#PIH_CreditDays").val();
                                if (Date == '') { } else {
                                    var CurentDate = addDays(Date, Credit);
                                    $("#PIH_DueDate").val(CurentDate);
                                }
                            }
                            else {
                                $("#PIH_DueDate").val("");
                            }
                        });
                    });

                    var closeButton = $('<div class="card-header bg-primary py-1"><button type="button" class="p-0 float-end btn btn-sm btn-primary bg-opacity-10"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d = "M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"> </path></svg></button></div>');
                    closeButton.on('click', function () {
                        resultsDiv.hide();
                    });

                    resultsDiv.append(closeButton);
                    resultsDiv.append(table);
                } else {
                    resultsDiv.hide();
                    resultsDiv.append('<p>No results found</p>');
                }
            },
            error: function () {
                resultsDiv.text('Error loading data.');
                resultsDiv.show();
            }
        });
    }

    $(".decimal").each(function () {
        var value = $(this).val();
        $(this).val(DecimalIndianRupees(removeCommas(value)));
    });
    $(document).on("blur", ".decimal", function () {
        var value = $(this).val();
        if (value.trim() === "" || isNaN(value)) {
            $(this).val("0.00");
        } else {
            $(this).val(DecimalIndianRupees(removeCommas(value)));
        }
    });
    $(document).on("focus", ".decimal", function () {
        var value = $(this).val();
        $(this).val(removeCommas(value));
        $(this).select();
    });

    $(document).on('change', "#PIH_InvoiceDate", function () {
        var paymentBase = $("#PIH_PaymentBase").val();

        if (paymentBase === "2") {
            var InDate = $("#PIH_InvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (InDate == '') { } else {
                var CurentDate = addDays(InDate, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else if (paymentBase === "3") {
            var InDate = $("#PIH_SupplierInvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (InDate == '') { } else {
                var CurentDate = addDays(InDate, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else {
            $("#PIH_DueDate").val("");
        }

        var PIHDate = $("#PIH_InvoiceDate").val();
        const date = new Date(PIHDate);

        const Year = date.getFullYear();
        const Month = date.getMonth() + 1;
        const Day = date.getDate();

        const ForMonth = String(Month).padStart(2, '0');
        const ForDay = String(Day).padStart(2, '0');

        const ForDate = `${Year}${ForMonth}${ForDay}`;

        $.ajax({
            url: 'numbering',
            data: { PIDate: ForDate },
            type: 'GET',
            success: function (data) {
                if (data === "") {

                }
                else {
                    $('#PIH_InvoiceNo').val(data);
                }
            },
            error: function () {
            }
        });
       
        
        GetVendor();
    });
  
    
    $(document).on('change', "#PIH_SupplierInvoiceDate", function () {
        var paymentBase = $("#PIH_PaymentBase").val();

        if (paymentBase === "2") {
            var Date = $("#PIH_InvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (Date == '') { } else {
                var CurentDate = addDays(Date, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else if (paymentBase === "3") {
            var Date = $("#PIH_SupplierInvoiceDate").val();
            var Credit = $("#PIH_CreditDays").val();

            if (Date == '') { } else {
                var CurentDate = addDays(Date, Credit);
                $("#PIH_DueDate").val(CurentDate);
            }
        }
        else {
            $("#PIH_DueDate").val("");
        }
    });


    function OnClustorInput(inputElement) {
        SearchClustor(inputElement);
    }
    function OnClustorFocus(inputElement) {
        var tax = inputElement.value;
        if (!tax) {
            SearchClustor(inputElement);
        }
        else {
            $(this).select();
        }
    }
    function SearchClustor(Vendor, taxNumber) {
        if (Vendor) {
            $.ajax({
                url: 'cluster',
                data: { Vendor: Vendor },
                type: 'GET',
                success: function (data) {
                    if (data && data.length > 0) {
                        var dropdown = document.getElementById("PIH_TaxCluster_Number");
                        dropdown.innerHTML = "";

                        var option = document.createElement("option");
                        option.value = "";
                        option.text = "";
                        dropdown.appendChild(option);

                        data.forEach(function (item) {
                            var option = document.createElement("option");
                            option.value = item.taxClusterNumber;
                            option.text = item.taxCluster;
                            dropdown.appendChild(option);
                        });

                        if (taxNumber) {
                            $("#PIH_TaxCluster_Number").val(taxNumber);
                        }
                        else {
                            AssignGST();
                        }
                    }
                    console.log(data.length);
                },
                error: function () {
                    resultsDiv.text('Error loading data.');
                    resultsDiv.show();
                }
            });
        }
    }

    function addDays(date, days) {
        const dateAfterAddingDays = new Date(date);
        dateAfterAddingDays.setDate(dateAfterAddingDays.getDate() + parseInt(days));

        const day = dateAfterAddingDays.getDate().toString().padStart(2, '0');
        const year = dateAfterAddingDays.getFullYear();
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const monthAbbr = monthNames[dateAfterAddingDays.getMonth()];

        const result = `${day}-${monthAbbr}-${year}`;
        return result;
    }

    function ExchangeVisibility() {
        if ($('#PIH_ImportOrder').is(':checked')) {
            $('#ExchangeRate').show();
        } else {
            $('#ExchangeRate').hide();
        }
    }

    flatpickr(".datepicker", {
        dateFormat: "d-M-Y",
        altInput: false,
    });



     document.addEventListener("DOMContentLoaded", function () {
        const MainDiv = document.getElementById('BodyHeight');
        const HeadDiv = document.getElementById('BodyCardHeader');
        const BodyDiv = document.getElementById('BodyCardBody');
        const FooterDiv = document.getElementById('BodyCardFooter');

        if (HeadDiv && BodyDiv) {
            const MainHeight = MainDiv.offsetHeight;
            const HeadHeight = HeadDiv.offsetHeight;
            const FooterHeight = FooterDiv.offsetHeight;
            BodyDiv.style.height = (MainHeight - HeadHeight - FooterHeight) + 'px';
        } else {
        }
    });

    function AssignGST() {
        var TaxCluster = $("#PIH_TaxClusterNumber").val();
        $("#PIH_TaxCluster_Number").val(TaxCluster);
    }
    AssignGST();
</script>
