@model List<ERP_DTO.SOToSaleInvoiceIncome_DTO>

<div class="w-100 table-responsive">
    <table class="table table-bordered table-hover align-middle w-100 mb-0">
        <thead>
            <tr class="table-info">
                <th>Sale Order Number</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_MIC_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_MIC_Description)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_Remarks)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_OCRN_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_CM_Number)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().SIH_INC_IncomeBase)</th>
                <th class="table-width-3xl text-end">@Html.DisplayNameFor(M => M.First().SIH_INC_IncomeValue)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_ALCT_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_LA_Number)</th>
                <th>@Html.DisplayNameFor(M => M.First().SIH_INC_CalculateGST)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().SIH_INC_GST_Amount)</th>
                <th class="table-width-md text-end">@Html.DisplayNameFor(M => M.First().SIH_INC_WHT_Percent)</th>
                <th class="table-width-xl text-end">@Html.DisplayNameFor(M => M.First().SIH_INC_WHT_Amount)</th>
                <th></th>
                <th class="action text-center">Action</th>
            </tr>
        </thead>
        <tbody id="IncTableBody">
            <tr id="IncTempRow" style="display: none;">
                <td>
                    <input id="SIH_INC_SOH_OrderNo" class="form-control SIH_INC_SOH_OrderNo" readonly />
                </td>
                <td>
                    <select id="SIH_INC_MIC_Number" class="form-select SIH_INC_MIC_Number" asp-items="@ViewBag.IncomeCode" disabled></select>
                </td>
                <td>
                    <input id="SIH_INC_MIC_Description" class="form-control SIH_INC_MIC_Description" readonly />
                </td>
                <td>
                    <input id="SIH_INC_Remarks" class="form-control SIH_INC_Remarks" readonly />
                </td>
                <td>
                    <select id="SIH_INC_OCRN_Number" class="form-select SIH_INC_OCRN_Number" asp-items="@ViewBag.Occurrence" disabled></select>
                </td>
                <td>
                    <select id="SIH_INC_CM_Number" class="form-select SIH_INC_CM_Number" asp-items="@ViewBag.ChargeableMethod" disabled></select>
                </td>
                <td>
                    <input id="SIH_INC_IncomeBase" class="form-control SIH_INC_IncomeBase decimal text-end" readonly />
                </td>
                <td>
                    <input id="SIH_INC_IncomeValue" class="form-control SIH_INC_IncomeValue decimal text-end" readonly />
                </td>
                <td>
                    <select id="SIH_INC_ALCT_Number" class="form-select SIH_INC_ALCT_Number" asp-items="@ViewBag.Allocate" disabled></select>
                </td>
                <td>
                    <select id="SIH_INC_LA_Number" class="form-select SIH_INC_LA_Number" asp-items="@ViewBag.LedgerAccount" disabled></select>
                </td>
                <td>
                    <select id="SIH_INC_CalculateGST" class="form-select SIH_INC_CalculateGST" asp-items="@ViewBag.IsCalculate"></select>
                </td>
                <td>
                    <input id="SIH_INC_GST_Amount" class="form-control SIH_INC_GST_Amount decimal text-end" readonly autocomplete="off" />
                    <input id="SIH_INC_SAC_Number" class="form-control SIH_INC_SAC_Number" autocomplete="off" type="hidden" />
                </td>
                <td class="table-width-md">
                    <input id="SIH_INC_WHT_Percent" class="form-control SIH_INC_WHT_Percent decimal text-end" autocomplete="off" readonly />
                </td>
                <td class="table-width-xl">
                    <input id="SIH_INC_WHT_Amount" class="form-control SIH_INC_WHT_Amount decimal text-end" autocomplete="off" readonly />
                </td>
                <td><a id="HeaderTaxView" class="btn btn-primary btn-sm TaxView">GST View</a></td>
                <td class="action text-center">
                    <input id="SIH_INC_SOH_Number" class="form-control SIH_INC_SOH_Number" type="hidden" />
                    <input id="SIH_INC_SOH_INC_Number" class="form-control SIH_INC_SOH_INC_Number" type="hidden" />
                    <input type="hidden" name="SIH_INC_IsDeleted" class="SIH_INC_IsDeleted" />

                    <a class="IncRowRemove icon-link text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>

            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr class="IncNewRow" style="@(@Model[i].SIH_INC_IsDeleted == 1 ? "display: none;":"")">
                        <td>
                            <input id="SIH_INC_SOH_OrderNo" name="Income[@i].SIH_INC_SOH_OrderNo" readonly class="form-select SIH_INC_SOH_OrderNo" value="@Model[i].SIH_INC_SOH_OrderNo" />
                        </td>
                        <td>
                            <select id="SIH_INC_MIC_Number" name="Income[@i].SIH_INC_MIC_Number" readonly class="form-select SIH_INC_MIC_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.IncomeCode)
                                    {
                                    if (item.Value == Model[i].SIH_INC_MIC_Number)
                                        {
                                        <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                        <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                            </select>
                        </td>
                        <td>
                            <input id="SIH_INC_MIC_Description" name="Income[@i].SIH_INC_MIC_Description" readonly class="form-control SIH_INC_MIC_Description" value="@Model[i].SIH_INC_MIC_Description" />
                        </td>
                        <td>
                            <input id="SIH_INC_Remarks" name="Income[@i].SIH_INC_Remarks" readonly class="form-control SIH_INC_Remarks" value="@Model[i].SIH_INC_Remarks" />
                        </td>
                        <td>
                            <select id="SIH_INC_OCRN_Number" name="Income[@i].SIH_INC_OCRN_Number" class="form-select SIH_INC_OCRN_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Occurrence)
                                {
                                    if (item.Value == Model[i].SIH_INC_OCRN_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="SIH_INC_CM_Number" name="Income[@i].SIH_INC_CM_Number" class="form-select SIH_INC_CM_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ChargeableMethod)
                                {
                                    if (item.Value == Model[i].SIH_INC_CM_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="SIH_INC_IncomeBase" name="Income[@i].SIH_INC_IncomeBase" class="form-control SIH_INC_IncomeBase decimal text-end" readonly value="@Model[i].SIH_INC_IncomeBase" />
                        </td>
                        <td>
                            <input id="SIH_INC_IncomeValue" name="Income[@i].SIH_INC_IncomeValue" class="form-control SIH_INC_IncomeValue decimal text-end" readonly value="@Model[i].SIH_INC_IncomeValue" />
                        </td>
                        <td>
                            <select id="SIH_INC_ALCT_Number" name="Income[@i].SIH_INC_ALCT_Number" class="form-select SIH_INC_ALCT_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Allocate)
                                {
                                    if (item.Value == Model[i].SIH_INC_ALCT_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="SIH_INC_LA_Number" name="Income[@i].SIH_INC_LA_Number" class="form-select SIH_INC_LA_Number" disabled>
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.LedgerAccount)
                                {
                                    if (item.Value == Model[i].SIH_INC_LA_Number)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select id="SIH_INC_CalculateGST" name="Income[@i].SIH_INC_CalculateGST" class="form-select SIH_INC_CalculateGST">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.IsCalculate)
                                {
                                    if (item.Value == Model[i].SIH_INC_CalculateGST)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input id="SIH_INC_GST_Amount" name="Income[@i].SIH_INC_GST_Amount" class="form-control SIH_INC_GST_Amount decimal text-end" autocomplete="off" readonly value="@Model[i].SIH_INC_GST_Amount" />
                            <input id="SIH_INC_SAC_Number" name="Income[@i].SIH_INC_SAC_Number" class="form-control SIH_INC_SAC_Number" type="hidden" autocomplete="off" readonly value="@Model[i].SIH_INC_SAC_Number" />
                        </td>
                        <td class="table-width-md">
                            <input id="SIH_INC_WHT_Percent" name="Income[@i].SIH_INC_WHT_Percent" class="form-control SIH_INC_WHT_Percent text-end" autocomplete="off" readonly value="@Model[i].SIH_INC_WHT_Percent" />
                        </td>
                        <td class="table-width-xl">
                            <input id="SIH_INC_WHT_Amount" name="Income[@i].SIH_INC_WHT_Amount" class="form-control SIH_INC_WHT_Amount decimal text-end" autocomplete="off" readonly value="@Model[i].SIH_INC_WHT_Amount" />
                        </td>
                        <td><a id="HeaderTaxView" class="btn btn-primary btn-sm TaxView">Tax View</a></td>
                        <td class="action text-center">
                            <input name="Income[@i].SIH_INC_SOH_INC_Number" type="hidden" class="SIH_INC_SOH_INC_Number" value="@Model[i].SIH_INC_SOH_INC_Number" />
                            <input name="Income[@i].SIH_INC_SOH_Number" type="hidden" class="SIH_INC_SOH_Number" value="@Model[i].SIH_INC_SOH_Number" />
                            <input type="hidden" name="Income[@i].SIH_INC_IsDeleted" class="SIH_INC_IsDeleted" value="@Model[i].SIH_INC_IsDeleted" />

                            <a class="IncRowRemove icon-link text-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td colspan="7" class="text-end py-2 pe-2">Total</td>
                <td class="table-width-3xl text-end">
                    <input id="TotalIncAmount" class="form-control text-end" readonly />
                </td>
                <td colspan="3">
                </td>
                <td class="table-width-xl text-end">
                    <input id="TotalIncGST" class="form-control text-end" readonly />
                </td>
                <td>
                </td>
                <td>
                    <input id="TotalIncWHT" class="form-control text-end" readonly />
                </td>
                <td colspan="2">
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    var IncrowCount = @(Model != null ? Model.Count : 0);
    function IncAddRow(SO) {
        var IncNewRow = $("#IncTempRow").clone().removeAttr("style").removeAttr("id").addClass("IncNewRow");
        IncNewRow.find("input.SIH_INC_SOH_OrderNo").attr("name", "Income[" + IncrowCount + "].SIH_INC_SOH_OrderNo").val(SO.soH_INC_SOH_OrderNo);
        IncNewRow.find("input.SIH_INC_SOH_INC_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_SOH_INC_Number").val(SO.soH_INC_Number);
        IncNewRow.find("input.SIH_INC_SOH_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_SOH_Number").val(SO.soH_INC_SOH_Number);
        IncNewRow.find("select.SIH_INC_MIC_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_MIC_Number").val(SO.soH_INC_MIC_Number);
        IncNewRow.find("input.SIH_INC_MIC_Description").attr("name", "Income[" + IncrowCount + "].SIH_INC_MIC_Description").val(SO.soH_INC_Description);
        IncNewRow.find("input.SIH_INC_Remarks").attr("name", "Income[" + IncrowCount + "].SIH_INC_Remarks").val(SO.soH_INC_Remarks);
        IncNewRow.find("select.SIH_INC_OCRN_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_OCRN_Number").val(SO.soH_INC_OCRN_Number);
        IncNewRow.find("select.SIH_INC_CM_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_CM_Number").val(SO.soH_INC_CM_Number);
        IncNewRow.find("input.SIH_INC_IncomeBase").attr("name", "Income[" + IncrowCount + "].SIH_INC_IncomeBase").val(SO.soH_INC_IncomeBase);
        IncNewRow.find("input.SIH_INC_IncomeValue").attr("name", "Income[" + IncrowCount + "].SIH_INC_IncomeValue").val(SO.soH_INC_IncomeValue);
        IncNewRow.find("select.SIH_INC_ALCT_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_ALCT_Number").val(SO.soH_INC_ALCT_Number);
        IncNewRow.find("select.SIH_INC_LA_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_LA_Number").val(SO.soH_INC_LA_Number);
        IncNewRow.find("select.SIH_INC_CalculateGST").attr("name", "Income[" + IncrowCount + "].SIH_INC_CalculateGST").val("2");
        IncNewRow.find("input.SIH_INC_GST_Amount").attr("name", "Income[" + IncrowCount + "].SIH_INC_GST_Amount");
        IncNewRow.find("input.SIH_INC_WHT_Percent").attr("name", "Income[" + IncrowCount + "].SIH_INC_WHT_Percent").val($("SIH_WHT_Percent").val());
        IncNewRow.find("input.SIH_INC_WHT_Amount").attr("name", "Income[" + IncrowCount + "].SIH_INC_WHT_Amount");
        IncNewRow.find("input.SIH_INC_SAC_Number").attr("name", "Income[" + IncrowCount + "].SIH_INC_SAC_Number").val(SO.soH_INC_SAC_Number);
        IncNewRow.find("input.SIH_INC_IsDeleted").attr("name", "Income[" + IncrowCount + "].SIH_INC_IsDeleted").val(0);

        $("#IncTableBody").append(IncNewRow);
        IncrowCount++;
    }
    
    $(document).on('click', '#HeaderIncomeModal', function () {
        IncCalculateFooter();
    });

    $(document).on('click', '.IncRowRemove', function () {
        $(this).closest('tr').find("input.SIH_INC_IsDeleted").val(1);
        $(this).closest('tr').hide();
        (async () => {
            await IncCalculateFooter();
            await CalculateAllIncome();
        })();
    });

    $(document).on('change', "tr.IncNewRow select.SIH_INC_CalculateGST", function () {
        (async () => {
            await IncCalculateFooter();
            await CalculateAllIncome();
        })();
    });
    
    $(document).on('click', '.TaxView', function () {
        var Cluster = $("#PIH_TaxCluster_Number").val();
        var siiDate = $("#PIH_InvoiceDate").val();

        var currentRow = $(this).closest('tr.IncNewRow');
        var isGst = currentRow.find("select.SIH_INC_CalculateGST").val();
        if (isGst === "2") {
            var SACNumber = currentRow.find("input.SIH_INC_SAC_Number").val();
            var IncomeValue = currentRow.find("input.SIH_INC_IncomeValue").val();

            $.ajax({
                type: "get",
                url: "income/gst/view",
                data: { Cluster: Cluster, siiDate: siiDate, SAC: SACNumber, BaseAmount: IncomeValue },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    const Table = document.getElementById('TaxTableView');
                    Table.innerHTML = "";

                    if (Table) {
                        const TaxView = ClusterTaxView(data);
                        Table.appendChild(TaxView);
                    }

                    new bootstrap.Modal($("#TaxView")).show();
                    $('#TaxView').on('shown.bs.modal', function () {
                        $(this).find('[autofocus]').focus();
                    });
                }
            });
        }
    });

    async function GetClusterIncomeAmount(Cluster, siiDate, SACNumber, BaseAmount) {
        const Amount = await $.ajax({
            url: 'income/gst',
            data: { Cluster: Cluster, SIHDate: siiDate, SAC: SACNumber, BaseAmount: BaseAmount },
            type: 'GET'
        });
        return Amount;
    }

    async function IncCalculateFooter() {
        var TotalIncAmount = 0;
        var TotalIncGstAmount = 0;
        var TotalIncWHTAmount = 0;
        $("tr.IncNewRow").each(function () {
            var IsDeleted = parseInt($(this).find("input.SIH_INC_IsDeleted").val());
            if(IsDeleted!=1){
                var IncAmount = $(this).find(".SIH_INC_IncomeValue").val();
                var GstAmount = $(this).find(".SIH_INC_GST_Amount").val();
                var WHTAmount = $(this).find(".SIH_INC_WHT_Amount").val();

                TotalIncAmount += parseFloat(removeCommas(IncAmount));
                TotalIncGstAmount += parseFloat(removeCommas(GstAmount));
                TotalIncWHTAmount += parseFloat(removeCommas(WHTAmount));
            }
        });
        $("#TotalIncAmount").val(DecimalIndianRupees(TotalIncAmount.toFixed(2)));
        $("#TotalIncGST").val(DecimalIndianRupees(TotalIncGstAmount.toFixed(2)));
        $("#TotalIncWHT").val(DecimalIndianRupees(TotalIncWHTAmount.toFixed(2)));
    }
</script>
<style>
    .search-results {
        position: absolute;
        z-index: 1000;
        overflow-y: auto;
        width: 400px;
        max-height:300px;
    }
</style>